- content_for :title, "New Certificate Enrollment Request"

.reseller_registration_profile
  %h3 New Certificate Enrollment Request
  %p Please fill out the field below to enroll.

= render partial: "form"
