module Pillar
  RSpec.describe <%= class_name %> do
    describe "root path should return components root path" do
      it ".root" do
        puts <%= class_name %>.root
        expect(<%= class_name %>.root).to eq(Pathname.new(File.expand_path("../../..", __dir__)))
      end
    end
  end
end
