<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $.update_country = function(country_select){
      if($(country_select).find(':selected').text()=="United States")
        $('label[for*=state]').text("State*");
      else
        $('label[for*=state]').text("State/Province");
    };
    $('.add_to_cart').click(function() {
      $(this).parent().effect("transfer", {
        to: "#cart a"
      });
      $('#cart').effect("highlight", {}, 3000);
    });
    $(':radio[id*=reseller_type_organization_individual]').click(function(){
      $('#reseller_organization').parents('.clearfix').hide();
      $('label[for*=tax_number]').text("SS# or Personal ID*").remove('.label_desc');
    });
    $(':radio[id*=reseller_type_organization_business]').click(function(){
      $('#reseller_organization').parents('.clearfix').show();
      $('label[for*=tax_number]').text("Tax Number*").append("<span class='label_desc'>VAT for EU companies</span>");
    });
    $('#reseller_country').change(function(){
      $.update_country(this);
    });
    $('label[for*=tax_number]').text("Tax Number*").append("<span class='label_desc'>VAT for EU companies</span>");
    $(':radio:checked').click();
    $.update_country('#reseller_country');
  });
  <% unless SERVER_SIDE_CART %>
  $('input[type=radio][id*=reseller_tier]').click(function(){
    $.cookie("cart", null, {path: '/'});
    $.cookie("aid_li", null, {path: '/'});
    var cart = $.cookie("cart");
    var affiliate = $.cookie("aid");
    var affiliateLineItem = $.cookie("aid_li");
    if(cart==null)
      cart="";
    if(affiliateLineItem==null)
      affiliateLineItem="";
    if(cart.indexOf($(this).attr("id"))==-1)
      cart=cart+$(this).attr("id")+":";
    affiliateLineItem=affiliateLineItem+((affiliate==null)?"n":affiliate)+":";
    $.cookie("cart", cart, { expires: <%=AppConfig.cart_cookie_days%>, path: '/'});
    $.cookie("aid_li", affiliateLineItem, { expires: <%=AppConfig.affiliate_cookie_days%>, path: '/'});
    $.adjust_items_in_cart();
    //update cart
  });
  <% end %>
});
</script>
