-content_for :title, "Select Reseller Pricing Tier"
=render :partial => 'index_scripts'
=render(:partial => 'shared/form_progress_indicator', :locals => {options:{li_style: "margin: 0px 40px"}, :pages=>[Reseller::SIGNUP_PAGES_FREE, 2]})
.reseller_registration_select_tier
  =error_messages_for :reseller_tier
  %h3 Select Pricing Tier
  %p Please select the pricing tier that fits your requirements and click the submit button. Pricing information can be found on the right column.
  =form_for @reseller_tier, :url => account_reseller_path do |f|
    =render :partial => "/reseller_tiers/tiers"
    #button_container
      #auto_adjust
        =image_submit_tag "cancel_bl.gif", :name=>"cancel"
        =image_submit_tag "prev_bl.gif", :name=>"prev"
        =image_submit_tag "next_bl.gif", :name=>"next"


