-if csr
  -cache([current_user,'managed_csrs/detailed_info', csr]) do
    -csr = csr
    %tr.expanded
      %td{colspan: show_folders_container? ? '8' : '7'}
        .certificate_details
          =render :partial=>'/managed_csrs/csr', :object=>csr