<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#number_rows').change(function() {
      url = window.location.href;
      if (url.indexOf('?')>0) {
        url = url.substring(0, url.indexOf('?'))
      }
      window.location = url + "/?per_page=" + $(this).val();
    });

    $('.dropdown, .status_message, .expand, .subject_column > a').click(function(){

      var currentElmt = $(this);

      if (currentElmt.parents().filter('tr').next().hasClass('expanded') == true) {
        if (currentElmt.parents().filter('tr').next().is(":visible")) {
          currentElmt.parents().filter('tr').next().hide();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('open');
        } else {
          currentElmt.parents().filter('tr').next().show();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('close');
        }
      } else {
        var csr_id = currentElmt.parents().filter('tr').attr('alt');
        var ajaxUrl = '<%=show_csr_detail_managed_csrs_path()%>';

        $.ajax({
          url: ajaxUrl,
          data: {
            id: csr_id
          },
          type: "GET",
          dataType: "html",
          success: function(result) {
            if (result == 'no-user') {
              location.reload(true);
            } else {
              console.log(result);
              if (currentElmt.parents().filter('tr').next().hasClass('expanded') == false) {
                currentElmt.parents().filter('tr').after(result);
                currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
                currentElmt.parents().filter('tr').find('.expand').text('close');
              }
            }
          }
        });
      }

    });

    // Show / Hide CSR field for past own CSR.
    $('.own_csr').click(function() {
      if ($(this).prop('checked')) {
        $('#csr').val('');
        $('.csr_wrap').show();
        $('.generate_cert').prop('disabled', true);
        $('.generate_wrap').hide();
        $('#upload_validations').hide();
      } else {
        $('.csr_wrap').hide();
        $('.generate_cert').prop('disabled', false);
        $('.generate_wrap').show();
        $('#upload_validations').hide();
      }
    });

    // Show / Hide Validate button only if CSR value exist.
    $(document).on('blur keyup', '#csr', function() {
      if ($(this).val() == '') {
        $('#upload_validations').hide();
      } else {
        $('#upload_validations').show();
      }
    });

    // Generate CSR based on inputted Common Info and SANs.
    $('.generate_cert').click(function() {
      // Adding loading bar while generate CSR, Private Key and Certificate.
      var page_loader_wrap = $('<div></div>');
      page_loader_wrap.attr('class', 'page_loader_wrap');

      var page_loader = $('<div></div>');
      page_loader.attr('class', 'page_loader');

      page_loader_wrap.append(page_loader);

      window.scrollTo(0, 0);
      $('body').addClass('no_scroll_y');
      page_loader_wrap.insertBefore($('#header'));

      // Getting Common Info
      const info = {};
      info['commonname'] = $('#commonname').val();
      info['email'] = $('#email').val();
      info['organization'] = $('#organization').val();
      info['organizationalunit'] = $('#organizationalunit').val();
      info['address'] = $('#address').val();
      info['locality'] = $('#locality').val();
      info['state'] = $('#state').val();
      info['country'] = $('#country').val();
      info['zipcode'] = $('#zipcode').val();

      // Getting SANs array
      var sans = [];
      var sans_str = $('#sans').val();
      if (sans_str != '') {
        sans_str = sans_str.replace(/,/g, ' ').replace(/\s\s+/g, ' ').replace(/(\r\n|\n|\r)/gm, ' ');
        sans = sans_str.split(' ');
      }

      // Generate CSR.
      generateCSR(info, sans, undefined, function(csr, pkey) {
        $('#csr').val(csr);
        $('.generate_wrap').hide();
        $('.csr_wrap').show();
        $('#upload_validations').show();

        $('.page_loader_wrap').hide();
        $('body').removeClass('no_scroll_y');
      });
    });

  });
});
</script>
