-title = "CSR Manager"
-content_for :title, title
=render :partial => 'index_scripts'

#validations
  %table(cellspacing="0")
    -if will_paginate @csrs
      %tfoot
        %tr
          %td.wrap_number_rows(colspan='2')
            =select_tag :number_rows,
            options_for_select([[5, 5], [10, 10], [20, 20], [50, 50], [100, 100]], @per_page),
            :class=>'per_page'
          %td(colspan='6')=will_paginate @csrs
    %caption
      =title
    -unless current_user.is_system_admins?
      %tr
        =link_to 'Add CSR', new_managed_csr_path(@ssl_slug), class: 'button_blue button_index'
        =link_to 'Delete CSR(s)', remove_managed_csrs_managed_csrs_path(@ssl_slug), class: 'button_blue button_index delete_checkbox_csrs', :style => 'display: none'
    %tr.heading_row
      %th.delete_csr
        =check_box_tag 'select_all', nil, false
      %th
      %th.name(scope="col") MD5 Hash
      %th(scope="col") Friendly Name
      %th(scope="col") Common Name
      %th(scope="col") Created At
      %th(scope="col") Validity Period
      %th(scope="col") Action
    -@csrs.each do |csr|
      %tr(alt="#{csr.id}")
        %td.delete_csr
          =check_box_tag 'checkbox_csrs', csr.id, false, id: csr.id, class: 'checkbox_csr'
        %td.dropdown
          =image_tag 'expand.png'
        %td=csr.md5_hash
        %td=csr.friendly_name
        %td=csr.common_name
        %td=csr.created_at.strftime("%b %d, %Y")
        %td=DomainControlValidation::MAX_DURATION_DAYS[:email]-(Date.today-csr.created_at.to_date).to_i
        %td
          =link_to('edit', edit_managed_csr_path(@ssl_slug, csr.id))
          -if csr.certificate_order.nil?
            |
            =link_to 'remove', managed_csr_path(@ssl_slug, csr.id), method: :delete
