.bundle
db/*.sqlite3
config/database.yml
config/secrets.yml
capybara*.html
.zeus.sock
config/settings.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.idea/
.sass-cache/
app/assets/
config/ssl/
log/
tmp/
/.idea/workspace.xml
.DS_Store
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/synced_folders
