- count = current_user.affiliate.mailbox.unread_mail.count
.yui-b
  .box
    %h3="Management".l
    .yui-g
      .yui-u.first
        = image_tag 'icons/accept.png', :plugin => 'community_engine'            
        ="View affiliate:".l
        %ul
          %li=link_to "Inbox #{'('+count.to_s+')' if count > 0}", affiliate_messages_path(current_user.affiliate)
          %li=link_to 'Profile'.l, affiliate_path(@affiliate)
          %li=link_to 'Link Codes'.l, link_codes_affiliate_path(@affiliate)
          %li=link_to 'Blog'.l, affiliate_posts_path(@affiliate)
          %li=link_to 'Photos'.l, affiliate_affiliate_photos_path(@affiliate)
          %li=link_to 'Sales'.l, affiliate_orders_path(@affiliate)
      .yui-u
        = image_tag 'icons/wrench.png', :plugin => 'community_engine'      
        ="Manage affiliate:".l
        %ul
          %li=link_to 'Profile'.l, edit_profile_affiliate_path(@affiliate)
          %li=link_to 'Account'.l, edit_affiliate_path(@affiliate)
          %li=link_to 'Settings'.l, settings_affiliate_path(@affiliate)
          %li=link_to 'Link Codes'.l, link_codes_affiliate_path(@affiliate)
          %li=link_to 'Blog posts'.l, manage_affiliate_posts_path(@affiliate)
  .box.alt
    %h3="Stats".l
    %ul
      %li= @affiliate.created_at.strftime("Affiliate member since: %m/%d/%y")
      %li="Number of studios this affiliate promotes: ".l + @affiliate.studio_subscriptions.count.to_s
      %li
        %dl
          %dt Affiliate has:
          %dd{:style=>"text-indent: 10px;"}=link_to :posts_count.l(:count=>@affiliate.posts.count), affiliate_posts_path(@affiliate)
          %dd{:style=>"text-indent: 10px;"}=link_to :photos_count.l(:count=>@affiliate.photos.count), affiliate_affiliate_photos_path(@affiliate)
          /%dd{:style=>"text-indent: 10px;"}=link_to :comments_count.l(:count=>@affiliate.comments.count),
