%h3="Affiliate Links".l
%ul
  %li
    &raquo;
    =link_to "Edit Affiliate Account".l, edit_affiliate_path(@affiliate)
  %li
    &raquo;
    =link_to "Edit Affiliate Settings".l, edit_affiliate_path(@affiliate)
  %li
    &raquo;
    =link_to "Get Link Codes".l, link_codes_affiliate_path(@affiliate)
  %li
    &raquo;
    =link_to "Sales Report".l, affiliate_orders_path(@affiliate)