=render :partial => 'index_scripts'
.yui-b
  .box
    =render :partial=>'management'
#yui-main
  .yui-b
    .box
      %h3="Edit Affiliate Account".l
      = error_messages_for :object
    #medium-form
      - form_for object, :url => object_path, :html => {:method => :put, :class => "MainForm"} do |f|
        =render :partial=>'/studios/form', :locals => {:f => f}