=render :partial => 'index_scripts'
.yui-b
  .box
    %h3
      ="Why Become an Affiliate?".l
    %ul.list.checks
      %li Start making money in minutes
      %li Promote studios from your niche
      %li And/or promote the best paying studios
      %li Detailed sales reporting
      %li Identify which ads are producing sales
      %li Choose which content you want to promote
      %li New content published daily
      %li Get real-time promo feeds to use
      %li Signup is free!
      %li And much more...

#yui-main
  .yui-b
    .box
      %h3="Become An Affiliate".l
      = error_messages_for :object
    %p
      Start promoting the latest videos on eroslife.com and earn a commission from each sale, just fill
      out the form below to become an eroslife.com affiliate.
    #medium-form
      - form_for Affiliate.new, :html => {:class => "MainForm"} do |f|
        =render :partial=>'/studios/form', :locals => {:f => f}