/* line 1, ../../../app/stylesheets/buy_now.sass */
body[class|="page-body"] {
  background: none repeat scroll 0 0 white;
}

/* line 4, ../../../app/stylesheets/buy_now.sass */
a {
  text-decoration: none;
}
/* line 6, ../../../app/stylesheets/buy_now.sass */
a img {
  border: medium none;
}

/* line 10, ../../../app/stylesheets/buy_now.sass */
.certificate-page h1, .certificate-page h2 {
  font-family: Arial, Helvetica, "MS Trebuchet", sans-serif !important;
}

/* line 13, ../../../app/stylesheets/buy_now.sass */
.bold {
  font-weight: bold;
}

/* line 16, ../../../app/stylesheets/buy_now.sass */
.left {
  float: left;
}

/* line 19, ../../../app/stylesheets/buy_now.sass */
.right {
  float: right;
}

/* line 22, ../../../app/stylesheets/buy_now.sass */
.icn-compatibility, .icn-lock, .icn-shield, .icn-mobile, .icn-medical, .icn-baggage, .icn-lifeguard, .icn-box, .icn-tool, .icn-ssl {
  background: url("/images/sprite-contentlogos.jpg?1336752140") no-repeat scroll 0 0 transparent;
}

/* line 25, ../../../app/stylesheets/buy_now.sass */
.icn-compatibility {
  background-position: 5px 5px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 30, ../../../app/stylesheets/buy_now.sass */
.icn-lock {
  background-position: 5px -48px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 35, ../../../app/stylesheets/buy_now.sass */
.icn-shield {
  background-position: 5px -101px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 40, ../../../app/stylesheets/buy_now.sass */
.icn-mobile {
  background-position: 5px -154px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 45, ../../../app/stylesheets/buy_now.sass */
.icn-medical {
  background-position: 5px -206px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 50, ../../../app/stylesheets/buy_now.sass */
.icn-baggage {
  background-position: 5px -260px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 55, ../../../app/stylesheets/buy_now.sass */
.icn-lifeguard {
  background-position: 5px -313px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 60, ../../../app/stylesheets/buy_now.sass */
.icn-box {
  background-position: 5px -364px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 65, ../../../app/stylesheets/buy_now.sass */
.icn-tool {
  background-position: 5px -418px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 70, ../../../app/stylesheets/buy_now.sass */
.icn-ssl {
  background-position: 5px -470px;
  margin-left: -10px;
  padding: 15px 30px;
}

/* line 75, ../../../app/stylesheets/buy_now.sass */
.divider {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid white;
  margin: 6px 15px 8px;
}

/* line 80, ../../../app/stylesheets/buy_now.sass */
.btn-buynow {
  background: url("/images/btn-buynow-sprite.png") no-repeat scroll 0 0 transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #537a21;
  height: 24px;
  margin: 15px 75px 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 0 8px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 0 0 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 1px 0 #6a8f29;
  font-family: Helvetica, arial, san-serif;
  padding: 9px 0 1px 34px;
  cursor: pointer;
}
/* line 99, ../../../app/stylesheets/buy_now.sass */
.btn-buynow:hover {
  background: url("/images/btn-buynow-sprite.png") no-repeat scroll 0 -43px transparent;
}
/* line 101, ../../../app/stylesheets/buy_now.sass */
.btn-buynow:active {
  background: url("/images/btn-buynow-sprite.png") no-repeat scroll 0 -86px transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  padding: 10px 0 0 34px;
  text-shadow: 0 -1px 0 #6a8f29;
}

/* line 110, ../../../app/stylesheets/buy_now.sass */
.btn-wegot {
  background-color: #f78c0d;
  background-image: -moz-linear-gradient(center top, #fdb02e 1pt, #eb840e 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FDB02E2E,EndColorStr=#EB840E);
  background-image: -ms-linear-gradient(top, #fdb02e 3pt, #eb840e 100%);
  background-image: -o-linear-gradient(top, #fdb02e 3pt, #eb840e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3pt, #fdb02e), color-stop(100%, #eb840e));
  background-image: -webkit-linear-gradient(top, #fdb02e 3pt, #eb840e 100%);
  background-image: linear-gradient(top bottom, #fdb02e 3pt, #eb840e 100%);
  color: white;
  font-family: Helvetica, arial, san-serif;
  font-size: 18px;
  border: 1px solid #c16a03;
  border-color: #c16a03 #c16a03 #ad5c05;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  text-shadow: 0 1px 0 #777777;
  font-family: Helvetica, arial, san-serif;
  padding: 6px 17px 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 120px;
  cursor: pointer;
}
/* line 136, ../../../app/stylesheets/buy_now.sass */
.btn-wegot:hover {
  background-color: #fba927;
  background-image: none;
  /*box-shadow: 0 0 4px #999;
   *-moz-box-shadow: 0 0 4px #999;
   *-ms-box-shadow: 0 0 4px #999;
   *-webkit-box-shadow: 0 0 4px #999; */
  border-color: #ad5c05;
}
/* line 144, ../../../app/stylesheets/buy_now.sass */
.btn-wegot:active {
  background-color: #fdb02e;
  background-image: none;
  box-shadow: 0 6px 10px #d2750e inset;
  border-color: #b06003;
  text-shadow: 0 -1px 0 #aaaaaa;
}

/* line 151, ../../../app/stylesheets/buy_now.sass */
.logo {
  background: url("/images/ssl-logo.png?1336815194") no-repeat scroll left 2px transparent;
  padding: 0 72px;
}

/* line 155, ../../../app/stylesheets/buy_now.sass */
.logo-small {
  background: url("/images/ssl-logo-small.png?1336815404") no-repeat scroll 0 0 transparent;
  padding: 0 0 5px 90px;
}

/* line 159, ../../../app/stylesheets/buy_now.sass */
.logo-smaller {
  background: url("/images/ssl-logo-smaller.png?1336817764") no-repeat scroll 0 0 transparent;
  padding: 0 0 5px 50px;
}

/* line 163, ../../../app/stylesheets/buy_now.sass */
.section-title {
  font-weight: bold !important;
  margin-bottom: 20px !important;
}
/* line 166, ../../../app/stylesheets/buy_now.sass */
.section-title span {
  font-family: helvetica, arial, san-serif;
  font-size: 26px;
  letter-spacing: -1px;
}
/* line 170, ../../../app/stylesheets/buy_now.sass */
.section-title span b {
  font-family: "arial black italic", helvetica, arial;
  font-weight: bold;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: -4.5px;
}

/* line 178, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner1, #banner-grid .banner2, #banner-grid .banner3 {
  font-family: Arial !important;
  padding: 8px 0;
  text-align: center;
  width: 300px;
}
/* line 183, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner1 {
  margin-left: 5px;
}
/* line 185, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner2 h2 {
  color: black !important;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 12px 0;
  padding: 0 !important;
}
/* line 191, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner1 h2, #banner-grid .banner3 h2 {
  color: black !important;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0 !important;
}
/* line 197, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner1 span, #banner-grid .banner2 span, #banner-grid .banner3 span {
  color: #777777 !important;
  font-size: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 16px;
}
/* line 203, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner1 {
  background: url("/images/banner-grid-bg.jpg?1336807336") repeat scroll 0 0 #e9e9e9;
  border-bottom: 2px solid #bbbbbb;
  border-left: 2px solid #bbbbbb;
  border-top: 2px solid #bbbbbb;
  box-shadow: -2px 3px 6px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  min-height: 275px;
}
/* line 211, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner2 {
  background: none repeat scroll 0 0 white;
  border: 3px solid #0072b2;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  padding: 8px;
}
/* line 217, ../../../app/stylesheets/buy_now.sass */
#banner-grid .banner3 {
  background: url("/images/banner-grid-bg.jpg?1336807336") repeat scroll 0 0 #e9e9e9;
  border-bottom: 2px solid #7fa832;
  border-right: 2px solid #7fa832;
  border-top: 2px solid #7fa832;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15), inset 3px 0 3px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
  min-height: 275px;
}

/* line 226, ../../../app/stylesheets/buy_now.sass */
.price-block {
  margin: 2px 0 0px 5px;
  text-align: center;
  width: 280px;
}
/* line 230, ../../../app/stylesheets/buy_now.sass */
.price-block div {
  display: inline;
}
/* line 232, ../../../app/stylesheets/buy_now.sass */
.price-block .red {
  color: #9e0101;
  font-size: 28px !important;
  font-weight: bold;
  line-height: 25px;
  padding: 0 !important;
}
/* line 238, ../../../app/stylesheets/buy_now.sass */
.price-block .price {
  color: #9e0101 !important;
  font-family: Georgia, serif;
  font-size: 30px !important;
  font-weight: bold !important;
}
/* line 243, ../../../app/stylesheets/buy_now.sass */
.price-block .price-desc {
  color: #999999 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin: 14px 0 0 -2px;
}
/* line 248, ../../../app/stylesheets/buy_now.sass */
.price-block .additional-desc {
  color: black !important;
}

/* line 251, ../../../app/stylesheets/buy_now.sass */
.price-block-special {
  text-align: center;
  /*width:280px; */
  margin: -3px 0 0 5px;
}
/* line 255, ../../../app/stylesheets/buy_now.sass */
.price-block-special .red {
  display: inline !important;
  line-height: 25px;
  padding: 0 !important;
  font-size: 30px !important;
  font: Arial !important;
  font-weight: bold !important;
  color: #9e0101 !important;
}
/* line 263, ../../../app/stylesheets/buy_now.sass */
.price-block-special .price {
  display: inline !important;
  font-family: Georgia, serif !important;
  font-size: 44px !important;
  color: #9e0101 !important;
  font-weight: bold !important;
}
/* line 269, ../../../app/stylesheets/buy_now.sass */
.price-block-special .price-desc {
  color: #999999 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin: -22px 0 0 148px !important;
}
/* line 274, ../../../app/stylesheets/buy_now.sass */
.price-block-special .additional-desc {
  color: black !important;
  margin-bottom: 15px !important;
}

/* line 278, ../../../app/stylesheets/buy_now.sass */
.security_rating {
  margin-bottom: 5px;
}
/* line 280, ../../../app/stylesheets/buy_now.sass */
.security_rating div {
  color: #888888;
  font-size: 11px;
  margin: -5px 0 8px;
}

/* line 285, ../../../app/stylesheets/buy_now.sass */
.banner1 .description li div, .banner2 .description li div {
  color: #9e0101 !important;
  display: inline;
  font-weight: bold;
}

/* line 290, ../../../app/stylesheets/buy_now.sass */
.banner3 .description li div {
  color: #9e0101 !important;
  display: inline;
  font-weight: bold;
}
/* line 294, ../../../app/stylesheets/buy_now.sass */
.banner3 .description li div.green {
  color: #7caa31 !important;
  display: inline;
  font-weight: bold;
}

/* line 299, ../../../app/stylesheets/buy_now.sass */
.banner1 .description li, .banner2 .description li, .banner3 .description li {
  color: #666666;
  font-family: Helvetica, Arial, san-serif;
  font-size: 16px !important;
  list-style-type: none !important;
  margin: 0 0 2px -22px;
}

/* line 307, ../../../app/stylesheets/buy_now.sass */
.banner2 .help {
  color: #999999 !important;
  letter-spacing: -1px;
  margin-top: -10px;
}
/* line 311, ../../../app/stylesheets/buy_now.sass */
.banner2 .help a {
  color: #3fa8ca !important;
  font-weight: bold;
}
/* line 314, ../../../app/stylesheets/buy_now.sass */
.banner2 .price-block {
  margin-left: 0 !important;
}
/* line 316, ../../../app/stylesheets/buy_now.sass */
.banner2 .price-block .price {
  color: #9e0101;
  font-size: 40px !important;
  font-weight: bold;
  margin-top: -20px;
  padding: 0 0 0 5px !important;
}
/* line 322, ../../../app/stylesheets/buy_now.sass */
.banner2 .price-block .price-desc {
  color: #9e0101;
  float: right;
  font-size: 11px !important;
  font-weight: bold;
  line-height: 15px;
  margin: 15px 10px 10px;
  padding: 0 !important;
  width: 110px;
}
/* line 331, ../../../app/stylesheets/buy_now.sass */
.banner2 .bestseal {
  margin: -16px 0 0 -16px;
  position: absolute;
}

/* line 335, ../../../app/stylesheets/buy_now.sass */
#advertisement {
  padding: 0 70px;
  width: 800px;
}
/* line 338, ../../../app/stylesheets/buy_now.sass */
#advertisement .catch-phrase {
  background: none repeat scroll 0 0 #e9e9e9;
  border: 1px solid #bbbbbb;
  color: #444444;
  font-family: Georgia, serif !important;
  font-size: 20px;
  margin: 30px 0 10px;
  padding: 15px 0;
  text-align: center;
  box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -moz-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -ms-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -webkit-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
}

/* line 352, ../../../app/stylesheets/buy_now.sass */
#partners {
  margin: 25px 0 32px;
}
/* line 354, ../../../app/stylesheets/buy_now.sass */
#partners li {
  list-style-type: none;
}
/* line 356, ../../../app/stylesheets/buy_now.sass */
#partners div {
  color: #999999;
  font-family: Helvetica, arial, san-serif;
  font-size: 16px;
  padding-top: 14px;
  margin-bottom: 14px;
}

/* line 364, ../../../app/stylesheets/buy_now.sass */
#content .left-icon-bar {
  background: none repeat scroll 0 0 #eeeeee;
  border: 1px solid #bbbbbb;
  color: #444444;
  font-size: 19px !important;
  font-family: Georgia, serif;
  padding: 10px 13px;
  text-align: center;
  line-height: 24px;
  box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -moz-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -ms-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  -webkit-box-shadow: 1px 1px 0 white inset, -1px -1px 0 white inset;
  text-shadow: 0 -1px 0 white;
}
/* line 378, ../../../app/stylesheets/buy_now.sass */
#content .left-icon-bar span {
  font-family: helvetica, arial, san-serif;
  font-size: 16px;
  letter-spacing: -1px;
}
/* line 382, ../../../app/stylesheets/buy_now.sass */
#content .left-icon-bar span b {
  font-family: "arial black italic";
  font-size: 26px;
  letter-spacing: -2px;
  font-weight: 100;
}
/* line 387, ../../../app/stylesheets/buy_now.sass */
#content #features {
  margin: 0 0 15px -40px;
  width: 320px;
}
/* line 390, ../../../app/stylesheets/buy_now.sass */
#content #features li {
  background: none repeat scroll 0 0 white;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bbbbbb;
  color: #333333;
  font-family: Arial, Helvetica, Tahoma;
  font-size: 13px;
  list-style-type: none;
  margin-top: 0;
  padding: 18px 15px;
}

/* line 402, ../../../app/stylesheets/buy_now.sass */
.inner-content h2 {
  color: #333333 !important;
  font-family: Georgia, serif !important;
  font-size: 42px !important;
  font-weight: normal !important;
  text-shadow: 0 -1px 0 white;
}

/* line 409, ../../../app/stylesheets/buy_now.sass */
.faq-boxes {
  width: 250px !important;
}
/* line 411, ../../../app/stylesheets/buy_now.sass */
.faq-boxes .title {
  color: #333333;
  font-family: helvetica, arial, san-serif;
  font-size: 15px;
  font-weight: bold;
}
/* line 416, ../../../app/stylesheets/buy_now.sass */
.faq-boxes p {
  color: #444444;
  font-family: Georgia, serif;
  font-size: 13px;
  line-height: 19px;
  margin: 5px 0 22px;
}

/* line 423, ../../../app/stylesheets/buy_now.sass */
.sidebarhome {
  float: left !important;
  margin: 0 40px 0 -26px !important;
  width: 320px !important;
}

/* line 428, ../../../app/stylesheets/buy_now.sass */
.faq-boxes {
  float: left;
  margin-right: 35px;
  width: 320px;
}

/* line 433, ../../../app/stylesheets/buy_now.sass */
.sidebarhome {
  background: none repeat scroll 0 0 transparent !important;
}

/* line 436, ../../../app/stylesheets/buy_now.sass */
.icn-help {
  float: right;
}

/* line 439, ../../../app/stylesheets/buy_now.sass */
#video img {
  border: solid 1px #c4c4c4;
}

/* line 442, ../../../app/stylesheets/buy_now.sass */
#badge {
  background-color: #e4edea;
  border: solid 1px #c4c4c4;
  margin-top: -1px;
}
/* line 446, ../../../app/stylesheets/buy_now.sass */
#badge img {
  border: none;
  margin: 20px 0 0 100px;
}
/* line 449, ../../../app/stylesheets/buy_now.sass */
#badge p {
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
  line-height: 16px;
}

/* line 455, ../../../app/stylesheets/buy_now.sass */
.inner-content {
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 578px !important;
}

/* line 461, ../../../app/stylesheets/buy_now.sass */
.notes {
  clear: both !important;
  width: 570px !important;
}
/* line 464, ../../../app/stylesheets/buy_now.sass */
.notes div {
  background-color: #f7f7f7;
  color: #333333;
  padding: 10px 0 !important;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  font-size: 14px !important;
  text-align: center !important;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 white;
  -webkit-text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  background-image: -moz-linear-gradient(center bottom, #dedede 10%, white 58%);
  background-image: -ms-linear-gradient(bottom, #dedede 10%, white 58%);
  background-image: -o-linear-gradient(bottom, #dedede 10%, white 58%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #dedede), color-stop(0.58, white));
  background-image: -webkit-linear-gradient(bottom, #dedede 10%, white 58%);
  background-image: linear-gradient(center bottom, #dedede 10%, #ffffff 58%);
  cursor: pointer;
}
/* line 486, ../../../app/stylesheets/buy_now.sass */
.notes div:hover {
  background-color: #f9f9f9;
  border-color: #999999;
  background-image: -moz-linear-gradient(center bottom, #dddddd 20%, white 58%);
  background-image: -ms-linear-gradient(bottom, #dddddd 20%, white 58%);
  background-image: -o-linear-gradient(bottom, #dddddd 20%, white 58%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.14, #dddddd), color-stop(0.58, white));
  background-image: -webkit-linear-gradient(bottom, #dddddd 20%, white 58%);
  background-image: linear-gradient(center bottom, #dddddd 20%, #ffffff 58%);
}
/* line 495, ../../../app/stylesheets/buy_now.sass */
.notes div:active {
  background-color: #f0f0f0;
  border-color: #999999;
  padding: 11px 0 9px !important;
  background-image: -moz-linear-gradient(center bottom, white 16%, #dedede 58%);
  background-image: -ms-linear-gradient(bottom, white 16%, #dedede 58%);
  background-image: -o-linear-gradient(bottom, white 16%, #dedede 58%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, white), color-stopdedede);
  background-image: -webkit-linear-gradient(bottom, white 16%, #dedede 58%);
  background-image: linear-gradient(center bottom, #ffffff 16%, #dedede 58%);
}
/* line 506, ../../../app/stylesheets/buy_now.sass */
.notes h1 {
  font-family: Georgia, serif !important;
  text-align: left !important;
  font-size: 40px !important;
}

/* line 511, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes {
  float: left;
  margin-right: 35px;
  width: 250px;
}
/* line 515, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box {
  background: url("/images/cloud.png") no-repeat;
  height: 150px;
  margin-right: 20px;
}
/* line 519, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box img {
  border: 3px solid white;
  margin: 10px 15px;
  float: left;
}
/* line 523, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .long blockquote {
  float: left;
  font-size: 13px;
  width: 180px;
  line-height: 20px;
  font-style: italic;
  margin-top: -5px !important;
}
/* line 530, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .short blockquote {
  float: left;
  font-size: 13px;
  width: 180px;
  line-height: 20px;
  font-style: italic;
  font-size: 15px !important;
}
/* line 538, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box blockquote {
  float: left;
  font-size: 13px;
  font-family: Georgia, serif;
  width: 180px;
  line-height: 20px;
  font-style: italic;
  margin-top: 12px;
}
/* line 546, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box div {
  position: absolute;
  margin-top: 104px;
  width: 125px !important;
}
/* line 550, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box div span {
  display: block;
  text-align: right;
  font-size: 12px;
  font-family: Arial;
}
/* line 555, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box div span.black {
  color: #323232;
}
/* line 557, ../../../app/stylesheets/buy_now.sass */
.testimonial-boxes .box div span.gray {
  color: #666666;
}

/* line 560, ../../../app/stylesheets/buy_now.sass */
.holder {
  min-height: 750px !important;
}

/* line 563, ../../../app/stylesheets/buy_now.sass */
.inner {
  overflow: visible !important;
}

/* line 566, ../../../app/stylesheets/buy_now.sass */
.requires_flash {
  font-size: 12px !important;
}
