/* CSS for ssl Website */
@font-face {
  font-family: "arial black";
  src: url(/fonts/aria-black.ttf);
}

@font-face {
  font-family: "arial black italic";
  src: url(/fonts/arial-black-italic.ttf);
}

/* line 12, ../../../app/stylesheets/master.sass */
body {
  background: white;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  min-height: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: 0 !important;
  padding: 0;
  position: relative !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
/* line 24, ../../../app/stylesheets/master.sass */
body[class|="page-body"] {
  background: white;
  /* Applies to IE 7 and most modern browsers except Opera */
}

/*MISCELLANOUS */
/* line 30, ../../../app/stylesheets/master.sass */
a {
  text-decoration: none;
}
/* line 32, ../../../app/stylesheets/master.sass */
a img {
  border: none;
}

/* line 35, ../../../app/stylesheets/master.sass */
.bold {
  font-weight: bold;
}

/* line 38, ../../../app/stylesheets/master.sass */
.left {
  float: left;
}

/* line 41, ../../../app/stylesheets/master.sass */
.right {
  float: right;
}

/* line 44, ../../../app/stylesheets/master.sass */
.clear {
  height: 1%;
  clear: both;
  content: ".";
  height: 0;
  visibility: hidden;
}

/* line 51, ../../../app/stylesheets/master.sass */
.divider {
  border-bottom: 1px solid #444444;
}

/* line 54, ../../../app/stylesheets/master.sass */
.divider-horizontal {
  border-right: 1px solid #aaaaaa;
  padding: 0 4px;
  height: 20px;
  margin: -3px 6px 0 0;
}

/*icons */
/* line 62, ../../../app/stylesheets/master.sass */
.icn_live, .icn_phone, .icn_email, .icn_support {
  background: url("/images/icon-set.png") no-repeat;
}

/* line 65, ../../../app/stylesheets/master.sass */
.icn_live {
  background-position: -10px 13px;
  padding: 17px 12px;
}

/* line 69, ../../../app/stylesheets/master.sass */
.icn_phone {
  background-position: -42px 12px;
  padding: 17px 14px;
}

/* line 73, ../../../app/stylesheets/master.sass */
.icn_email {
  background-position: -88px 12px;
  padding: 17px 14px;
}

/* line 77, ../../../app/stylesheets/master.sass */
.icn_support {
  background-position: -130px 12px;
  padding: 17px 12px;
}

/* line 81, ../../../app/stylesheets/master.sass */
.icn_cart {
  background: url("/images/icn-cart.png") 4px 3px no-repeat #4d4d4d;
  padding: 5px 6px 4px 24px;
  margin-left: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

/* line 89, ../../../app/stylesheets/master.sass */
.icn_cart-filled {
  background: url("/images/icn-cart.png") 4px 3px no-repeat #4d4d4d;
  padding: 5px 6px 4px 24px;
  margin-left: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background: url("/images/icn-cart.png") 4px 3px no-repeat #8bb43b;
}

/* line 98, ../../../app/stylesheets/master.sass */
.icn_cart:hover, .icn_cart-filled:hover {
  text-decoration: underline;
}

/* line 101, ../../../app/stylesheets/master.sass */
.content {
  margin: 0 auto !important;
  width: 960px;
}

/*header */
/* line 107, ../../../app/stylesheets/master.sass */
#header {
  text-align: left !important;
  background: #282928 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  height: 78px;
}
/* line 115, ../../../app/stylesheets/master.sass */
#header .content .logo {
  float: left;
  padding: 0px 150px 20px 0;
  margin-right: 15px;
  background: url("/images/big-logo.png") no-repeat;
}
/* line 120, ../../../app/stylesheets/master.sass */
#header .content .navigation {
  float: left;
  width: 580px;
}
/* line 123, ../../../app/stylesheets/master.sass */
#header .content .navigation .top_navigation {
  width: 580px;
  padding: 12px 0px 13px 30px;
  margin-left: 1px;
}
/* line 127, ../../../app/stylesheets/master.sass */
#header .content .navigation .bottom_navigation {
  width: 580px;
  padding: 17px 30px;
}

/* line 132, ../../../app/stylesheets/master.sass */
.top_navigation a {
  color: #cccccc !important;
}
/* line 134, ../../../app/stylesheets/master.sass */
.top_navigation li {
  float: right !important;
  color: #cccccc;
  list-style-type: none;
  padding: 0 4px;
  font-size: 12px;
}
/* line 135, ../../../app/stylesheets/master.sass */
.top_navigation li a:hover {
  color: white !important;
  text-decoration: underline;
  cursor: pointer !important;
}

/* line 146, ../../../app/stylesheets/master.sass */
.bottom_navigation ul#nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 150, ../../../app/stylesheets/master.sass */
.bottom_navigation li {
  float: right !important;
  background: #111111;
  border-right: 1px solid #282928;
  font-family: "arial black", arial;
  font-size: 12px;
  padding: 9px 18px;
  position: relative;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}
/* line 162, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover {
  background: #232323;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* line 168, ../../../app/stylesheets/master.sass */
.bottom_navigation ul#nav li a {
  display: block;
  color: #dddddd;
}
/* line 171, ../../../app/stylesheets/master.sass */
.bottom_navigation ul#nav li a:hover {
  display: block;
  color: white;
}
/* line 176, ../../../app/stylesheets/master.sass */
.bottom_navigation li ul {
  display: none;
  position: absolute;
  width: 160px;
  top: 0;
  left: 0;
  margin-left: -1px;
}
/* line 183, ../../../app/stylesheets/master.sass */
.bottom_navigation li > ul {
  top: 35px;
  left: 60px;
  background: #212121;
}
/* line 187, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul, .bottom_navigation li.over ul {
  display: block;
  list-style: none;
}
/* line 190, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul li {
  background: #232323;
  padding: 10px;
  width: 240px !important;
  border-top: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: pointer;
}
/* line 200, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul li.divider {
  margin: 0 0 0 10px;
  padding: 0 10px;
  border-bottom: #999999 1px solid;
}
/* line 204, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul li a {
  color: #cccccc !important;
}
/* line 206, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul li a:hover {
  color: white !important;
}
/* line 208, ../../../app/stylesheets/master.sass */
.bottom_navigation li:hover ul li:hover {
  width: 240px !important;
  background: black !important;
  color: white !important;
}

/*content */
/* line 215, ../../../app/stylesheets/master.sass */
.container {
  padding: 15px 0 0 0 !important;
}

/* line 218, ../../../app/stylesheets/master.sass */
#container {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  /* for modern browsers */
  height: 100%;
  background: #e6e6e6;
  text-align: left !important;
}

/*footer */
/* line 231, ../../../app/stylesheets/master.sass */
#footer {
  clear: both;
  background: #282928;
  width: 100%;
  margin: 0px;
  height: 260px;
  padding-top: 30px;
  bottom: 0;
  /* important */
  text-align: left !important;
}
/* line 242, ../../../app/stylesheets/master.sass */
#footer .content .box-logo {
  width: 190px;
}
/* line 245, ../../../app/stylesheets/master.sass */
#footer .content .box .footer-like {
  padding: 0px 210px 50px 0;
}
/* line 247, ../../../app/stylesheets/master.sass */
#footer .content .box .logo-small {
  padding: 0px 210px 60px 0;
  background: url("/images/small-logo.png") no-repeat;
}
/* line 250, ../../../app/stylesheets/master.sass */
#footer .content .box-social {
  width: 210px;
}
/* line 252, ../../../app/stylesheets/master.sass */
#footer .content .box {
  width: 185px;
  background: inherit;
  height: auto !important;
  margin-bottom: 0 !important;
  color: white;
}
/* line 258, ../../../app/stylesheets/master.sass */
#footer .content .box b {
  color: white !important;
}
/* line 260, ../../../app/stylesheets/master.sass */
#footer .content .box .title {
  font-size: 14px;
  margin-left: 34px;
}
/* line 263, ../../../app/stylesheets/master.sass */
#footer .content .box ul {
  margin: 12px 0 0 0 !important;
}
/* line 265, ../../../app/stylesheets/master.sass */
#footer .content .box li {
  list-style-type: none;
  padding: 4px;
}
/* line 268, ../../../app/stylesheets/master.sass */
#footer .content .box a {
  color: #dddddd;
  font-size: 12px;
  margin-left: -8px;
}
/* line 272, ../../../app/stylesheets/master.sass */
#footer .content .box a b {
  font-size: 12px;
  letter-spacing: -0.5px;
  font-weight: bold;
  font-style: italic;
}
/* line 277, ../../../app/stylesheets/master.sass */
#footer .content .box a:hover {
  color: white;
  text-decoration: underline;
}
/* line 280, ../../../app/stylesheets/master.sass */
#footer .content .copyright {
  margin: 0 0 0 220px;
  font-size: 12px;
  color: white;
}
