/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000314}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
body {
  line-height: 1;
  color: black;
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000319}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000321}}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000323}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000325}}
q, blockquote {
  quotes: "" "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000396}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/sysadmin\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.11\.beta\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000327}}
a img {
  border: none;
}
