/*---global common definitions--- */
/* line 2, ../../../app/stylesheets/site_report.sass */
* {
  font-size: 100.01%;
}

/* line 4, ../../../app/stylesheets/site_report.sass */
html {
  font-size: 62.5%;
}

/* line 6, ../../../app/stylesheets/site_report.sass */
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: white;
}

/* line 11, ../../../app/stylesheets/site_report.sass */
img {
  border: 0;
}

/* line 14, ../../../app/stylesheets/site_report.sass */
p, em {
  margin: 0.4em 0 0;
}

/* line 17, ../../../app/stylesheets/site_report.sass */
em {
  display: block;
}

/* line 20, ../../../app/stylesheets/site_report.sass */
a {
  color: #6b9029;
  outline: none;
  text-decoration: none;
  border-bottom-style: none;
}

/* line 26, ../../../app/stylesheets/site_report.sass */
a:hover {
  text-decoration: none;
}

/* line 29, ../../../app/stylesheets/site_report.sass */
#wrapper {
  padding: 1em;
  overflow: hidden;
  font-size: 1.2em;
}

/* header */
/* line 35, ../../../app/stylesheets/site_report.sass */
#header {
  background-color: black;
  padding-left: 0;
  padding-bottom: 12px;
  padding-right: 0;
  padding-top: 0;
  width: 100%;
  background-image: url("/images/sitesprite2.png");
  background-position: 0px -10px;
  background-repeat: repeat-x;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 47, ../../../app/stylesheets/site_report.sass */
#header .logo {
  display: block;
  width: 300px;
  height: 47px;
  margin: 12px 0 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url("/images/sitesprite1.png");
  background-position: -10px -10px;
  background-repeat: no-repeat;
}

/* line 58, ../../../app/stylesheets/site_report.sass */
#header .logo a {
  height: 100%;
  display: block;
}

/* line 62, ../../../app/stylesheets/site_report.sass */
#site_report_title {
  font-size: 1.1em;
}

/* line 65, ../../../app/stylesheets/site_report.sass */
.section_header, .report_header {
  padding: 0em 0.4em 1px;
  background: #e0e0ff;
  border-top: 1px solid #AAAAFF;
}

/* line 70, ../../../app/stylesheets/site_report.sass */
.report_header {
  background: #d0ffd0;
  border-top: 1px solid #11FF11;
}

/* line 74, ../../../app/stylesheets/site_report.sass */
dt {
  margin-bottom: 0.2em;
}

/* line 77, ../../../app/stylesheets/site_report.sass */
.attention {
  background-color: #ffcccc;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding: 0 0.1em;
}

/* line 83, ../../../app/stylesheets/site_report.sass */
.warning, .pending {
  background-color: lightyellow;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
  padding: 0 0.1em;
}

/* line 89, ../../../app/stylesheets/site_report.sass */
.approved {
  border-left: 1px solid green;
  border-right: 1px solid green;
  background-color: #ccffcc;
  padding: 0 0.1em;
}

/* line 95, ../../../app/stylesheets/site_report.sass */
dl dd.img {
  margin: 0;
}

/* line 98, ../../../app/stylesheets/site_report.sass */
dd.img .img_preview img {
  float: left;
  margin: 0 8px 0 0;
  padding: 4px;
  border: 1px solid #D9E0E6;
  border-bottom-color: #C8CDD2;
  border-right-color: #C8CDD2;
  background: #fff;
}

/* line 107, ../../../app/stylesheets/site_report.sass */
dd.preview {
  font-size: 80%;
  margin: 0 0 0 22px;
  clear: both;
  width: 7em;
}
/* line 113, ../../../app/stylesheets/site_report.sass */
dd.preview a {
  padding: 2px 0;
}

/* line 118, ../../../app/stylesheets/site_report.sass */
.satisfies_requirements ul {
  list-style: none;
}
/* line 121, ../../../app/stylesheets/site_report.sass */
.satisfies_requirements ul li.requirement {
  background: url(/images/chkshield.png) no-repeat 3.6em 0;
  padding: 0.1em 0 0.8em 5.6em;
}

/* line 125, ../../../app/stylesheets/site_report.sass */
.report_icon {
  vertical-align: middle;
  padding-right: 0.2em;
}

/* line 129, ../../../app/stylesheets/site_report.sass */
#report_title {
  padding: 0 0 0.3em 0.7em;
  margin-top: -0.5em;
}

/* line 142, ../../../app/stylesheets/site_report.sass */
.clearfix:after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
/* line 134, ../../../app/stylesheets/site_report.sass */
* html .clearfix {
  height: 1%;
}
/* line 138, ../../../app/stylesheets/site_report.sass */
*:first-child_html .clearfix {
  min-height: 1px;
}
