-title = 'Monthly Invoices'
-will_paginate @invoices
-content_for :title, title
-system_admins = current_user.is_system_admins?

#validations
  =render partial: 'filter_form'
  
#validations
  %table(cellspacing='0')
    -if will_paginate @invoices
      %tfoot
        %tr
          %td(colspan='7')=will_paginate @invoices
    %caption
      %strong
        =title
      =will_paginate @invoices
    %thead
      %tr.heading_row
        %th
          = sort_link('end_date', get_col_direction('end_date', params), 'Due Date')
        -if system_admins
          %th Team
        %th
          = sort_link('reference_number', get_col_direction('reference_number', params), 'Invoice #')
        %th Amount
        %th
          = sort_link('orders', get_col_direction('orders', params), 'Orders')
        %th Download
        %th
          = sort_link('status', get_col_direction('status', params), 'Status')
    %tbody
      -@invoices.each do |i|
        %tr
          %td=i.end_date.strftime('%F')
          -if system_admins
            -team_name = i.billable.get_team_name
            %td=link_to team_name, invoices_path(@ssl_slug, team: team_name, commit: 'Search'), |
            method: :get
          %td=link_to i.reference_number, invoice_path(@ssl_slug, i.reference_number)
          %td
            %strong=i.get_amount_format
          %td=i.orders.count
          %td=link_to "\u21E9 Download".html_safe, download_invoice_path(@ssl_slug, i.reference_number)
          %td#invoice-status=i.status.upcase