<script type="text/javascript">
jQuery(function($) {
  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.every)
  {
    Array.prototype.every = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            !fun.call(thisp, this[i], i, this))
          return false;
      }

      return true;
    };
  }

  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.some)
  {
    Array.prototype.some = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            fun.call(thisp, this[i], i, this))
          return true;
      }

      return false;
    };
  }
  $(document).ready(function() {
    var show_documents=true;
    $(':radio[name*=has_documents]').click(function(){
      if($(this).val()=="false"){
        show_documents=false;
        $('#documents_upload_instructions, #multi_upload').hide();
        //$('#button_container').fadeIn();
      }
      else{
        show_documents=true;
        $('#documents_upload_instructions, #multi_upload').show();
        //$('#button_container').fadeOut();
      }
    });
    $('.has_csr_container').click(function(){
      $(this).siblings().filter(':radio[name*=has_documents]').click();
    });
    $('.clickable_choice').click(function(e){
      $(this).siblings().filter(':input').click();
    });
    $(':checkbox[name*=set_access_restrictions]').click(function(){
      if($(this).attr("checked") && !$('#surl_require_ssl').attr("checked"))
        $('#surl_require_ssl').click();
      $('#restriction_field').toggle();
    });
    $(':radio[name*=refer_to_others]').click(function(e){
      if($(this).val()=="false"){
        $('#request_validation_from_others').hide();
        $('#proof_of_dcv_section').show();
        $('#documents_upload_section').show();
        $('#documents_upload_heading').show();
      }
      else{
        $('#request_validation_from_others').show();
        $('#proof_of_dcv_section').hide();
        $('#documents_upload_section').hide();
        $('#documents_upload_heading').hide();
      }
    });
    $(':radio[name*=refer][value=false]').click();
    $(':radio[name*=has_documents][value=true]').click();
    $('#new_surl').livequery(
      'ajax:beforeSend', function(){
        $('#busy_sending').show();
        $(':submit').hide();
        $.prettyLoader.show();
      }).livequery(
      'ajax:success', function(event, data, status, xhr){
        if(data!="null"){
          if(typeof data.surl!="undefined"){
            var surl = $("<span id='surl_link'></span>");
            surl.hide();
            $('#surl_container').html(surl);
            var protocol=(data.surl.require_ssl==0)? "http://" : "https://";
            var new_link = protocol+"<%=Surl::URL%>/"+data.surl.identifier;
            surl.append("&raquo;<input readonly='readonly' name='generated_surl' value='"+new_link+"' />");
            $('#surl_instructions .old_link').html(data.surl.original);
            $('#surl_instructions .click_to_visit').html('<a target="_blank" href="'+new_link+
              '">click here to visit '+new_link+'</a>');
            $('#surl_original').val('').attr('placeholder', 'url to be shortened');
            $('#manage_current_links tbody tr:first-child').after(data.row);
            $('.listd').hide();
            $('#surl_link_error').remove();
            surl.fadeIn();
            $('#surl_instructions').fadeIn();
            $('#manage_current_links tr:eq(1)').effect("highlight", {color:'green'}, 500);
          }
          else{
            //assume an error
            var error_message = "<ul>";
            if(typeof data.original!="undefined")
              error_message=data.original;
            else{
              i=0;
              $.each(data, function(key, value) {
                i++;
                error_message+="<li>"+key+" "+value+"</li>";
              });
              error_message+="</ul>"
            }
            $('#surl_link_error').remove();
            var surl = $("<span class='error' id='surl_link_error'>"+error_message+"</span>");
            $('.container .inner').prepend(surl);
          }
        }
      }).livequery('ajax:failure', function(xhr, status, error) {alert("failure!");}).livequery(
      'ajax:complete', function(data, status, xhr){
        $('#busy_sending').hide();
        $(':submit').show();
        $.prettyLoader.hide();
      });
    $("input[name=generated_surl]").livequery("click", function(){
        // Select input field contents
        this.focus();
        this.select();
    });
    $('.delete_link').livequery(
      'ajax:beforeSend', function(){
        $.prettyLoader.show();
        var current_link = $(this).parents('#manage_current_links tr');
        current_link.addClass('deleting');
        $(this).parent().html("<%= image_tag 'ajax-loader.gif' %>");
        $(this).bind('ajax:success', function(event, data, status, xhr) {
        }).bind('ajax:complete', function(event, data, status, xhr){
          //livequery function $('#manage_current_links tr').livequery(function())
          //below should have worked but doesn't when testing. Perhaps JQuery 4 killed it?
          if(current_link.siblings().length>1)
            current_link.parents('#manage_current_links').show();
          else
            current_link.parents('#manage_current_links').hide();
          current_link.remove();
          $.prettyLoader.hide();
          if(data.status==500){
            alert("Error: problems occurred and link was not successfully deleted.");
          }
        }).bind('ajax:failure', function(event, data, status, xhr){
            alert("Error: problems occurred and link was not successfully deleted.");
        });
    });
    $('#manage_current_links tr').livequery(function(){
      if($(this).siblings().length>0)
        $(this).parents('#manage_current_links').show();
      else
        $(this).parents('#manage_current_links').hide();
    });
    if($(":checkbox[name*=set_access_restrictions]").is(':checked'))
      $("#restriction_field").show();
    else
      $("#restriction_field").hide();
  });
});
</script>
