-c={}
-c[:header]='public_wo_container'
-c[:description]="#{community_name} Site Check for ssl certificate support and installation"
-c[:keywords]="ssl certificate site check checker x509 wildcard ev certificates troubleshoot"
-c[:title] = "Site Check, Troubleshooter, and General Information"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => 'index_scripts'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1=c[:title]
      %h2
        lookup a site site url for it's ssl, dns, and other information
      .leftcolb
        %section.search_container#surl_stylized
          =form_for @site_check, html: {class: "single_prompt"} , remote: true do |f|
            =render partial: "form", locals: {f: f}
      .rightcolc
        %ul.listd.ssl_links
          %li
            reminders prevent certificates expiring
          %li
            never be off-guard with an expired cert
          %li
            can adjust for more or less frequency
          %li
            ssl.com reminders are opt-in only
          %li
            courtesy of ssl.com certification authority
        #surl_container
        #surl_instructions
          copy the ssl link above and paste it anywhere to substitute for:
          %span.old_link.clearfix
          %span.click_to_visit
