- if controller_name == "folders" && action_name == "index"
  = render partial: '/folders/folders_index_jstree'
- elsif controller_name == "certificate_orders" && %w{index search}.include?(action_name)
  = render partial: '/folders/co_index_jstree'
- else
  = render partial: '/folders/popup_jstree'
