Your ssl.com account for username #{@login} has been activated.

=@account_url

If the above URL does not work try copying and pasting it into your browser. Please feel free to contact us if you require further assistance.

=render 'support_signature'