You have been invited to SSL.com from #{@current_user.email}.

=@invite_url

If the above URL does not work try copying and pasting it into your browser. Please feel free to contact us if you require further assistance.

=render 'support_signature'
