You have been invited to SSL.com from #{@current_user.email}.
#{"\n"}
=@invite_url
#{"\n"}
If the above URL does not work try copying and pasting it into your browser. Please feel free to contact us if you require further assistance.
#{"\n"}
=render 'support_signature'
