Your #{community_name} account password has successfully been changed. If you did not make this request, please contact SSL Support immediately at support@ssl.com or toll-free at #{Settings.corp_tollfree_tag}.

=render 'support_signature'