<html>
<head>
	<title><%= community_name %> - someone sent you an article!</title>
	<style>
		<!--
		p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #000;
			}
		
		a:link, a:visited, a:active {
			color: #03C;
			}
		
		h1, h2, h3 {
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			color: #000;
			}
		
		h1 {
			font-size: 24px;
			margin-top: 10px;
			margin-bottom: 10px;
			}

		h2 {
			font-size: 14px;
			}
			
		h3 {
			font-size: 12px;
			}
		
		div.footer {
			border-top: 1px dashed #006;
			}
					
		div.container {
			padding: 10px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			background-color: #FFF;
			}
		
		p.footnote {
			font-size: 10px;
			color: #999;
			}
		
		p.copyright {
			color: #999;
			}
		-->
	</style>
</head>

<body>
<div class="container">
	<div class="header">
		<h1><%= community_name %>&trade; &#8211; <%= Settings.community_tagline %></h1>
	</div>
	<div class="mainbody">
<h2>
	<%= @name %> wants to share the following article with you:
</h2>

<h2><a href="<%= @url %>"><%= @title %></a></h2>

<h3>Description</h3>

<div class="story">
	<div>
		<a href="<%= @url %>">
			<% if @post.first_image_in_body %>
				<img src="<%= @post.first_image_in_body  %>" />
			<% else %>
				<img src="<%= Settings.site + @post.owner.avatar_photo_url(:thumb) %>" />
			<% end %>
		</a>
	</div>
  <p><%= @description %></p>
</div>

<h3>Personal Message</h3>

<p>
	<%= @message %>
</p>

<p>
	Use this link to sign up for your own <%= community_name %> account: <a href="<%= @signup_link %>">Sign up!</a>
</p>

<p>Thanks,<br />
<%= @name.eql?('Someone') ? "The #{community_name} Team" : @name %></p>

	<p class="footnote">
		<%= Settings.community_description %><br />
		For support, or to report abuse, please contact <%= support_email %>.
	</p>
	</div>
	<div class="footer">
		<p class="copyright">Copyright &copy; 2009 <%= community_name %></p>
	</div>
</body>
</html>