Hi!

#{@current_user.login} has removed you from their #{Settings.community_name} account.

If you think this is done in error, please notify the account owner at #{@current_user.email}.

=render 'support_signature'
