Hi!

You have removed user #{@remove_user.email} from your account.

If you did not authorize this, please notify #{Settings.community_name} security at #{Settings.support_email}.

=render 'support_signature'
