<%= @message %>

--------------

Hi!

<%= @user.login %> has just invited you to join <%= Settings.community_name %>. <%= Settings.community_description %>

Visit this link to sign up:

<%= @url %>

Thanks,
The <%= Settings.community_name %> team