A request to send your #{community_name} username was made. If you did not make this request, please notify us at support@ssl.com immediately.
Otherwise, your #{community_name} username appears below:
%br
%br
=@login
%br
%br
=render 'support_signature'