/* line 1, ../../../app/stylesheets/ssl_seal.sass */
.sslcomseallabel {
  cursor: pointer;
}

/* line 4, ../../../app/stylesheets/ssl_seal.sass */
.sslcomsealoverlay {
  position: fixed;
  height: 95%;
  max-height: 600px;
  width: 400px;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 99999;
  transform: translate(-50%, -50%);
  border: solid 3px #000;
  border-radius: 3px;
  padding-bottom: 20px;
  display: none;
}

/* line 19, ../../../app/stylesheets/ssl_seal.sass */
#sslcomsealhoverButton:hover + #sslcomsealoverlay {
  display: block !important;
}

/* line 22, ../../../app/stylesheets/ssl_seal.sass */
.sslcomsealmodal-header {
  background: black;
  color: white;
  height: 20px;
  text-align: right;
  padding-right: 5px;
}

/* line 29, ../../../app/stylesheets/ssl_seal.sass */
.sslcomsealiframe {
  border: none;
  height: 100%;
  width: 100%;
}

/* line 34, ../../../app/stylesheets/ssl_seal.sass */
.sslcomsealcheckbox {
  display: none;
}

/* line 37, ../../../app/stylesheets/ssl_seal.sass */
#sslcomsealreportVisible:checked + #sslcomsealoverlay {
  display: block !important;
}
