---
http_interactions:
- request:
    method: get
    uri: https://api.authy.com//protected/json/verify/123456/261071388?force=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - b8ADi0bdBbKm8z6MGcakWmEYvoCYp7VC
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Access Denied"
    body:
      encoding: UTF-8
      string: '{"message":"Token is invalid","token":"is invalid","success":false,"errors":{"message":"Token
        is invalid"},"error_code":"60020"}'
  recorded_at: Mon, 01 Jun 2020 08:05:50 GMT

[...]
- request:
    method: get
    uri: https://api.authy.com//protected/json/verify/1234567/261071389?force=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - b8ADi0bdBbKm8z6MGcakWmEYvoCYp7VC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Www-Authenticate:
      - Basic realm="Access Denied"
    body:
      encoding: UTF-8
      string: '{"message":"Token is valid","token":"is valid","success":true}'
  recorded_at: Mon, 01 Jun 2020 08:05:50 GMT
recorded_with: VCR 5.1.0
