---
http_interactions:
- request:
    method: get
    uri: https://api.authy.com//protected/json/users/261071388/status
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - b8ADi0bdBbKm8z6MGcakWmEYvoCYp7VC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message": "User not found.","success":false}'
  recorded_at: Sun, 31 May 2020 18:50:33 GMT

- request:
    method: post
    uri: https://api.authy.com//protected/json/users/new
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=elton%40block.com&user%5Bcellphone%5D=1234567891&user%5Bcountry_code%5D=840&send_install_link_via_sms=true
    headers:
      X-Authy-Api-Key:
      - b8ADi0bdBbKm8z6MGcakWmEYvoCYp7VC
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"User created successfully.","user":{"id":261071388},"success":true}'
  recorded_at: Sun, 31 May 2020 18:50:33 GMT
- request:
    method: get
    uri: https://api.authy.com//protected/json/sms/261071388
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Authy-Api-Key:
      - b8ADi0bdBbKm8z6MGcakWmEYvoCYp7VC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Retry-After:
      - Mon, 01 Jun 2020 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"message":"SMS sent successfully.", "success":true}'
  recorded_at: Sun, 31 May 2020 18:50:33 GMT
recorded_with: VCR 5.1.0
