/*
Syntax error: Invalid CSS after "(": expected variable (e.g. $foo), was "!position)"
        on line 78 of /home/sysadmin/Development/Ruby/ssl_com_rails3/public/stylesheets/sass/main.sass

73:   padding: 2px 0pt 0pt 12px
74:   float: left
75:   color: #ccc
76:   font-size: 1.2em
77: 
78: =innercontainer(!position)
79:   background:
80:     position = !position
81:     repeat: no-repeat
82:   width: 100%
83:   margin: 0 auto

Backtrace:
/home/sysadmin/Development/Ruby/ssl_com_rails3/public/stylesheets/sass/main.sass:78
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/scss/parser.rb:900:in `expected'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/lexer.rb:193:in `expected!'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/parser.rb:447:in `assert_tok'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/parser.rb:317:in `block in defn_arglist!'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/parser.rb:314:in `loop'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/parser.rb:314:in `defn_arglist!'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/script/parser.rb:102:in `parse_mixin_definition_arglist'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:782:in `parse_mixin_definition'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:546:in `parse_line'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:447:in `build_tree'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:466:in `block in append_children'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:465:in `each'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:465:in `append_children'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:322:in `_to_tree'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:291:in `_render'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:239:in `block in render'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/util.rb:298:in `silence_sass_warnings'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/engine.rb:239:in `render'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:175:in `each'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:173:in `each'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin.rb:54:in `check_for_updates'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/sass-3.1.0.alpha.252/lib/sass/plugin/rack.rb:51:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:32:in `block in call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:12:in `cache'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:31:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.0.1/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.1/lib/rails/rack/logger.rb:13:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.0.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.1/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.1/lib/rails/application.rb:168:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.1/lib/rails/application.rb:77:in `method_missing'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.1/lib/rails/rack/log_tailer.rb:14:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/home/sysadmin/.rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/home/sysadmin/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/home/sysadmin/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/home/sysadmin/.rvm/rubies/ruby-1.9.2-p136/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(\": expected variable (e.g. $foo), was \"!position)\"\A         on line 78 of /home/sysadmin/Development/Ruby/ssl_com_rails3/public/stylesheets/sass/main.sass\A \A 73:   padding: 2px 0pt 0pt 12px\A 74:   float: left\A 75:   color: #ccc\A 76:   font-size: 1.2em\A 77: \A 78: =innercontainer(!position)\A 79:   background:\A 80:     position = !position\A 81:     repeat: no-repeat\A 82:   width: 100%\A 83:   margin: 0 auto"; }
