/* line 20, ../../../app/stylesheets/ie.sass */
#report table span.expand_or_view_order, #reseller_tiers table span.expand_or_view_order, #domain_pricing_popup table span.expand_or_view_order, #certificate_listing table span.expand_or_view_order,
#dashboard table span.expand_or_view_order, #certificate_orders table span.expand_or_view_order, #validations table span.expand_or_view_order {
  text-align: left;
  line-height: normal;
  float: left;
  width: 100%;
}

/* line 26, ../../../app/stylesheets/ie.sass */
#header .logo {
  margin-top: 10px;
}

/* line 29, ../../../app/stylesheets/ie.sass */
#menu {
  display: block;
  width: 57%;
}
/* line 33, ../../../app/stylesheets/ie.sass */
#menu.reseller {
  width: 52%;
}

/* line 39, ../../../app/stylesheets/ie.sass */
#surl_stylized #new_surl #shorten_prompt input[type=password], #surl_stylized #new_surl #shorten_prompt input[type=text], #surl_stylized #new_surl #shorten_prompt input[type=url], #surl_stylized .edit_surl #shorten_prompt input[type=password], #surl_stylized .edit_surl #shorten_prompt input[type=text], #surl_stylized .edit_surl #shorten_prompt input[type=url] {
  width: 280px;
}
/* line 42, ../../../app/stylesheets/ie.sass */
#surl_stylized #new_surl #advanced_options_container, #surl_stylized .edit_surl #advanced_options_container {
  margin-top: 10px;
}

/* line 45, ../../../app/stylesheets/ie.sass */
#header .logo a {
  margin-top: inherit;
}
