-if @user.new_record?
  .clearfix.form_input
    = form.label :login, "Login<span class='label_desc'>desired username</span>".html_safe
    = form.text_field :login, :size=>HTML_TEXT_FIELD_SIZE
.clearfix.form_input
  = form.label :email, "Email<span class='label_desc'>receives activation</span>".html_safe
  = form.text_field :email, :size=>HTML_TEXT_FIELD_SIZE