-ssl = user.ssl_account
-if ssl.ssl_slug
  %li url slug: #{ssl.ssl_slug}
-else
  -if permitted_to? :update_ssl_slug, user.ssl_account
    %li url slug: #{link_to 'ADD URL SLUG', edit_ssl_account_path(id: ssl.id, url_slug: true, ssl_slug: @ssl_slug)}

-if ssl.company_name
  %li company name: #{ssl.company_name}
-else
  -if permitted_to? :update_company_name, user.ssl_account
    %li company name: #{link_to 'ADD COMPANY NAME', edit_ssl_account_path(id: ssl.id, update_company_name: true, ssl_slug: @ssl_slug)}
