-content_for :title, "Account activation"
.user_session_format
  %h3 Edit Login Account Password
  %p Please fill in the fields below to change your password.
  =error_messages_for :user
  =form_for @user do |f|
    #stylized.default_form
      =render :partial => "/activations/form", :object => f
    #button_container
      #next_submit=image_submit_tag "bl_submit_button.gif"