-content_for :title, "Edit Login Account"
=render :partial => "shared/messages"
.reseller_registration_profile
  %h3 Edit Login Account Email
  -form_for @user do |f|
    =f.error_messages
    =hidden_field_tag 'edit_action', 'edit_email'
    #stylized.default_form
      =render :partial => "form", :object => f
    #button_container
      #next_submit=image_submit_tag "bl_submit_button.gif"
