-if certificate_order.csr.blank?
  -formats = cs_certificate_formats(certificate_order.certificate_content, certificate_order.yubi_key_certificate)
-else
  -formats = certificate_formats(certificate_order.csr, certificate_order.signed_certificate)

-#-formats = certificate_formats(csr,signed_certificate)
%li
  %strong{style: "color: blue"} certificate download by platform
%li.category_border.download_certificate
  %table
    -formats.each do |k,v|
      %tr
        %td=v[0]
        %td
          &nbsp;#{link_to 'download', v[1]}&nbsp;
        %td
          &nbsp;#{link_to 'guide', v[2], :target => "_blank"}&nbsp;