
-formats = certificate_formats(co)
%li
  %strong{style: "color: blue"} certificate download by platform
%li.category_border.download_certificate
  %table
    -formats.each do |k,v|
      %tr
        %td=v[0]
        %td
          &nbsp;#{link_to 'download', v[1]}&nbsp;
        %td
          &nbsp;#{link_to 'guide', v[2], :target => "_blank"}&nbsp;