-cc=co.certificate_content
%li
  %strong download certificate
%li.category_border
  %table
    %tr
      %td format
      %td instructions
    %tr
      %td
        =link_to "Microsoft IIS (*.p7b)", pkcs7_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
      %td
        =link_to "click", SignedCertificate::IIS_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "WHM/cpanel", whm_zip_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
      %td
        =link_to "click", SignedCertificate::CPANEL_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "Apache", apache_zip_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
      %td
        =link_to "click", SignedCertificate::APACHE_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "Amazon", amazon_zip_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
      %td
        =link_to "click", SignedCertificate::AMAZON_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "Nginx", nginx_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
      %td
        =link_to "click", SignedCertificate::NGINX_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "Other platforms", download_certificate_order_path(co)
      %td
        =link_to "click", SignedCertificate::OTHER_INSTALL_LINK, :target => "_blank"
    %tr
      %td
        =link_to "Intermediate certificates (ca chain bundle)", server_bundle_csr_signed_certificate_path(cc.csr, cc.csr.signed_certificate)
