-formats = certificate_formats(co)
%li
  %strong download certificate
%li.category_border
  %table
    %tr
      %td format
      %td instructions
    -formats.each do |k,v|
      %tr
        %td
          =link_to v[0], v[1]
        %td
          =link_to "click", v[2], :target => "_blank"