-if co.exceeds_br_duration?
  %li &nbsp;
  %li
    %strong 27 month limit
  %li
    Please note this certificate will expire in 27 months. However, every rekeyed or reprocessed certificate issued
    under this order will continue to have the maximum 27 month duration until the order expiration is within 27 months
    so that you can continue to benefit from multi-year discounting while remaining compliant with the
    CA/Browser Forum requirements (see #{link_to "https://#{portal_domain}/blogs/ssl-certificate-maximum-duration-825-days/", "https://#{portal_domain}/blogs/ssl-certificate-maximum-duration-825-days/"})
