=f.fields_for :certificate_contents, @certificate_content do |cc|
  =cc.fields_for :registrant, @registrant do |rf|
    %p
      Please provide information about the applicant of this certificate.
    .clearfix
      %label{:for=>"common_name"}
        -if @certificate_order.certificate.is_code_signing?
          *Subject:
        -else
          *Website:
        %span.label_desc the subject or common name
      .displayed_csr_field=@certificate_content.csr.common_name
    .clearfix
      %label{:for=>"company"}
        *Company:
        %span.label_desc organization
      =rf.text_field :company_name
    .clearfix
      %label{:for=>"department"}
        Department:
        %span.label_desc organization unit
      =rf.text_field :department
    .clearfix
      %label{:for=>"po_box"}
        PO Box:
      =rf.text_field :po_box
    .clearfix
      %label{:for=>"address1"}
        *Address 1:
      =rf.text_field :address1
    .clearfix
      %label{:for=>"address2"}
        Address 2:
      =rf.text_field :address2
    .clearfix
      %label{:for=>"address3"}
        Address 3:
      =rf.text_field :address3
    .clearfix
      %label{:for=>"city"}
        *City:
        %span.label_desc city, town, or locality
      =rf.text_field :city
    .clearfix
      %label{:for=>"state"}
        *State:
        %span.label_desc state, province, or county
      =rf.text_field :state
    .clearfix
      %label{:for=>"postal_code"}
        *Postal Code:
        %span.label_desc postal code or zip
      =rf.text_field :postal_code
    .clearfix
      %label{:for=>"country"}
        *Country:
      =rf.select :country, options_for_select(Country::PRIORITY+[""], disabled: [""])+options_for_select(Country.approved.collect {|c| [ c.name, c.iso1_code ] }.sort{|x,y|x[0]<=>y[0]})
    -if current_user.ssl_account.has_role? 'reseller'
      .clearfix
        %label{:for=>"verified"}
          *Validated:
        =rf.check_box :validation, :confirm=>'Validated checkbox must have been selected in order to proceed.'
        #confirmed_validation
          I confirm that I have completed the validation of this applicant's
          details in accordance with the customer validation requirements specified
          in the Web Host Reseller validation guidelines.
