<script type="text/javascript">
function activate_physical_token(certificate_order_ref, physical_token_id, name)
{
  var serial = prompt("Please enter the serial number of token "+name, '');
  if (serial == null || serial=="")
    return;
  else
    window.location = '/certificate_orders/'+certificate_order_ref+'/physical_tokens/'+physical_token_id+'/activate?serial='+encodeURIComponent(serial);
}

jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#btn_cert_order_filter').click(function() {
      $('#wrap_cert_order_filter').show();
      $('#btn_cert_order_search').prop('disabled', true);

      var filterItems = $('#search').val().split(/\s(?=(?:[^']|'[^']*')*$)/);
      $.each(filterItems, function(idx) {
        var filterItem = filterItems[idx];
        if (filterItem.indexOf(':') > 0) {
          var filterKey = filterItem.split(':')[0];
          var filterValue = filterItem.split(':')[1];

          $('#filter_' + filterKey + '_chk').prop('checked', true);

          if (filterKey == 'is_test') {
            return;
          }

          if (filterKey == 'expires_at' || filterKey == 'created_at' || filterKey == 'issued_at') {
            var dateStr = filterValue.split('-')[0];
            dateStr = dateStr.split('/')[2] + '-' + dateStr.split('/')[0] + '-' + dateStr.split('/')[1];
            $('#filter_' + filterKey.split('_')[0] + '_from').val(dateStr);

            if (filterValue.split('-').length > 1) {
              dateStr = filterValue.split('-')[1];
              dateStr = dateStr.split('/')[2] + '-' + dateStr.split('/')[0] + '-' + dateStr.split('/')[1];
              $('#filter_' + filterKey.split('_')[0] + '_to').val(dateStr);
            }
          } else if (filterKey == 'physical_token') {
            var tokens = filterValue.split(',');
            $.each(tokens, function(cIdx) {
              if (tokens[cIdx] == 'in_possession') {
                $('#filter_activated_chk').prop('checked', true);
              } else {
                $('#filter_' + tokens[cIdx] + '_chk').prop('checked', true);
              }
            });
          } else if (filterKey == 'strength') {
            var strengths = filterValue.split(',');
            $.each(strengths, function(cIdx) {
              if (strengths[cIdx] != '1024' && strengths[cIdx] != '2048' && strengths[cIdx] != '4096') {
                $('#filter_strength').val(strengths[cIdx]);
              } else {
                $('#filter_' + strengths[cIdx] + '_chk').prop('checked', true);
              }
            });
          } else if (filterKey == 'product') {
            $('#filter_' + filterKey).val(filterValue.split(','));
          } else {
            if (filterValue.charAt(0) == "'" && filterValue.charAt(filterValue.length - 1) == "'") {
              $('#filter_' + filterKey).val(filterValue.slice(1, -1));
            } else {
              $('#filter_' + filterKey).val(filterValue);
            }
          }

          var filterWrap = $('#filter_' + filterKey + '_chk').parent().next().find('.filter_cont');
          filterWrap.show();
        }
      });
    });

    $('#btn_close_cert_order_filter').click(function() {
      $('#wrap_cert_order_filter').hide();
      $('#btn_cert_order_search').prop('disabled', false);

      $('.filter_chk').prop('checked', false);
      $('.filter_cont_text').val('');
      $('.filter_cont_date').val('');
      $('#filter_product.filter_cont_slt').val([]);
      $('#filter_country.filter_cont_slt').val('US');
      $('.filter_cont_chk').prop('checked', false);
      $('.filter_cont').hide();
    });

    $('#btn_cert_order_filter_search').click(function() {
      var query = '';

      $('.filter_item').each(function() {
        var isChecked = $(this).find('.filter_chk').prop('checked');

        if (isChecked) {
          if ($(this).find('.filter_chk').prop('id') == 'filter_is_test_chk') {
            query += $(this).find('.filter_chk').data('field') + ':true ';
            return;
          }

          var filterCont = $(this).find('.filter_cont');
          var val, itemQuery = '';

          if (filterCont.data('type') == 'text' || filterCont.data('type') == 'select') {
            val = filterCont.children().val().indexOf(' ') > 0 ? "'" + filterCont.children().val() + "'" : filterCont.children().val();

            if (val.trim() != '') {
              itemQuery = filterCont.children().data('field') + ':' + val;
            }
          } else if (filterCont.data('type') == 'select-multi') {
            if (filterCont.children().val()) {
              val = filterCont.children().val().toString();

              if (val.trim() != '') {
                itemQuery = filterCont.children().data('field') + ':' + val;
              }
            }
          } else if (filterCont.data('type') == 'date') {
            var from = filterCont.children().first().children().first().val();
            var year = '';

            if (from != '') {
              year = from.substring(0, from.indexOf('-'));
              from = from.substring(from.indexOf('-') + 1) + '-' + year;

              var to = filterCont.children().last().children().first().val();

              if (to != '') {
                year = to.substring(0, to.indexOf('-'));
                to = to.substring(to.indexOf('-') + 1) + '-' + year;
                val = from.replace(/-/g, '/') + '-' + to.replace(/-/g, '/');
              } else {
                val = from.replace(/-/g, '/');
              }

              itemQuery = filterCont.children().last().children().first().data('field') + '_at:' + val;
            }
          } else if (filterCont.data('type') == 'checkbox') {
            if (filterCont.find('#filter_in_transit_chk').prop('checked')) {
              itemQuery = filterCont.find('#filter_in_transit_chk').data('field');
            }
            if (filterCont.find('#filter_received_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_received_chk').data('field');
            }
            if (filterCont.find('#filter_activated_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_activated_chk').data('field');
            }
            if (itemQuery != '') {
              itemQuery = filterCont.data('field') + ':' + itemQuery;
            }
          } else if (filterCont.data('type') == 'mix') {
            if (filterCont.find('#filter_1024_chk').prop('checked')) {
              itemQuery = filterCont.find('#filter_1024_chk').data('field');
            }
            if (filterCont.find('#filter_2048_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_2048_chk').data('field');
            }
            if (filterCont.find('#filter_4096_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_4096_chk').data('field');
            }
            if (filterCont.find('#filter_strength').val() != '') {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_strength').val();
            }
            if (itemQuery != '') {
              itemQuery = filterCont.data('field') + ':' + itemQuery;
            }
          }

          query += itemQuery + ' ';
        }
      });

      $('#search').val(query.trim());
      $('#search_form').submit();
    });

    $('.filter_item input[type="checkbox"]').click(function() {
      if ($(this).prop('id') == 'filter_is_test_chk') {
        return;
      }

      var isChecked = $(this).prop('checked');
      var parentSiblingNode = $(this).parent().next();
      var filterItem = parentSiblingNode.find('.filter_cont');

      if (isChecked) {
        filterItem.show();
      } else {
        if ($(this).prop('id') == 'filter_created_at_chk'
          || $(this).prop('id') == 'filter_expires_at_chk'
          || $(this).prop('id') == 'filter_issued_at_chk') {
          filterItem.children().first().children().first().val('');
          filterItem.children().last().children().first().val('');
        } else if ($(this).prop('id') == 'filter_product_chk') {
          filterItem.children().val([]);
        } else if ($(this).prop('id') == 'filter_country_chk') {
          filterItem.children().val('us');
        } else if ($(this).prop('id') == 'filter_physical_token_chk') {
          filterItem.find('.filter_cont_chk').prop('checked', false);
        } else if ($(this).prop('id') == 'filter_strength_chk') {
          filterItem.find('.filter_cont_chk').prop('checked', false);
          filterItem.find('#filter_strength').val('');
        } else {
          filterItem.children().val('');
        }

        filterItem.hide();
      }
    });

    $('.filter_cont_date').change(function() {
      var idVal = $(this).attr('id');
      var from, to = '';

      if (idVal.indexOf('from') > 0) {
        from = idVal;
        to = from.replace('from', 'to');
      } else {
        to = idVal;
        from = to.replace('to', 'from');
      }

      if ((idVal == from && $('#' + to).val() != '')
        || (idVal == to && $('#' + from).val() != '')) {
        var dateFrom = $('#' + from).val();
        var dateTo = $('#' + to).val();

        if (dateFrom > dateTo && idVal == from) {
          $('#' + from).val('');
        } else if (dateFrom > dateTo && idVal == to) {
          $('#' + to).val('');
        }
      }
    });

    $('form.create_test_order').ajaxForm({
      dataType: "json",
      beforeSubmit: function(){
        confirmed = confirm('Create Test SSL Order?');
        if(confirmed){
          $('#waiting_bar').show();
        }
        return confirmed;
      },
      success: function(data, status){
        if(data.errors){
          $('.error').html("The following fields have errors:</br><ul>");
          $.each(data.errors, function(i, item) {
            // i = index
            // item = data for a particular post
            $('.error').append("<li>"+i+": "+item.toString()+"</li>");
          });
          $('.error').append("</ul>").show();
        }
        else
          window.location.replace("<%=filter_by_scope_certificate_orders_path(@ssl_slug, 'is_test')%>");
      },
      error: function(data, status){
        if(data.errors){
          $('.error').html("The following fields have errors:</br><ul>");
          $.each(data.errors, function(i, item) {
            // i = index
            // item = data for a particular post
            $('.error').append("<li>"+i+": "+item.toString()+"</li>");
          });
          $('.error').append("</ul>").show();
        }
        else
          window.location.replace("<%=filter_by_scope_certificate_orders_path(@ssl_slug, 'is_test')%>");
      }
    });

    <%if current_user.ssl_account.is_registered_reseller?%>
    $('#next_submit').click(function(){
      if(!$('input[id$=validation]').attr('checked')){
        alert('Please click the validated checkbox to proceed with order placement.');
        return false;
      }
    });
    <%end%>
    
    function populate_contact(label, data) {
      $("label[for='" + label + "']").siblings('input').val(data);
    }
    
    $('#saved_contacts').change(function() {
      var list = [
        ['title', 'title'],
        ['organization', 'company_name'],
        ['department', 'department'],
        ['po_box', 'po_box'],
        ['address1', 'address1'],
        ['address2', 'address2'],
        ['address3', 'address3'],
        ['city', 'city'],
        ['state', 'state'],
        ['postal_code', 'postal_code'],
        ['country', 'country'],
        ['postal_code', 'postal_code'],
        ['email', 'email'],
        ['phone', 'phone'],
        ['first_name', 'first_name'],
        ['last_name', 'last_name'],
        ['fax', 'fax'],
        ['ext', 'ext']
      ];
      list.forEach(function(el) {
        populate_contact(el[0], $('#saved_contacts option:selected').data(el[1]));
      });
    });
    
    $('.dropdown, .status_message, .expand, .subject_column > a').click(function(){
      if($(this).parents().filter('tr').next().css('display')!='none'){
        $(this).parents().filter('tr').next().css('display', 'none');
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
        $(this).parents().filter('tr').find('.expand').text('open');
        this.expanded = false;
      }
      else{
        this.expanded = true;
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
        $(this).parents().filter('tr').next().show();
        $(this).parents().filter('tr').find('.expand').text('close');
      }
    });
    $('textarea[name*=body]').click(function(){
      $(this).select();
    });
    $('form[id^=edit_certificate_order] textarea').keyup(function(){
      $(this).parents().filter('form').ajaxSubmit();
    });
  });
});
</script>
