<script type="text/javascript">
function activate_physical_token(certificate_order_ref, physical_token_id, name)
{
  var serial = prompt("Please enter the serial number of token "+name, '');
  if (serial == null || serial=="")
    return;
  else
    window.location = '/certificate_orders/'+certificate_order_ref+'/physical_tokens/'+physical_token_id+'/activate?serial='+encodeURIComponent(serial);
}

jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#btn_cert_order_filter').click(function() {
      $('#wrap-cert-order-filter').show();
      $('#btn_cert_order_search').prop('disabled', true);
    });
    $('#btn_close_cert_order_filter').click(function() {
      $('#wrap-cert-order-filter').hide();
      $('#btn_cert_order_search').prop('disabled', false);

      var query = '';

      $('.filter-item').each(function() {
        var isChecked = $(this).find('.filter-chk').prop('checked');

        if (isChecked) {
          var filterCont = $(this).find('.filter-cont');
          var val, itemQuery = '';

          if (filterCont.data('type') == 'text' || filterCont.data('type') == 'select') {
            val = filterCont.children().val().indexOf(' ') > 0 ? "'" + filterCont.children().val() + "'" : filterCont.children().val();
            itemQuery = filterCont.children().data('field') + ':' + val;
          } else if (filterCont.data('type') == 'date') {
            var from = filterCont.children().first().children().first().val();
            var year = from.substring(0, from.indexOf('-'));
            from = from.substring(from.indexOf('-') + 1) + '-' + year;

            var to = filterCont.children().last().children().first().val();
            year = to.substring(0, to.indexOf('-'));
            to = to.substring(to.indexOf('-') + 1) + '-' + year;

            val = from.replace(/-/g, '/') + '-' + to.replace(/-/g, '/');
            itemQuery = filterCont.children().last().children().first().data('field') + '_at:' + val;
          } else {
            if (filterCont.find('#filter_in_transit_chk').prop('checked')) {
              itemQuery = filterCont.find('#filter_in_transit_chk').data('field');
            }
            if (filterCont.find('#filter_received_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_received_chk').data('field');
            }
            if (filterCont.find('#filter_activated_chk').prop('checked')) {
              itemQuery += itemQuery == '' ? '' : ',';
              itemQuery += filterCont.find('#filter_activated_chk').data('field');
            }
            if (itemQuery != '') {
              itemQuery = filterCont.data('field') + ':' + itemQuery;
            }
          }

          /*if (filterCont.children().first().attr('class') == 'filter-cont-text'
            || filterCont.children().first().attr('class') == 'filter-cont-slt') {

            val = filterCont.children().val().indexOf(' ') > 0 ? "'" + filterCont.children().val() + "'" : filterCont.children().val();
            itemQuery = filterCont.children().data('field') + ':' + val;
          } else {
            var from = filterCont.children().first().children().first().val();
            var year = from.substring(0, from.indexOf('-'));
            from = from.substring(from.indexOf('-') + 1) + '-' + year;

            var to = filterCont.children().last().children().first().val();
            year = to.substring(0, to.indexOf('-'));
            to = to.substring(to.indexOf('-') + 1) + '-' + year;

            alert('from : ' + from + ' | to : ' + to);
            val = from.replace(/-/g, '/') + '-' + to.replace(/-/g, '/');
            itemQuery = filterCont.children().last().children().first().data('field') + '_at:' + val;
          }*/

          query += itemQuery + ' ';
        }
      });
      var searchStr = $('#search').val().trim() != '' ? $('#search').val().trim() : '';
      if (query.trim() != '') {
        searchStr = searchStr == '' ? query : searchStr + ' ' + query.trim();
      }

      $('#search').val(searchStr);
    });
    $('#btn_cert_order_search1').click(function() {
      $(this).prop('disabled', true);
      $('#btn_cert_order_filter').prop('disabled', true);
      /*$('#btn_close_cert_order_filter').click();

      var query = '';

      $('.filter-item').each(function() {
        var isChecked = $(this).find('input[type="checkbox"]').prop('checked');

        if (isChecked) {
          var filterCont = $(this).find('.filter-cont');
          var val, itemQuery = '';

          if (filterCont.children().first().attr('class') == 'filter-cont-text'
            || filterCont.children().first().attr('class') == 'filter-cont-slt') {

            val = filterCont.children().val().indexOf(' ') > 0 ? "'" + filterCont.children().val() + "'" : filterCont.children().val();
            itemQuery = filterCont.children().data('field') + ':' + val;
          } else {
            var from = filterCont.children().first().children().first().val();
            var year = from.substring(0, from.indexOf('-'));
            from = from.substring(from.indexOf('-') + 1) + '-' + year;

            var to = filterCont.children().last().children().first().val();
            year = to.substring(0, to.indexOf('-'));
            to = to.substring(to.indexOf('-') + 1) + '-' + year;

            alert('from : ' + from + ' | to : ' + to);
            val = from.replace(/-/g, '/') + '-' + to.replace(/-/g, '/');
            itemQuery = filterCont.children().last().children().first().data('field') + '_at:' + val;
          }

          query += itemQuery + ' ';
        }
      });
      var searchStr = $('#search').val().trim() != '' ? $('#search').val().trim() : '';
      if (query.trim() != '') {
        searchStr = searchStr == '' ? query : searchStr + ' ' + query.trim();
      }

      $('#search').val(searchStr);*/

      $('#search_form').submit();
    });
    $('.filter-item input[type="checkbox"]').click(function() {
      var isChecked = $(this).prop('checked');
      var parentSiblingNode = $(this).parent().next();
      var filterItem = parentSiblingNode.find('.filter-cont');
      if (isChecked) {
        filterItem.show();
      } else {
        if (filterItem.children().first().attr('class') == 'filter-cont-text') {
          filterItem.children().val('');
        } else if (filterItem.children().first().attr('class') == 'filter-cont-slt') {
          filterItem.children().val('us');
        } else {
          filterItem.children().first().children().first().val('');
          filterItem.children().last().children().first().val('');
        }

        filterItem.hide();
      }
    });
    $('.filter-cont-date').change(function() {
      var idVal = $(this).attr('id');
      var from, to = '';

      if (idVal.indexOf('from') > 0) {
        from = idVal;
        to = from.replace('from', 'to');
      } else {
        to = idVal;
        from = to.replace('to', 'from');
      }

      if ((idVal == from && $('#' + to).val() != '')
        || (idVal == to && $('#' + from).val() != '')) {
        var dateFrom = $('#' + from).val();
        var dateTo = $('#' + to).val();

        if (dateFrom > dateTo && idVal == from) {
          $('#' + from).val('');
        } else if (dateFrom > dateTo && idVal == to) {
          $('#' + to).val('');
        }
      }
    });

    $('form.create_test_order').ajaxForm({
      dataType: "json",
      beforeSubmit: function(){
        confirmed = confirm('Create Test SSL Order?');
        if(confirmed){
          $('#waiting_bar').show();
        }
        return confirmed;
      },
      success: function(data, status){
        if(data.errors){
          $('.error').html("The following fields have errors:</br><ul>");
          $.each(data.errors, function(i, item) {
            // i = index
            // item = data for a particular post
            $('.error').append("<li>"+i+": "+item.toString()+"</li>");
          });
          $('.error').append("</ul>").show();
        }
        else
          window.location.replace("<%=filter_by_scope_certificate_orders_path(@ssl_slug, 'is_test')%>");
      },
      error: function(data, status){
        if(data.errors){
          $('.error').html("The following fields have errors:</br><ul>");
          $.each(data.errors, function(i, item) {
            // i = index
            // item = data for a particular post
            $('.error').append("<li>"+i+": "+item.toString()+"</li>");
          });
          $('.error').append("</ul>").show();
        }
        else
          window.location.replace("<%=filter_by_scope_certificate_orders_path(@ssl_slug, 'is_test')%>");
      }
    });

    <%if current_user.ssl_account.is_registered_reseller?%>
    $('#next_submit').click(function(){
      if(!$('input[id$=validation]').attr('checked')){
        alert('Please click the validated checkbox to proceed with order placement.');
        return false;
      }
    });
    <%end%>
    
    function populate_contact(label, data) {
      $("label[for='" + label + "']").siblings('input').val(data);
    }
    
    $('#saved_contacts').change(function() {
      var list = [
        ['title', 'title'],
        ['company', 'company_name'],
        ['department', 'address1'],
        ['po_box', 'po_box'],
        ['address1', 'address1'],
        ['address2', 'address2'],
        ['address3', 'address3'],
        ['city', 'city'],
        ['state', 'state'],
        ['postal_code', 'postal_code'],
        ['country', 'country'],
        ['postal_code', 'postal_code'],
        ['email', 'email'],
        ['phone', 'phone'],
        ['first_name', 'first_name'],
        ['last_name', 'last_name'],
        ['fax', 'fax'],
        ['ext', 'ext']
      ];
      list.forEach(function(el) {
        populate_contact(el[0], $('#saved_contacts option:selected').data(el[1]));
      });
    });
    
    $('.dropdown, .status_message, .expand, .subject_column > a').click(function(){
      if($(this).parents().filter('tr').next().css('display')!='none'){
        $(this).parents().filter('tr').next().css('display', 'none');
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
        $(this).parents().filter('tr').find('.expand').text('open');
        this.expanded = false;
      }
      else{
        this.expanded = true;
        $(this).parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
        $(this).parents().filter('tr').next().show();
        $(this).parents().filter('tr').find('.expand').text('close');
      }
    });
    $('textarea[name*=body]').click(function(){
      $(this).select();
    });
    $('form[id^=edit_certificate_order] textarea').keyup(function(){
      $(this).parents().filter('form').ajaxSubmit();
    });
  });
});
</script>
