#account_status
  .quickbox
    .heading
      %strong Quick Links
    %ul
      %li=link_to 'Buy Certificate', certificates_url
      %li=link_to 'Deposit Funds', allocate_funds_url
      %li &nbsp;
      -if current_user.ssl_account.reseller
        %li
          =link_to 'Certificate Pricing', reseller_tier_url(current_user.ssl_account.reseller.reseller_tier.id)
      %li=link_to "Filter by EV SSL", filter_by_certificate_orders_path("ev")
      %li=link_to "Filter by UCC SSL", filter_by_certificate_orders_path("ucc")
      %li=link_to "Filter by Premium SSL", filter_by_certificate_orders_path("premium")
      %li=link_to "Filter by Wildcard SSL", filter_by_certificate_orders_path("wildcard")
      -if current_user.ssl_account.reseller
        %li
          =link_to 'Filter by Test Orders (For Developers)', filter_by_scope_certificate_orders_path("is_test")
