#account_status
  .quickbox
    .heading
      %strong Quick Links
    %ul
      %li=link_to 'Buy Certificate', certificates_url
      %li=link_to 'Deposit Funds', allocate_funds_url
      -if current_user.ssl_account.reseller
        %li
          =link_to 'Certificate Pricing', reseller_tier_url(current_user.ssl_account.reseller.reseller_tier.id)
      %li &nbsp;
      %li Filter Orders:
      %li=link_to "Basic SSL", filter_by_certificate_orders_path("basic")
      %li=link_to "EV SSL", filter_by_certificate_orders_path("ev")
      %li=link_to "UCC SSL", filter_by_certificate_orders_path("ucc")
      %li=link_to "Premium SSL", filter_by_certificate_orders_path("premium")
      %li=link_to "Wildcard SSL", filter_by_certificate_orders_path("wildcard")
      -if current_user.ssl_account.reseller
        %li
          =link_to 'Test Orders (For Developers)', filter_by_scope_certificate_orders_path("is_test")
