-single ||= false
-co = certificate_order
-cn = co.is_unused_credit? ? 'credit - '+co.certificate.description["certificate_type"]+' certificate' : co.certificate_content.csr.common_name
.subject_column
  %a.common_name(title=cn)
    =cn.downcase.shorten(35, false)
  %span.expand_or_view_order
    -unless single
      %a.expand expand
      \::
    -unless co.is_unused_credit?
      =link_to "certificate", certificate_order_url(co), :title=>"view order for "+cn
      \::
      =link_to "validation", certificate_order_validation_url(co), :title=>"view validation status for "+cn
      \::
      =link_to "site seal", certificate_order_site_seal_url(co), :title=>"get site seal for "+cn
      -u=co.ssl_account.users.last
      -if permitted_to? :admin_manage, u
        \::
        =link_to "user", admin_show_user_path(u), :title=>"view user #{u.login}"
    -else
      =link_to "finish processing", edit_certificate_order_url(co), :title=>"finishing processing "+co.certificate.description["certificate_type"]+' certificate'
