-single ||= false
-co = certificate_order
-cn = co.is_unused_credit? ? 'credit - '+co.certificate.description["certificate_type"]+' certificate' : co.common_name
-cn = "expired certificate" if co.is_expired_credit?
.subject_column
  %a.common_name(title=cn)
    =((co.is_test ? " (TEST)" : "") + (%w(refunded rejected).include?(co.workflow_state) ? " (#{co.workflow_state.upcase})" : "") + cn.downcase).shorten(35, false)
  %span.expand_or_view_order
    -if !(single and co.is_expired_credit?) and permitted_to? :show, co
      %a.expand open
    -unless co.is_unused_credit?
      -if permitted_to? :show, co
        %span :
        =link_to co.certificate_content.issued? ? "download" : "details", certificate_order_path(@ssl_slug, co), :title=>"view order for "+cn
        -unless hide_validation?(co)
          %span :
          =link_to "documents", certificate_order_validation_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"view validation status for "+cn
      -if permitted_to? :create, :site_seals
        %span :
        =link_to "seal", certificate_order_site_seal_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"get site seal for "+cn
      -if co.certificate_content.issued? && !co.certificate_content.expired?
        %span :
        =link_to 'rekey', reprocess_certificate_order_path(@ssl_slug, co)
      -if permitted_to? :read, co.order
        %span :
        =link_to "invoice", order_path(@ssl_slug, co.order), :title=>"transaction information for "+cn
      -u=co.ssl_account.primary_user
      -unless u.blank?
        -if permitted_to? :admin_manage, u
          %span :
          =link_to "user", admin_show_user_path(u), :title=>"view user #{u.login}"
    -else
      -unless co.is_expired_credit?
        %span :
        =link_to "finish processing", edit_certificate_order_path(@ssl_slug, co), :title=>"finishing processing "+co.certificate.description["certificate_type"]+' certificate'
