-single ||= false
-co = certificate_order
-cn = co.is_unused? ? 'credit - '+co.certificate.description["certificate_type"]+' certificate' :  (co.certificate.is_code_signing? ? (co.registrant.try(:company_name) || co.certificate.description["certificate_type"]+' certificate') : co.common_name)
-cn = "expired certificate" if co.is_expired_credit?
.subject_column
  %a.common_name(title=cn)
    =((co.is_test ? " (TEST) " : "") + (%w(refunded rejected charged_back).include?(co.workflow_state) ? " (#{co.workflow_state.upcase}) " : "") + cn.downcase).shorten(35, false)
  %span.expand_or_view_order
    -if !(single and co.is_expired_credit?) and permitted_to? :index, co
      %a.expand open
    -unless co.is_unused?
      -if permitted_to? :update, co
        %span :
        =link_to co.certificate_content.issued? ? "download" : "details", certificate_order_path(@ssl_slug, co), :title=>"view order for "+cn
      -unless hide_validation?(co)
        -if permitted_to? :show, co.validation
          %span :
          =link_to "documents", certificate_order_validation_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"view validation status for "+cn
      -if permitted_to? :create, :site_seals
        %span :
        =link_to "seal", certificate_order_site_seal_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"get site seal for "+cn
      -if current_user.is_system_admins?
        %span :
        =link_to "invoice", order_path(@ssl_slug, co.orders.first), :title=>"transaction information for "+cn
      -u=co.ssl_account.try(:primary_user)
      -unless u.blank?
        -if permitted_to? :admin_manage, u
          %span :
          =link_to "user", admin_show_user_path(u), :title=>"view user #{u.login}"
    -else
      -unless co.is_expired_credit?
        %span :
        =link_to "finish processing", edit_certificate_order_path(@ssl_slug, co), :title=>"finishing processing "+co.certificate.description["certificate_type"]+' certificate'
