.pop_content
  %p
    A verification request has been emailed to #{last_sent.email_address}.
    Please open and follow the instructions in the email to complete this verification process.
  %p
    Once this has been done, the certificate will normally be issued within several hours, but can take up to 24 hours.
    If you did not receive the email sent to #{last_sent.email_address}, or you need assistance, please contact support
    at support@ssl.com
