-cn=cn.gsub(/^\*\./, "")
%li
  %strong visit site with and without ssl
%li=link_to "visit http://#{cn}", "http://#{cn}", target: "_blank"
%li.category_border=link_to "visit https://#{cn}", "https://#{cn}", target: "_blank"
