-content_for :title, "Applicant Information For Certificate Order #{@certificate_order.order.reference_number}"
=render :partial => '/certificate_orders/index_scripts'
-@certificate_content = @certificate_order.certificate_content
-pos=@certificate_order.certificate.admin_submit_csr? ? 1 : (skip_payment? ? 2 : 3)
=order_progress_indicator(pos, @certificate_order.certificate)
.order_container
  %h3 Applicant Information for #{@certificate_order.description}
  %p Please fill out the required fields below to complete your certificate order.
  =error_messages_for :certificate_order, :registrant, :certificate_content
  =form_for @certificate_order, url: certificate_order_path(ssl_slug: @ssl_slug, id: @certificate_order) do |f|
    #stylized.default_form
      =render :partial => "registrant_form", :locals => {:f=>f}
      #auto_adjust
        =image_tag "cancel_bl.gif", id: "start_over_redirect"
        =image_submit_tag "next_bl.gif", alt: "edit ssl certificate order"
