-title = "API Credential Management"
-slug_params = {ssl_slug: @ssl_slug}
-content_for :title, title
=render :partial => 'index_scripts'
#validations
  %table(cellspacing="0")
    -unless current_user.is_system_admins?
      %tr
        =link_to 'Add Credential', new_api_credential_path(slug_params), class: 'button_blue button_index'
    %tr.heading_row
      %th.name(scope="col")Account Key
      %th(scope="col") Secret Key
      %th(scope="col") Role(s)
      - unless current_user.is_system_admins?
        %th(scope="col") Actions
    -@acs.each_with_index do |ac, index|
      %tr
        %td.name.expandable=ac.account_key
        %td.expandable=ac.secret_key
        %td.expandable=ac.role_names.join(', ')
        -unless current_user.is_system_admins?
          -managed_api = ac.becomes(ApiCredential)
          %td.actions
            =link_to 'edit', edit_api_credential_path(ac, slug_params)
            -unless @acs.count-1 <= index
              =link_to '| remove', remove_api_credential_path(ac, slug_params), :class => 'remove_ac'
       