-title = 'Create Credential'
-content_for :title, title
.reseller_registration_profile
  %h3=title
  =form_for @ac, url: api_credentials_path, html: {id: 'mu_create_ac'} do |f|
    =f.error_messages
    #stylized.default_form
      .subheading Credential
      =render :partial => "form", :object => f
    #button_container
      =f.submit 'Create', class: 'button_blue'

-content_for :js do
  :javascript
    $("#user_ssl_account_ids").select2();
    $(document).ready(function() {
      $("#user_ssl_account_ids").select2();
    });
