---
http_interactions:
- request:
    method: patch
    uri: https://reseller.cdnify.com/api/v1/resources/98b3515
    body:
      encoding: UTF-8
      string: alias=mywebsite&origin=http%3A%2F%2Fwww.mywebsite.com
    headers:
      Authorization:
      - Basic NDg2NTM1YWU2MDZhNGE0N2I4OTExMDYxMzExZDUzMzE3MzFlMjA1YTA4NmEzYzY0ZTg6eA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '994'
      X-Ratelimit-Reset:
      - '1573837382'
    body:
      encoding: UTF-8
      string: '{"resources":[{"id":"98b3515","type":"mirror","alias":"mywebsite","hostname":"mywebsite.a.cdnify.io","origin":"www.mywebsite.com","created_at":"2019-11-13T19:02:18+00:00","custom_domains":[],"advanced_settings":{"allow_robots":false,"cache_query_string":false,"enable_cors":false,"disable_gzip":false,"force_ssl":false,"cache_expire_time":0,"pull_https":false,"link":false}}]}'
  recorded_at: Fri, 15 Nov 2019 16:21:35 GMT
recorded_with: VCR 5.0.0
