-options ||= {}
-style = options[:li_style]
#form_progress_indicator
  %ul.clearfix
    -pages[0].each_with_index do |page, index|
      -adj_index = index + 1
      %li(style="#{style}" id="#{pages[1] == adj_index ? 'selected' : ''}")
        %span(class="#{adj_index < pages[1] ? 'finished' : ''}")
          %strong=adj_index
          -if certificate.is_free? && page=~/Payment/i
            Agreement
          -else
            #{page}