- %w(info notice error warning info_activation sandbox).each do |type|
  - if flash[type.to_sym]
    -if type == 'info_activation'
      -lines = render_activation_messages
      -unless lines.blank?
        .flash_message_more
          %small
            .close_flash_message.more{data: {dont_show: dont_show_again_user_url(current_user)}}
              %span X
              %span never show this again
          %div
            -lines.each do |line|
              =line.html_safe
              %br
    -else
      .flash_message{:class => "#{type.to_s}"}
        %span=message_for_item(flash[type.to_sym], flash["#{type}_item".to_sym])
        %small
          %div.close_flash_message
            %span X
            close


