- %w(info notice error warning).each do |type|
  - if flash[type.to_sym]
    .flash_message{:class => "#{type.to_s}"}
      %span=message_for_item(flash[type.to_sym], flash["#{type}_item".to_sym])
      %small
        %div.close_flash_message
          %span X
          close


