-if current_user.get_all_approved_accounts.length > 1
  %th.simple-tooltip-cont.hidden
    =link_to "<strong class='hint-icon'>&#63;</strong> <span>You can switch accounts by selecting one from the <strong>ACCOUNT</strong> menu item on the right.</span>".html_safe, '#', class: 'simple-tooltip hidden'
  %th.acc-sel-dropdown{rowspan: current_user.ssl_accounts.length}
    .acc-sel-dropbtn
      ="ACCOUNT"
      %br
      ="#{ssl_account.acct_number} (#{current_user.ssl_accounts.length}) &#9660;".html_safe
    .acc-sel-dropdown-cont
      %ul
        -(current_user.get_all_approved_accounts - [ssl_account]).each do |acct|
          %li
            -path = switch_default_ssl_account_user_path(current_user.id, ssl_account_id: acct.id)
            =link_to acct.acct_number, path
