/ Google Code for Sale Conversion Page
:javascript
  /* <![CDATA[ */
  var google_conversion_id = 975052302;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "#{@order.reference_number}";
  var google_conversion_value = "#{@order.amount}";
  var google_remarketing_only = false;
  /* ]]> */
%script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
%noscript
  %div{style: "display:inline;"}
    %img{alt: "", height: "1", src: "//www.googleadservices.com/pagead/conversion/975052302/?value=0&label=xSHJCPqPmQgQjrz40AM&guid=ON&script=0", style: "border-style:none;", width: "1"}/