-title ||= "Order Details"
#order_details
  %h3.order_results_header=title
  #order_ref_num 
    reference number:
    %span=h @order.reference_number
  #order_date
    date of order:
    %span=h @order.created_at
  -if @order.is_free?
    #credit_card_number
      payment method:
      %span n/a (free)
  -else
    -unless @order.billing_profile.blank?
      #credit_card_number
        payment method:
        %span xxxx-xxxx-xxxx-#{h @order.billing_profile.last_digits} (#{h @order.billing_profile.credit_card})
      #credit_card_owner
        name on card:
        %span=h @order.billing_profile.full_name
    -else
      #credit_card_number
        payment method:
        -if @order.po_number
          %span purchase order #{@order.po_number}
        -elsif @order.quote_number
          %span quote #{@order.quote_number}
        -elsif current_user.ssl_account.is_registered_reseller?
          %span funded account
        -else
          %span=@order.state.humanize.downcase
  =render :partial=>'/funded_accounts/certificate_order_detail'