#order_details
  %h3.order_results_header
    Reprocess Details For Certificate Order ##{co_ref}
  %table#order_details_reprocess_ucc
    %thead
      %tr.heading_row
        %th DATE
        %th ORDER
        %th
          INVOICE
          %br/
          DOWNLOAD
        %th ALL DOMAINS
        %th 
          CHARGED
          %br/
          DOMAINS
        %th AMOUNT
      %tr.order-divider
        %td{colspan: '6'}
    %tbody
      -reprocess_orders.each do |result|
        %tr
          %td
            =result[:date]
          %td.order-edit
            =link_to result[:order_ref], order_path(@ssl_slug, result[:order_ref])
          %td.domains-list
            -o  = Order.find_by(reference_number: result[:order_ref])
            -mi = o.invoice
            -if mi.nil?
              =link_to "\u21E9 Download".html_safe, invoice_order_path(@ssl_slug, result[:order_ref])
            -else
              =link_to "\u21E9 Download".html_safe, download_invoice_path(@ssl_slug, mi.reference_number)
          %td.domains-list
            =result[:domains][:all].count
          %td.domains-list
            =result[:domains][:new_domains_count]
          %td.reprocess-amount
            =result[:amount]