!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    =stylesheet_link_tag wicked_pdf_asset_base64('invoice.css')
  %body
    #background
      %p{id: 'bg-text'} PAID
    
    -@orders.each do |order|
      =render partial: 'orders/invoice_page', locals: {order: order}