-title = "Order Details"
-content_for :title, title
=render :partial => 'index_scripts'
.order_container
  #completed_order_results
    =render partial: 'orders/order_report'
=render partial: "orders/adwords_conversion" if !@order.ext_affiliate_credited? #must appear before shareasale since ext_affiliate_credited is toggled there
=shareasale

