-title = "Order Details"
-content_for :title, title
=render :partial => 'index_scripts'
.order_container
  =render partial: "orders/cancel_order"
  #completed_order_results
    =render partial: 'orders/order_report'
=render partial: "orders/adwords_conversion" #must appear before confirm_affiliate_sale since ext_affiliate_credited is toggled there
=confirm_affiliate_sale

