-@running_total ||= 0
.yui-b
  .box
    =render :partial=>'/studios/management'
  .box
    =render :partial=>'/releases/management'
#yui-main
  .yui-b
    .box.hfeed
      %h3
        ="Sales Report for ".l + @studio.display_name
    -if @line_items.blank?
      %div{:style=>"text-align:center;height:400px;",:class=>"font-size-15"}= "There are currently no orders to display".l
    -else
      %table#sales_report_table
        %thead
          %tr
            %td Id#
            %td Date/Time
            %td Item
            %td Sale Amount
            %td Payout
            %td Affiliate Commission
            %td Net Profit
            %td Balance
        %tbody.striped_tr
          =render :partial => "line_item", :collection => @line_items
        %tfoot
          %tr#sales_total_row
            %td{:colspan=>6}
            %td.sales_total
              ="Total".l
            %td.sales_total
              =Money.new(@running_total).format
