.subheading Billing Contact
.show_hide_contact_form
  =f.check_box :billing_checkbox
  %span use administrative contact as billing contact
%p.description
  This should be the point of contact related to billing and
  payment issues. This contact will also receive receipts and
  confirmations related to this order.
