=render partial: 'saved_contacts'
%div(class='fields')
  .clearfix
    %label{:for=>"first_name"}
      *First Name:
    =f.text_field :first_name
  .clearfix
    %label{:for=>"last_name"}
      *Last Name:
    =f.text_field :last_name
  .clearfix
    %label{:for=>"email"}
      *Email:
    =f.text_field :email
  .clearfix
    %label{:for=>"phone"}
      *Phone:
    =f.text_field :phone
  .clearfix
    %label{:for=>"ext"}
      Ext:
    =f.text_field :ext
  .clearfix
    %label{:for=>"fax"}
      Fax:
    =f.text_field :fax
  .clearfix
    %label{:for=>"organization"}
      Organization:
    =f.text_field :company_name
  .clearfix
    %label{:for=>"department"}
      Department:
    =f.text_field :department
  .clearfix
    %label{:for=>"po_box"}
      PO Box:
    =f.text_field :po_box
  .clearfix
    %label{:for=>"address1"}
      Address 1:
    =f.text_field :address1
  .clearfix
    %label{:for=>"address2"}
      Address 2:
    =f.text_field :address2
  .clearfix
    %label{:for=>"address3"}
      Address 3:
    =f.text_field :address3
  .clearfix
    %label{:for=>"city"}
      City:
      %span.label_desc city, town, or locality
    =f.text_field :city
  .clearfix
    %label{:for=>"state"}
      State:
      %span.label_desc state, province, or county
    =f.text_field :state
  .clearfix
    %label{:for=>"postal_code"}
      Postal Code:
      %span.label_desc postal code or zip
    =f.text_field :postal_code
  .clearfix
    %label{:for=>"country"}
      Country:
    =f.select :country, Country.all.collect {|c| [ c.name, c.iso1_code ] }.sort{|x,y|x[0]<=>y[0]}
  =f.hidden_field "roles][" , { :id => "roles", :value => contact_role }