.clearfix
  -if custom_contacts.any?
    -custom_contacts = render_saved_contacts(custom_contacts)
    %h3 Selected Contacts (#{custom_contacts.count})
    %table
      %thead
        %tr
          %td
          %td{class: 'role-checkbox'} Administrative
          %td{class: 'role-checkbox'} Billing
          %td{class: 'role-checkbox'} Technical
          %td{class: 'role-checkbox'} Validation
          %td
      %tbody    
        -custom_contacts.each do |c|
          %tr{id: c[1], data: c.last}
            -if c.last['parent_id']
              %td=c.first[0..35]
              -parent_roles = saved_contacts.select {|pc| pc if pc.id == (c.last['parent_id'])}.first.roles
            -else
              %td=link_to c.first[0..35], '#', id: 'lnk-update-role-contact'
            -roles = c.last['parent_id'] ? parent_roles : c.last['roles']
            %td{class: 'role-checkbox'}=check_box_tag :administrative, 'yes', |
            (roles && roles.include?('administrative'))
            %td{class: 'role-checkbox'}=check_box_tag :billing, 'yes', |
            (roles && roles.include?('billing'))
            %td{class: 'role-checkbox'}=check_box_tag :technical, 'yes', |
            (roles && roles.include?('technical'))
            %td{class: 'role-checkbox'}=check_box_tag :validation, 'yes', |
            (roles && roles.include?('validation'))
            -if c.last['parent_id']
              %td
            -else
              %td=link_to 'Edit', '#', id: 'lnk-update-role-contact', class: 'btn-decorate'
            %td=link_to 'Remove', '#', class: 'btn-remove-contact'
  -else
    %h3 Selected Contacts (0)
    #zero-contacts-box
      %h3 None
      %div
        %h3
          =link_to "+ #{@certificate_order.certificate.is_ov_client? ? 'Create New Recipient' : 'Create New Contact'}", '#', id: 'lnk_create_new_contact'
      -if saved_contacts.any?
        %small or, add from Available Contacts section