.reseller_registration_profile
  =error_messages_for :contact
  -url = {action: :update, ssl_slug: @ssl_slug, id: 'placeholder_id', saved_contact: true}
  -html = {id: 'edit_saved_contact'}
  =form_for :contact, url: url, method: :put, remote: true, authenticity_token: true, html: html do |f|
    .default_form
      %br
      =render partial: 'contacts/saved_contact_fields', |
      locals: {f: f, filter: true, new_contact: :new_contact, contact_role: nil}
      .clearfix
        -unless new_contact
          =f.submit 'Delete', class: 'button_red', id: 'btn_delete_role_contact', |
          data: {confirm: 'Are you sure you want to delete this contact permanently?'}
        =f.submit 'Cancel', class: 'button_blue button_medium_blue', id: 'btn_cancel_saved_contact'
        -if new_contact
          =f.submit 'Create', class: 'button_blue button_medium_blue', id: 'btn_create_role_contact'
        -else
          =f.submit 'Update', class: 'button_blue button_medium_blue', id: 'btn_update_role_contact'