.subheading Validation Contact
.show_hide_contact_form
  =f.check_box :validation_checkbox
  %span use administrative contact as validation contact
%p.description
  This should be the point of contact related to validation issues.
