%div.hidden#wrap_domain_filter.clearfix
  .wrap_filter_items.clearfix
    .filter_items_col
      .filter_item
        .filter_evt.clearfix
          %label
            =check_box_tag :filter_expired_validation_chk, true, false, :class => 'filter_chk', 'data-field'=>'expired_validation'
            Expired Validation
  =button_tag 'Search', :type=>'button', :id=>'btn_domain_filter_search'
  =button_tag 'Cancel', :type=>'button', :id=>'btn_close_domain_filter'