-title = "Domains"
-content_for :title, title
-system_admins = current_user.is_system_admins?
=render :partial => 'index_scripts'
#search_bar
  =form_tag domains_path, id: 'add_domains', method: :post do
    Input domain name(s) (separated by commas or spaces)
    =text_field_tag :domain_names, params[:domains]
    =button_tag 'Add', id: 'btn_add_domains'

=form_tag '', id: 'domains_list', method: :post do
  #validations
    %table(cellspacing="0")
      %caption
        =title
        =link_to 'managed csrs', managed_csrs_path(@ssl_slug)
        %ul(style="float: right; display: flex; list-style: none;" )
          %li(style="margin-right: 0.5rem" )
            =submit_tag 'validate ', formaction: "#{validate_selected_domains_path(@ssl_slug)}", style: "padding: 0.5rem", id: "d_name_action_validate", disabled: 'true'
          %li
            =submit_tag 'remove ', formaction: "#{remove_selected_domains_path(@ssl_slug)}", style: "padding: 0.5rem", id: "d_name_action_remove", disabled: 'true',
            data: {confirm: 'Are you sure you want to delete this domain?'}
      %tr.heading_row
        %th
        %th.name(scope="col") Name
        %th(scope="col") Scoped
        %th(scope="col") Status
        %th(scope="col") Validity period
      -@domains.each do |d|
        -dcv = d.domain_control_validations.last
        -validation_status = (dcv && dcv.identifier_found) ? 'Validated' : 'Pending validation'
        -validity_period = (validation_status=='Pending validation' || dcv.responded_at.nil?) ? 'n/a' : (30-(Date.today-dcv.responded_at.to_date).to_i).to_s + " days remaining"
        -order_ref = d.certificate_content ? d.certificate_content.certificate_order.ref : 'Team'
        %tr
          %td=check_box_tag "d_name_check[]",d.id, false, :id => "d_name_check_#{d.id}", :class => "d_name_check"
          %td=d.name
          %td=order_ref
          %td.d_name_status=validation_status
          %td=validity_period
      -@cnames.each do |d|
        -dcv = d.domain_control_validations.last
        -validation_status = (dcv && dcv.identifier_found) ? 'Validated' : 'Pending validation'
        -validity_period = (validation_status=='Pending validation' || dcv.responded_at.nil?) ? 'n/a' : (30-(Date.today-dcv.responded_at.to_date).to_i).to_s + " days remaining"
        -order_ref = d.certificate_content ? d.certificate_content.certificate_order.ref : 'Team'
        %tr
          %td
          %td=d.name
          %td=(validation_status=='Pending validation') ? (link_to order_ref, new_certificate_order_validation_path(@ssl_slug, d.certificate_content.certificate_order)) : order_ref
          %td=validation_status
          %td=validity_period