.flex.items-center.w-full.h-full
  .flex.items-center.px-6.flex-1.h-full
    .flex.flex-1.items-center.h-full.text-primary-500
      -# %i.far.fa-fw.fa-search
      -# %input.search.px-4.text-gray-600.outline-none.w-full.h-full(type="text" placeholder="Search for items ....")
  .flex.items-center.h-full.border-l.border-gray-200
    .box-1.m-6.text-center
      %h2
        0
      %h6
        Incomplete
    .box-2.m-6.text-center
      %h2
        0
      %h6
        Processing
    .box-3.m-6.text-center
      %h2
        0
      %h6
        Expires Soon

  .flex.items-center.justify-center.px-6.h-full.border-l.border-gray-200
    .btn.circle.xl.light
      %i.far.fa-fw.fa-shopping-cart
