-title = "CDN Management"
-content_for :title, title
-api_key = @results[:api_key]
-used_resource = @results[:used_resource]
-resources = @results[:resources]
-#%ul.nav.nav-tabs
-#  %li.nav-item
-#    %a.nav-link.active Resoruces
-#  %li.nav-item
-#    %a.nav-link Settings
#cdns
  %hr
  %div
    .sub-cont
      =form_tag :register_api_key_cdns, :method=>:post do
        %div.reg-api-key.clearfix
          .field-label API Key:
          .field-cont
            =text_field_tag :api_key, api_key
            =submit_tag 'Save'
  %hr
  -if api_key
    %div
      .sub-title Resources
      =form_tag :update_resources_cdns, :method=>:post do
        =hidden_field_tag :api_key, api_key
        #resources
          %table(cellspacing="0")
            %tr.heading_row
              %th Alias
              %th Origin
              %th Hostname
              %th Created
              %th Use?
              %th Delete?
            -if resources && resources.length > 0
              -resources.each do |resource|
                %tr
                  %td
                    =resource['alias']
                  %td
                    =resource['origin']
                  %td
                    =resource['hostname']
                  %td
                    =DateTime.parse(resource['created_at']).strftime("%d/%m/%Y")
                  %td
                    =radio_button_tag :used_resources, resource['id'] + '|' + resource['hostname'], used_resource==resource['hostname']
                  %td
                    =check_box_tag "deleted_resources[]", resource['id']
            -else
              %tr
                %td(colspan="6")
                  There is no resources
          =submit_tag 'Save', :id=>'btn_update_resource'
      %hr
      %div
        .sub-title Create Resource
        .sub-cont
          =form_tag :id=>'create_resource', :method=>:post do
            =hidden_field_tag :api_key, api_key
            %div.reg-resource.clearfix
              .field-label Resource Origin:
              .field-cont
                =text_field_tag :resource_origin, root_url
                .note
                  Which website should we mirror on the CDN?
            %div.reg-resource.clearfix
              .field-label Resource Name:
              .field-cont
                =text_field_tag :resource_name
                .note
                  Something to identify this resource by (e.g. mysite.a.cdnify.io)
            =submit_tag 'Save', :id=>'btn_create_resource'
      %hr
