-title = "CDN Caches"
=render :partial => 'index_scripts'
-content_for :title, title
-api_key = @results[:api_key]
-expire_time = @results[:expire_time]
#caches
  %hr
  #popular-files
    .sub-title Popular Files
    %table(cellspacing="0")
      %tr.heading_row
        %th Name of Files
        %th Bandwidth
        %th Hits
        %th Purge
      %tr
        %td /wp-content/themes/twentyseventeen/assets/js/jquery.scrollTo.js?ver=2.1.2
        %td 110.45 kB
        %td 10
        %td
          =button_tag 'Purge', :id=>'btn_purge_file'
      %tr
        %td /wp-content/themes/twentyseventeen/assets/js/global.js?ver=1.0
        %td 99.41 kB
        %td 8
        %td
          =button_tag 'Purge', :id=>'btn_purge_file'
  %hr
  %div.clearfix
    #purge-files
      .sub-title Purge Files
      .sub-cont
        =form_tag :purge_cache_cdn, :id=>'purge_form', :method=>:delete do
          =hidden_field_tag :api_key, api_key
          =hidden_field_tag :purge_all, false
          %div.clearfix
            .field-label Purge Files:
            .field-cont
              =text_field_tag :purge_files
          =submit_tag 'Go'
          =submit_tag 'Purge All', id: 'purge_all_btn'
    #cache-expiry
      .sub-title Cache Expiry
      .sub-cont
        =form_tag :update_cache_expiry_cdn, :method=>:post do
          =hidden_field_tag :api_key, api_key
          %div.clearfix
            .field-label Cache Expiry(set hours):
            .field-cont
              =number_field_tag :expiry_hours, expire_time
          =submit_tag 'Update'
  %hr