# Example configuration template for all developers

Four environments:
  1. development
  2. qa
  3. production
  4. test

development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: dev_sslcom
  pool: 5
  username: ssl_dev
  password: ssl_dev
  socket: /var/run/mysqld/mysqld.sock

qa:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: qa_sslcom
  pool: 5
  username: ssl_qa
  password: ssl_qa
  socket: /var/run/mysqld/mysqld.sock

test: &Test
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: test_sslcom
  pool: 5
  username: ssl_test
  password: ssl_test
  socket: /var/run/mysqld/mysqld.sock

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: <PRODUCTION>
  pool: 5
  username: <PRODUCTION USER>
  password: <PRODUCTION PASSWORD>
  socket: /var/run/mysqld/mysqld.sock

cucumber:
  <<: *test
