-if @site_seal.blank?
  No #{community_name} Site Report Found.
-else
  -title = "#{community_name} Secured Site Report"
  -content_for :title, title
  -ss = @site_seal
  -co = ss.certificate_order
  #wrapper
    =render 'report_header'
    %div
      %dl
        %dt.section_header
          report generated for site
        %dd=co.subject
    %div
      %dl
        %dt.section_header ssl site seal status
        %dd
          -ss, sc = site_seal_status(@site_seal)
          %span(class=sc)=ss
