-c={}
-c[:description]="Displaying #{community_name} secure site seals and smart seals build customer trust."
-c[:keywords]="SSL secure site seal smartseal smart trusted"
-c[:title]="SSL Secured Site Seals"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => 'index_scripts'
#search_bar
  =form_tag :search_site_seals, :method=>:get do
    subject or ref#
    =text_field_tag :search, @search
    =submit_tag 'search'
#validations
  %table(cellspacing="0")
    -if will_paginate @certificate_orders
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @certificate_orders
    %caption 
      =c[:title]
      =will_paginate @certificate_orders
    %tr.heading_row
      %td
      %th.name(scope="col")Subject
      %th(scope="col") Certificate Status
      %th(scope="col" colspan="3") Site Seal Status
    -@certificate_orders.each_with_index do |co, i|
      -unless co.order.blank?
        -s = co.site_seal
        -cc = co.certificate_content
        -unless cc.csr.blank?
          -v = co.validation
          %tr
            %td.dropdown=image_tag 'expand.png'
            %td.name
              =render :partial=>'/certificate_orders/subject_column', :locals=>{:certificate_order=>co}
            -ss, ss_class=site_seal_status(s)
            -cs, cs_class=certificate_status(co, true)
            %td.validation_status_message(class="#{cs_class}")=cs
            %td.validation_status_message(class="#{ss_class} ss_message_#{i}" colspan="3")=ss
          =render :partial=>"entry", :locals=>{:co=>co, :i=>i}
