-cert ||= @certificate_order ? [@certificate_order] : @certificate_orders
-order ||= @order || current_order
%table#order_details_table(cellspacing='0' class="#{order.receipt ? 'receipt' : ''}")
  %tbody
    -unless cert.blank?
      %tr#heading_row
        %th.description(scope='col') description
        %th.quantity(scope='col') quantity
        %th.price(scope='col') price
      =render :partial=>'/funded_accounts/certificate_order_row', :collection=>cert, :as=>:cert
    -unless order.discounts.empty?
      %tr
        %td.description.total_row(style="font-weight: normal") subtotal
        %td.price.total_row(colspan='2' style="font-weight: normal") #{order.amount.format}
      %tr(style="color:red")
        %td.description.total_row(style="font-weight: normal")=order.discounts.map(&:label).join(", ")
        %td.price.total_row(colspan='2' style="font-weight: normal") -#{order.discount_amount.format}
    %tr
      %td.description.total_row total
      %td.price.total_row(colspan='2')= order.final_amount.format
