-content_for :title, "Apply Existing Account Funds To Order Payment"
-@hide_remove = true
=order_progress_indicator(2, @certificate_order.certificate) if @certificate_order
.reseller_registration_select_tier
  -form_for(FundedAccount.new, :url => apply_funds_path, :html => { :method => :put }) do |f|
    -if @certificate_order
      =hidden_field_tag("certificate_order")
    -elsif @certificate_orders
      =hidden_field_tag("certificate_orders")
    %h3 Apply Existing Account Funds To Order Payment
    -unless @certificate_orders
      =render 'certificate_order_detail'
    -else
      =render :partial=>'cart_details', :locals=>{:cert=>@certificate_orders, :is_receipt=>true}
    %p
      You currently have
      %span.order_amount_strong
        #{funded_account_balance :with_currency}
      in your SSL account and your order total is
      %span.order_amount_strong
        #{cart_total_price}.
      Click the 'Next >>' button to confirm order payment (
      %em> note: please press only once
      ).
    #button_container
      #prev_next_submit
        =image_submit_tag "prev_bl.gif", :name=>"prev"
        =image_submit_tag "next_bl.gif", :name=>"next"