.flex-col
  .block.p-4
    .font-bold
      Name:
    .font-light.ml-2
      = Pillar::<%= class_name %>.to_s

  .block.p-4
    .font-bold
      Version:
    .font-light.ml-2
      = Pillar::<%= class_name %>.version
