<script type="text/javascript">
jQuery(function($) {
  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.every)
  {
    Array.prototype.every = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            !fun.call(thisp, this[i], i, this))
          return false;
      }

      return true;
    };
  }

  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.some)
  {
    Array.prototype.some = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            fun.call(thisp, this[i], i, this))
          return true;
      }

      return false;
    };
  }
  $(document).ready(function() {
    var show_documents=true;
    $('.clickable_choice').click(function(e){
      $(this).siblings().filter(':input').click();
    });
    $('form').livequery(
      'ajax:beforeSend', function(){
        $('#busy_sending').show();
        $(':submit').hide();
        $.prettyLoader.show();
      }).livequery(
      'ajax:success', function(event, data, status, xhr){
        if(data!="null"){
          if(typeof data.unsubscribe!="undefined"){
              $('#unsubscribed_email').html(data.unsubscribe.email);
              $('#unsubscribed_domain').html(data.unsubscribe.domain);
              if(data.unsubscribe.specs=="<%=Unsubscribe::ALL%>"){
                $("#all").show();
                $("#only").hide();
              }
              else if(data.unsubscribe.specs=="<%=Unsubscribe::ONLY%>"){
                $("#only").show();
                $("#all").hide();
              }
              $.prettyPhoto.open("#success","","");
          }
          else{
            if(typeof data.base!="undefined"){
                $.prettyPhoto.open("#pp_no_match","","");
            }
            else{
                //assume an error
                var error_message = "<ul>";
                if(typeof data.original!="undefined")
                  error_message=data.original;
                else{
                  i=0;
                  $.each(data, function(key, value) {
                    i++;
                    error_message+="<li>"+key+" "+value+"</li>";
                  });
                  error_message+="</ul>"
                }
                $('#error_messages').html(error_message);
            }
          }
        }
      }).livequery('ajax:failure', function(xhr, status, error) {alert("failure!");}).livequery(
      'ajax:complete', function(data, status, xhr){
        $('#busy_sending').hide();
        $(':submit').show();
        $.prettyLoader.hide();
      });
  });
});
</script>
