-c={}
-c[:header]='public_wo_container'
-c[:description]="Unsubscribe from ssl.com reminders and email list"
-c[:keywords]="unsubscribe reminder email listing"
-c[:title] = "Turning off ssl.com certificate reminder assurance"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => 'index_scripts'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1=c[:title]
      %h2
        reactivate reminder ##{@unsubscribe.ref} through your account settings
      .leftcolb
        %section.search_container#surl_stylized
          =form_for @unsubscribe, html: {class: "single_prompt"} , remote: true do |f|
            =render partial: "form", locals: {f: f}
      .rightcolc
        %ul.listd.ssl_links
          %li
            reminders prevent certificates expiring
          %li
            never be off-guard with an expired cert
          %li
            can adjust for more or less frequency
          %li
            ssl.com reminders are opt-in only
          %li
            courtesy of ssl.com certification authority
        #surl_container
        #surl_instructions
          copy the ssl link above and paste it anywhere to substitute for:
          %span.old_link.clearfix
          %span.click_to_visit
#pp_no_match.pop_container
  .pop_content
    %p(style="color:red;")
      Sorry, but the email address you submitted does not match the unsubscribe reference number #{@unsubscribe.ref}.
      Unsubscribe was not processed.
#success.pop_container
  .pop_content
    %p
      Email address
      %span#unsubscribed_email
      has been removed from any future ssl.com certificate expiration reminders
      %span#all
        for all domains.
      %span#only
        for domain
        %span#unsubscribed_domain
        \.
#error.pop_container
  .pop_content
    %p
      Errors were detected:
      %span#error_messages
