.clearfix
.u2f_block#waiting_bar
  = image_tag('waiting_bar_medium.gif', style: 'vertical-align: middle;')
  #waiting_bar_text
    Insert your key and touch it
= link_to 'Or request a code via SMS', '#'
