%tr
  %td=url
  %td=@affiliate.landed_urls_count[url]
  %td=orders.count
  %td=Money.new(orders.sum(&:cents)).format
  %td=Money.new(orders.map(&:line_items).flatten.sum(&:affiliate_commission_price)).format
