<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $.select_tier = function(radio){
      $.empty_out_cart();
      $.add_remove_cart_items("add", {<%=ShoppingCart::PRODUCT_CODE%> :
          $(radio).attr("id")});
      $.adjust_items_in_cart();
      //update cart
    };
    $.update_country = function(country_select){
      if($(country_select).find(':selected').text()=="United States")
        $('label[for*=state]').text("State*");
      else
        $('label[for*=state]').text("State/Province*");
    };
    $('.add_to_cart').click(function() {
      $(this).parent().effect("transfer", {
        to: "#cart a"
      });
      $('#cart').effect("highlight", {}, 3000);
    });
    $(':radio[id*=affiliate_payout_method_check]').click(function(){
      $('#checks_payable_to').show();
      $('#epassporte').hide();
      $('#wire_columns').hide();
    });
    $(':radio[id*=affiliate_payout_method_epassporte]').click(function(){
      $('#checks_payable_to').hide();
      $('#epassporte').show();
      $('#wire_columns').hide();
    });
    $(':radio[id*=affiliate_payout_method_wired]').click(function(){
      $('#checks_payable_to').hide();
      $('#epassporte').hide();
      $('#wire_columns').show();
    });
    $(':radio[id*=reseller_type_organization_individual]').click(function(){
      $('#reseller_organization').parents('.clearfix').hide();
      $('label[for*=tax_number]').text("SS# or Personal ID*").remove('.label_desc');
    });
    $(':radio[id*=reseller_type_organization_business]').click(function(){
      $('#reseller_organization').parents('.clearfix').show();
      $('label[for*=tax_number]').text("Tax Number*").append("<span class='label_desc'>VAT for EU companies</span>");
    });
    $('#reseller_country').change(function(){
      $.update_country(this);
    });
    $('label[for*=tax_number]').text("Tax Number*").append("<span class='label_desc'>VAT for EU companies</span>");
    $.update_country('#reseller_country');
    $('input[type=radio][id*=reseller_tier]').each(function(){
      selected = true;
      radio = this;
      $($.get_cart_items()).each(function(){
        if(this["<%=ShoppingCart::PRODUCT_CODE%>"]==$(radio).attr("id")){
          $(radio).attr("checked", "checked");
        }
      });
    });
    $(':radio:checked').click();
  });
});
</script>
