.yui-b
  .box
    =render :partial=>'management'
#yui-main
  .yui-b
    .box
      %h3="Edit Affiliate Profile".l
      = error_messages_for :object, :affiliate, :header_message => "Error preventing affiliate profile update"
    #medium-form
      - form_for object, :url => update_profile_affiliate_path(object), :html => {:multipart=>true, :method => :put, :class => "MainForm"} do |f|
        =render :partial=>'studios/form_profile', :locals => {:f => f, :object=>object}