-content_for :title, "#{community_name} Referral Link Registration"
=render :partial => 'index_scripts'
.reseller_registration_profile
  %h3 #{community_name} Referral Link Registration
  %p Please fill out the required fields below to complete your registration for the #{community_name} Referral Link Program
  =error_messages_for :affiliate
  =form_for @affiliate do |f|
    #stylized.default_form
      =render :partial => "form", :locals => {:f=>f}
    #button_container
      #auto_adjust
        =image_tag "cancel_bl.gif", id: "cancel_reseller_signup"
        =image_submit_tag "next_bl.gif", alt: "submit ssl reseller form"
