-c={}
-c[:title] = "SSL.com Affiliate Sales and Statistics"
-c.each do |k, v|
  -content_for k, c[k]
.innercontainere
  .inner
    %h1
      =c[:title]
    %h2
      information displayed is for affiliate
      %strong #{current_user.login}
    .clearfix
      -if @stats.empty?
        %h2
          No sales or statistics have been recorded yet. Please
          =link_to "visit the links", links_affiliate_url(current_user.ssl_account.affiliate)
          page to get started.
      -else
        %table#manage_current_links(cellspacing=0)
          %tr
            %th referral link
            %th visits
            %th number sales
            %th total sales
            %th commission
          -@stats.each do |k, v|
            =render partial: "affiliate_row", locals: {url: k, orders: v}

