-c={}
-c[:title] = "#{community_name} Affiliate Sales and Statistics"
-c.each do |k, v|
  -content_for k, c[k]
-landed_urls = @affiliate.landed_urls
.innercontainere
  .inner
    %h1
      =c[:title]
    %h2
      information displayed is for affiliate
      %strong #{@affiliate.ssl_account.primary_user.login}
    .clearfix
      -if landed_urls.empty?
        %h2
          No sales or statistics have been recorded yet. Please
          =link_to "visit the links", links_affiliate_url(@affiliate)
          page to get started.
      -else
        %table#affiliate_sales(cellspacing=0)
          %tr
            %th referral link
            %th visits
            %th number sales
            %th sales amount
            %th commission
          -landed_urls.each do |k, v|
            =render partial: "affiliate_row", locals: {url: k, count: v}

