-c={}
-c[:title] = "SSL.com Affiliate Sales and Statistics"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => '/surls/index_scripts'
.innercontainere
  .inner
    %h1
      =c[:title]
    %h2
      information displayed is for affiliate
      %strong #{current_user.login}
    .clearfix
      %table#manage_current_links(cellspacing=0)
        %tr
          %th referral link
          %th visits
          %th number sales
          %th total sales
          %th commission
        -@stats.each do |k, v|
          =render partial: "affiliate_row", locals: {url: k, orders: v}
      -#%p
      -#  Let everyone know you are using secure links with the foremost name in security by using the ssl.com
      -#  domain name as your secure linking service. All links display an ssl daily scanned report near the top
      -#  to let people know the link is safe.

