-c={}
-c[:title] = "#{community_name} Affiliate Home for #{@affiliate.ssl_account.primary_user.login}"
-c.each do |k, v|
  -content_for k, c[k]
.innercontainere
  .inner
    %h1
      =c[:title]
    %h2
      %ul
        %li=link_to "get referral links", links_affiliate_url(@affiliate)
        %li=link_to "view sales and statistics", sales_affiliate_url(@affiliate)
