-c={}
-c[:header]='public'
-c[:title] = "SSL.com Affiliate Sales and Statistics"
-c.each do |k, v|
  -content_for k, c[k]
=render :partial => '/surls/index_scripts'
.innercontainere
  .inner
    =render :partial => "shared/messages"
    %h1
      =c[:title]
    %h2
      information displayed is for affiliate
      %strong #{current_user.login}
    .clearfix
      %table#manage_current_links(cellspacing=0)
        %tfoot
          %tr
            %td(colspan="#{current_user ? 6 : 5}")
              -#the following space is needed else this row collapses if too few rows exist
              &nbsp
              =will_paginate @surls
        %tr
          %th referral link
          %th visits
          %th uniques
          %th total sales
          %th commission
        -@surls.sort{|a,b|b.created_at<=>a.created_at}.each_with_index do |surl, i|
          =render partial: "affiliate_row", locals: {surl: surl}
      -#%p
      -#  Let everyone know you are using secure links with the foremost name in security by using the ssl.com
      -#  domain name as your secure linking service. All links display an ssl daily scanned report near the top
      -#  to let people know the link is safe.

