#not-authorized-container
  #error-num
    403!
  #error-title
    Forbidden
  #error-desc
    Unfortunately, you do not have permission to view this page.
  #error-btn
    =link_to 'Back to Home', root_path, class: 'button_blue'

