#not-authorized-container
  #error-num
    404 ERROR!
  #error-title
    Page Not Found
  #error-desc
    The page you are looking for doesn't exist or an error has occurred.
  #error-btn
    =link_to 'Back to Home', root_path, class: 'button_blue'
