-c={}
-#-c[:description]="Buy ssl ev, wildcard, and uc certificates to secure websites and build trust."
-#-c[:keywords]="buy ssl certificates ev wildcard uc certificate code signing digital signature 99.9 browsers acceptance"
-c[:title]=title
-c[:header]='public'
-c.each do |k, v|
  -content_for k, c[k]
%h1
  =main_title
%h2
  =sub_title
.default_container
  %h3=title
  .contact_us_support
    .support_panel
      .contact_us_container.no_top_margin
        %p.contact_us_header
          Benefits
        %ul.benefits
          -benefits.each do |b|
            %li=b.html_safe
  .contact_us_container
    %p.contact_us_header
      Summary
    %p.description
      =summary.html_safe
    %p.contact_us_header
      Details
    -descriptions.each_with_index do |d, i|
      -if i == 0
        %p.main_description
          =main_image.html_safe
          =d.html_safe
      -else
        %p.main_description
          =d.html_safe
#become_a_reseller_today
  %h3 get started today!
  =link_to "Become a reseller!", new_account_url, :class=>"buttonc"
