<a href="https://www.ssl.com/site_seals/63e34121-54615043/site_report" onclick="window.open('https://www.ssl.com/site_seals/63e34121-54615043/site_report', 'site_report','height=600, width=400, top=100, left=100'); return false;" onmouseover="this.style.cursor='pointer'" style="border: none;">
  <%= image_tag "ssl_seal_1_ev.png", width: "130px" %>
</a>
