<a href="https://<%=portal_domain%>/site_seals/fadd3304-5c92b9b7/site_report" onclick="window.open('https://<%=portal_domain%>/site_seals/fadd3304-5c92b9b7/site_report', 'site_report','height=600, width=400, top=100, left=100'); return false;" onmouseover="this.style.cursor='pointer'" style="border: none;">
  <%= image_tag "ssl_seal_1_ev.png", width: "130px" %>
</a>
