-content_for :header, 'public_wo_container'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1.section-title
        Build customer trust with
        %span.logo
          %span.hide_me ssl.com
        Certificates
      #banner-grid
        .left.banner1
          %h2 Basic
          %span Affordable and secured
          .price-block
            .price $49
            .price-desc /yr for single domain
            .clear
          .divider
          .security_rating
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %div Security Rating
          .description
            %ul
              %li
                %div $50,000
                warranty
              %li
                %div Validation
                of domain ownership
              %li
                %div 256-bit
                encryption
              %li
                %div 10
                minute issuance
          .divider
          %a{:href => "#"}
            .btn-buynow
              %span buy ssl certificate now
        .left.banner2
          .bestseal
            %img{:alt => "", :src => "images/best-offer.png"}/
          %h2 Premium
          %span Perfect for small and medium businesses
          .price-block
            .red Only
            .price $99
            .price-desc
              \/yr for single domain
              plus
              .additional-desc 2 sub-domains
            .clear
          .divider
          .security_rating
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %div Security Rating
          .description
            %ul
              %li
                %div $125,000
                warranty
              %li
                %div Validation
                of domain ownership
              %li
                %div 256-bit
                encryption
          .divider
          %a{:href => "#"}
            .btn-buynow
              %span buy ssl certificate now
          .help
            Don't know which to select?
            %a{:href => "#"} Help me choose
        .left.banner3
          %h2 Enterprise EV
          %span Highest level of user protection
          .price-block
            .price $299
            .price-desc /yr for single domain
            .clear
          .divider
          .security_rating
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %img{:alt => "", :src => "images/icn-lock.png"}/
            %div Security Rating
          .description
            %ul
              %li
                %div $250,000
                warranty
                %span.icn-help
              %li
                %div Extended
                company validation
                %span.icn-help
              %li
                .green Green Bar
                assurance
              %li
                %div Dedicated
                support staff
          .divider
          %a{:href => buy_certificate_url("ev")}
            .btn-buynow
              %span buy ssl certificate now
      .clear
      #advertisement
        .catch-phrase
          %span Looking for Wildcard and Multi-Domain (UC) certificates?
          %a.btn-wegot{:href => "#", :title => ""}
      #partners
        %div Trusted by leading brands
        %img{:alt => "partners", :src => "images/sprite-partners.jpg"}/
  .holder
    .inner
      .sidebarhome
        .left-icon-bar
          Standard Features on all
          %span.logo-small
          certificates
        %ul#features
          %li
            %span.icn-compatibility
            Compatible with 93.3% of all browsers
          %li
            %span.icn-lock
            Padlock symbol & "https" domain
          %li
            %span.icn-shield
            Strong 256-bit encryption
          %li
            %span.icn-mobile
            Mobile device support
          %li
            %span.icn-medical
            HIPAA & PCI compliant
          %li
            %span.icn-baggage
            Free lifetime certificate reissues
          %li
            %span.icn-lifeguard
            24/7 chat, email and phone support
          %li
            %span.icn-box
            30 day no questions asked refund policy
          %li
            %span.icn-tool
            Easy to use Account Manager
          %li
            %span.icn-ssl
            Free
            %span.logo-smaller
            Site Seal
        .left-icon-bar
          Secure Websites in Plain English
        #video
          / VIDEO SNIPPET IS EMBEDDED HERE
          %img{:alt => "", :height => "150px", :src => "images/thumb-video.jpg", :width => "318px"}/
      .inner-content
        %h2 FAQs
        .faq-boxes
          %span.title Who needs SSL Certificate?
          %p
            E-commerce sites where credit cards transactions and other payment transactions occur, Customer/User Login pages where personal and confidential information is exchanged, Sign-up pages such as newsletters, alerts, mailing lists, etc. that require customers to submit personal details, and any other web page or application that needs to securely submit information to the server.
          %span.title What is a Wildcard certificate?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum.
          %span.title How does warranty work?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum.
          %span.title What is Green Bar assurance?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        .faq-boxes
          %span.title How does the SSL free trial work?
          %p
            E-commerce sites where credit cards transactions and other payment transactions occur, Customer/User Login pages where personal and confidential information is exchanged, Sign-up pages such as newsletters, alerts, mailing lists, etc. that require customers to submit personal details, and any other web page or application that needs to securely submit information to the server.
          %span.title How long does it take to set up?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum.
          %span.title What is a Multi-domain certificate?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum.
          %span.title
            Why choose
            %span.logo-small
            over the competition?
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt arcu in risus pulvinar vitae laoreet est tristique. Nunc lacinia lacus in neque volutpat vel hendrerit dolor elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      .clear