-c={}
-c[:description]="SSL.com certificates are globally trusted by #{Settings.browser_acceptance} of browsers"
-c[:keywords]="ssl ssl.com certificates browsers acceptance #{Settings.browser_acceptance} compatible blackberry rim mozilla aol firefox internet explorer safari chrome opera netscape"
-c[:title] = "SSL.com Certificate Browser Acceptance"
-c[:header] = "public"
-c.each do |k, v|
  -content_for k, c[k]
%h1=c[:title]
%h2 Overwhelmingly accepted and trusted by most users globally
.default_container
  %h3 Browser Listings
  %p
    SSL.com certificates are accepted by over #{Settings.browser_acceptance} of Internet users globally. This
    meets or exceeds trust levels of other leading certificate authorities.
  .info_listing
    =image_tag "compatible.gif", title: "ssl.com certificate compatible browsers"
  %ul
    %li Internet Explorer 5.01 and above
    %li Netscape 4.77 and above
    %li Firefox 0.1 and above
    %li Mozilla 0.6 and above
    %li AOL 5 and above
    %li Opera 8 and above
    %li Safari 1.2 and above
