-title="Contact Us"
-content_for :title, title
-content_for :header, 'public'
.default_container
  %h3=title
  .contact_us_support
    .support_panel
      .contact_us_container.no_top_margin
        %p.contact_us_header
          Support Issues
        %ul.phone_numbers
          %li tel: +1-SSL-Certificate (+1-775-237-8434)
          %li fax: 832-201-7706
          %li email: support@ssl.com
        %p.sub_description
          For support issues related to SSL Certificates, email support@ssl.com to
          create a support ticket
          %em (please be sure to include your order number)
          \.
        %p.sub_description
          If you need a certificate reprocessed, please use the document
          submittal system in your ssl.com account. Also, you can email
          support@ssl.com to open a support ticket and request a certificate
          reprocess. Be sure to include your ssl.com certificate
          order number and certificate signing request.

        %p.contact_us_header
          Documentation Submittal and Validation
        %ul.phone_numbers
          %li tel: +1-SSL-Certificate (+1-775-237-8434)
          %li fax: 832-201-7706
          %li email: support@ssl.com
        %ul.phone_numbers
          %li SSL
          %li 2260 W. Holcombe Blvd Ste#600
          %li Houston, Tx 77030
  .contact_us_container
    %p.contact_us_header
      Main
    %ul.phone_numbers
      %li tel: +1-SSL-Certificate (+1-775-237-8434)
      %li fax: 832-201-7706

  .contact_us_container
    %p.contact_us_header
      Sales
    %ul.phone_numbers
      %li toll free: 877-SSL-Secure (877-775-7328)
      %li fax: 832-201-7706
      %li email: sales@ssl.com

  .contact_us_container
    %p.contact_us_header
      SSL Americas
    %ul.phone_numbers
      %li SSL
      %li 2260 W. Holcombe Blvd Ste#600
      %li Houston, Tx 77030

  .contact_us_container
    %p.contact_us_header
      Public Relations
    %ul.phone_numbers
      %li tel: +1-SSL-Certificate (+1-775-237-8434)
      %li fax: 832-201-7706
      %li email: pr@ssl.com
