-title="Contact Us"
-content_for :title, title
-content_for :header, 'public'
.default_container
  %h3=title
  .contact_us_support
    .support_panel
      .contact_us_container.no_top_margin
        %p.contact_us_header
          Support Issues
        %ul.phone_numbers
          %li
            tel:
            =AppConfig.corp_phone_tag
          %li
            fax:
            =AppConfig.corp_fax
          %li email: support@ssl.com
        %p.sub_description
          For support issues related to SSL Certificates, email support@ssl.com to
          create a support ticket
          %em (please be sure to include your order number)
          \.
        %p.sub_description
          If you need a certificate reprocessed, please use the document
          submittal system in your ssl.com account. Also, you can email
          support@ssl.com to open a support ticket and request a certificate
          reprocess. Be sure to include your ssl.com certificate
          order number and certificate signing request.

        %p.contact_us_header
          Documentation Submittal and Validation
        %ul.phone_numbers
          %li
            tel:
            =AppConfig.corp_phone_tag
          %li
            fax:
            =AppConfig.corp_fax
          %li email: support@ssl.com
        %ul.phone_numbers
          %li SSL Corp
          %li=AppConfig.mail_address1
          %li=AppConfig.mail_address2
          %li=[AppConfig.mail_city, AppConfig.mail_state, AppConfig.mail_zip].join(", ")
  .contact_us_container
    %p.contact_us_header
      Main
    %ul.phone_numbers
      %li
        tel:
        =AppConfig.corp_phone_tag
      %li
        fax:
        =AppConfig.corp_fax

  .contact_us_container
    %p.contact_us_header
      Sales
    %ul.phone_numbers
      %li
        toll free:
        =AppConfig.corp_tollfree_tag
      %li
        fax:
        =AppConfig.corp_fax
      %li email: sales@ssl.com

  .contact_us_container
    %p.contact_us_header
      SSL Americas
    %ul.phone_numbers
      %li SSL Corp
      %li=AppConfig.mail_address1
      %li=AppConfig.mail_address2
      %li=[AppConfig.mail_city, AppConfig.mail_state, AppConfig.mail_zip].join(", ")

  .contact_us_container
    %p.contact_us_header
      Investor Inquiries
    %ul.phone_numbers
      %li
        tel:
        =AppConfig.corp_phone_tag
      %li
        fax:
        =AppConfig.corp_fax
      %li email: investors@ssl.com
