-title="#{community_name} Copyright and Trademark Information"
-content_for :title, title
-content_for :header, 'public'
%h2=title
.default_container
  %h3 Copyrights
  %p
    The Site and the content within the Site are the property of SSL Corp or its suppliers and are
    protected by United States copyright laws and international treaty provisions.
    The compilation, organization and display of the content as well as all software and
    inventions used on and in connection with this Site are the exclusive property of SSL Corp.
    SSL Corp reserves all rights in the Site and its content not specifically granted in any
    agreements with SSL Corp or in the Terms of Use.

.default_container
  %h3 Trademarks
  %p
    SSL Corp marks, graphics, logos, page headers, button icons, scripts noted on the Site are
    SSL Corp's service marks, trademarks and trade dress and are the sole and exclusive property of
    SSL Corp. SSL Corp's service marks, trademarks and trade dress may not be used in any manner that is
    likely to cause confusion among customers, in any manner that disparages or discredits SSL Corp
    and in connection with any service or product that is not sponsored, endorsed or produced
    by SSL Corp. All other trademarks not owned by SSL Corp or its subsidiaries that appear on this site
    are the property of their respective owners, who may or may not be affiliated with,
    connected to, or sponsored by SSL Corp or its subsidiaries.

