-content_for :header, 'public'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1
        Build Customer Trust With #{community_name} Certificates
      %h2
        Get started with a
        =link_to "Free #{community_name} certificate and Smart SeaL", certificate_path(id: 'free'), alt: "get a free ssl certificate", title: "click here for free ssl certificates"
        today!
        -#Gain the competitive edge by displaying your SSL Smart SeaL
      .leftcolb
        .go_green_with_ev_image_container
          =link_to image_tag("go_green_with_ev_ssl.jpg", alt: "ev certificates for websites and Exchange server", title: "EV UCC and digital x.509 and pkcs#7 certificates"), certificate_path('ev'), title: "ssl.com provides trusted high strength ev certificates", alt: "go with ssl.com ev ssl"
        .sample_site_seal_container
          %p
            Secured seal powered with Smart SeaL Artifacts technology
          =render 'site_seal'
      .rightcolc
        %ul.listd
          %li
            Comes with
            =link_to "Smart SeaL Artifacts", details_site_seals_path, title: "secure site seal and report"
            report
          %li
            Enables the
            =link_to "green address bar with ev ssl", certificate_path(:id=>'ev'), alt: "green bar with extended validation ev ssl", title: "get the green bar with extended validation certificates"
          %li
            Around-the-clock customer support
          %li
            Strongest encryption; 2048-bit strength
          %li
            =link_to "Wildcard certificates", certificate_path(id: "wildcard"), alt: "wildcard certificates for sub domains", title: "wildcard certificates secure multiple subdomains"
            for subdomains
        =link_to image_tag("buy_ssl_certificate.gif", :alt => "view trusted free, ev, and wildcard digital certificates"), certificates_path
        %p
          No contracts to sign. No setup fees. No commitments.
        %div(style='text-align: center;')
          =image_tag "compatible.gif", :alt => "no commitments to buy digital certificates"
.holder
  .inner
    .sidebarhome
      %div(style='width: 287px')
        %h2.right_panel
          who uses ssl.com certificates?
        =image_tag "customers.jpg", :alt => "ssl.com certificates are globally trusted"
    %ul.boxes
      %li
        =image_tag "b_icon_t.gif", :alt => "ssl pki for single domain and wildcard digital certificates"
        .text
          %h3
            Better tools mean better results
          %p
            Save time with our simple yet powerful PKI system for resellers.
            Leverage our complimentary suite of promotional tools to help
            drive sales and increase your bottomline.
      %li.right_side
        =image_tag "b_icon_m.gif", :alt => "ssl certificate reseller program"
        .text
          %h3
            Save money, increase profits
          %p
            The
            =link_to "SSL Reseller Program", resellers_root_url(:subdomain=>Reseller::SUBDOMAIN), :title => "resell ev ssl, wildcard ssl, and high assurance certs"
            allows you to start selling SSL
            certificates immediately with no contracts or commitments.
            Simply choose from multiple prepayment levels to achieve higher
            discounting.
      %li
        =image_tag "b_icon_i.gif", :alt => "wildcard ssl, ev ssl, and ucc ssl certificates"
        .text
          %h3
            Trusted wildcard ssl certificates
          %p
            Looking to secure multiple subdomains? Go with
            =link_to "wildcard digital certificates", certificate_path(id: "wildcard"), alt: "ssl wildcard certificates", title: "ssl wildcard certificates secure multiple sub-domains with strong security"
            for complete
            coverage from the trusted name in certificate authorities - ssl.com
      %li.right_side
        =image_tag "b_icon_d.gif", :alt => "X509 and PKCS ssl certificate management"
        .text
          %h3
            Detailed reporting
          %p
            Keep tabs on your account through our advanced reporting system.
            With this tool, you can view details about your certificates,
            account balance, deposits, and much more.
      %li
        =image_tag "b_icon_r.gif", :alt => "increase trust with extended validation certificates"
        .text
          %h3
            Globally trusted EV SSL
          %p
            Increase customer trust and retention with globally ubiquitous extended validation certificates.
            =link_to "Ev ssl certificates", certificate_path(id: "ev"), alt: "ev ssl certs", title: "ev ssl certificates means highest assurance"
            have the highest level of assurance and confidence resulting in more revenues and retention rates.
      %li.right_side
        =image_tag "b_icon_s.gif", :alt => "excellent customer support"
        .text
          %h3
            24-hour worldclass support
          %p
            Expedient SSL implementation is essential to maintain proper uptime,
            and we offer multiple levels of support to ensure your SSL
            management and installations go smoothly.
