-c={}
-c[:description]="#{community_name} issues signed certificates for the following top level domains"
-c[:keywords]="ssl top-level domains tlds gtlds signed certificates"
-c[:title] = "Acceptable Top Level Domains (tlds) for SSL Certificates"
-c[:header] = "public"
-c.each do |k, v|
  -content_for k, c[k]
%h1=c[:title]
%h2 SSL for ICANN top level domains in alphabetical order
.default_container
  %h3
    Please refer the #{link_to "following tlds list","http://data.iana.org/TLD/tlds-alpha-by-domain.txt", target: "blank"}
    that are compatible tlds with #{community_name} SSL certificates.
