#other_services
  %h2#main_description
    Need lower volume pricing?
    =link_to 'Click here to learn more about the SSL Reseller Program.', resellers_root_url(:subdomain=>Reseller::SUBDOMAIN)
  %h2#sub_description
    Don't settle for imitation #{community_name} certificates, be sure to look for the #{community_name} Smart SeaL.
