%td(valign='top' height='128')
  %a(href="#{certificate_url :id=>c.product_root}")
    =image_tag(c.icons["main"], :class=> (c.product_root =~ /ev/) ? 'bordered_prod' : '')
%td(valign='top')
  %a(href="#{certificate_url :id=>c.product_root}")
    .summary=c.description['summary']
    .title=c.title
    .starting_at
      -unless c.product_root=='free'
        as low as
      -else
        get for
      #{pricing(c)}/yr
  .more_info
    =link_to image_tag('more_info_sm_bl.gif', title: 'click to see this certificate'), certificate_url(c)
    -unless c.product_root=='free'
      =c.buy_link(true)
    -else
      =c.get_link(true)