.product_detail
  .p_body
    .p_points_container
      .p_points
        =@certificate.description["points"].html_safe unless @certificate.description.blank?
#comes_with_site_seal
  #container
    =image_tag(image_url("ssl_seal_1#{'_ev' if @certificate.is_ev?}.png", false), width: "130px")
    #description
      Each #{@certificate.title} certificate comes with the following #{community_name}
      Secured Smart SeaL logo to be displayed on secured websites.
      =link_to "Click here for details.", details_site_seals_path
.see_other_certificates
  %ul
    %li.heading Other Certificates
    -@certificates.each do |cert|
      -unless cert==@certificate
        %li=link_to cert.title, certificate_path(:id=>cert.product_root)
