.clearfix
  .product_detail
    .p_body
      .p_points_container
        .p_points
          =@certificate.description["points"] unless @certificate.description.blank?
  #comes_with_site_seal
    #container
      =image_tag @certificate.site_seal.preferred_seal_image
      #description
        Each #{@certificate.title} certificate comes with the following SSL.com
        Secured Site Seal logo to be displayed on secured websites.
        =link_to "Click here for details.", details_site_seals_path
  .see_other_certificates
    %ul
      %li.heading other SSL certificates
      -@certificates.each do |cert|
        -unless cert==@certificate
          %li=link_to cert.title, certificate_path(:id=>cert.product_root)
