-c={}
-c[:description]="Get your SSL Certificates, including Wildcard SSL and Multi Domain UCC from #{community_name}, a globally trusted SSL Certificate authority. Choose the SSL Certificate suited to your needs: Premium EV SSL, Premium EV Multi-Domain UCC SSL, Wildcard SSL & Free SSL. "
-c[:keywords]="buy ssl certificates, buy ssl certificate, ssl certificates, ev certificate, wildcard certificate, multiple subdomain ssl, free ssl certificate"
-c[:title]="SSL Certificate Products for Single and Multiple Domains"
-c.each do |k, v|
  -content_for k, c[k]
-unless current_user
  %h1=c[:title]
  %h2 Get 99.9% browser trusted strong ssl, wildcard and ev digital certificates
#certificate_listing
  %table(cellspacing="0")
    %tr
      %td(colspan=2)
        %h3
          =link_to 'single domain ssl certificates', single_domain_certificates_url
      %td(colspan=2)
        %h3
          =link_to 'wildcard and exchange (ucc) ssl certificates', wildcard_or_ucc_certificates_url
    -singles = @certificates.map{|c|c if(c.is_single? || c.is_premium_ssl?)}.compact
    -multis = @certificates.map{|c|c if(c.is_multi? && !c.is_premium_ssl?)}.compact
    -all = singles.zip(multis)
    -all.each_with_index do |c,i|
      -if (i % 2)==0
        %tr
          -unless c[0].blank?
            =render partial: "certificate_detail", locals: {c: c[0], i: i}
          -unless c[1].blank?
            =render partial: "certificate_detail", locals: {c: c[1], i: i}
          -else
            %td(colspan=2) &nbsp;
      -else
        %tr
          -unless c[0].blank?
            =render partial: "certificate_detail", locals: {c: c[0], i: i}
          -unless c[1].blank?
            =render partial: "certificate_detail", locals: {c: c[1], i: i}
          -else
            %td(colspan=2) &nbsp;
