-c={}
-c[:description]="Unified Communications Certificates (UCC) are SSL Certificates for Microsoft Exchange and Communications Server. A single UCC provides SSL secured communications on a number of different domains, greatly reducing complexity and cost."
-c[:keywords]="SAN certificate, ucc ssl, unified communications certificate, UC certificate, Secured server, Internet security, multi domain ssl, amazon aws ssl"
-c[:title]="Unified Communications Certificate (SANS UCC Certificate) Product Overview"
-c.each do |k, v|
  -content_for k, c[k]
%h3#certificate_crumbs
  =certificate_crumbs
.center_product_desc
  %h1
    Cover multiple domains with one SANS UC Certificate
  %h2.product_description
    Ideal for Microsoft Exchange, OWA, Amazon EC2 and virtual hosting
  .product_description_buy_certificate
    =link_to image_tag('buy_bl.gif', :title=>'click to buy this certificate'), buy_certificate_url(@certificate.product_root)
  =render :partial=>'big_pricing'
.bottom_product_desc
  %p
    The Unified Communications Certificate (commonly known as UC certificate, UCC certificate or SANS certificate)
    is a multi-domain ssl certificate that can secure up to 2000 domains.
    This is accomplished through the
    =link_to "Subject Alternative Name (SAN) field,", san_path
    and browsers check this field for a matching
    domain or ip address to one in the address bar.
  %p
    Since an ssl certificate binds to a single ip address, UCC is ideal for environments when multiple domain names,
    internal as well as global, need to be shared in a single ssl certificate such as Microsoft Exchange
    (OWA, Outlook Anywhere, ActiveSync, Autodiscovery, and SMTP) or Office Communications Server 2007.
    It also works great in virtual hosting environments or where multiple sites need to share a single ip address like
    in Amazon's EC2 cloud.
  %p
    Each #{Settings.community_name} UCC certificate comes with 99% browser acceptance, unlimited server licenses, the
    confidence building SSL Secure Smart SeaL, a $125,000 performance guarranty,
    24/7 telephone support staff, and unlimited reissues for the life of the
    certificate. We even offer a 30-day unconditional refund policy in the
    event you change your mind about UCC SSL on your website.
    Start building trust and secure your site today with a SAN/UC Certificate.
  %p
    For more information about how SAN/UC certificates work, please visit:
    =link_to "Subject Alternative Name / SAN Certificates / UC Certificate.", san_path
=render :partial=>'points_and_other_certs'
.product_description_buy_certificate
  =link_to image_tag('buy_bl.gif', :title=>'click to buy this certificate'), buy_certificate_url(@certificate.product_root)
=render :partial=>'big_pricing'
=render partial: 'bottom_info'