-c={}
-c[:description]="Enterprise EV UCC SSL Certificates offers the highest validation level to your customers. It provides SSL security for Microsoft Exchange and Communications Server on a number of different domains."
-c[:keywords]="EV UCC SSL, communications certificate, EV UC certificate, EV UCC certificate, Secured server, Internet security, multiple domain"
-c[:title]="Enterprise Extended Validation (EV) Multi Domain UCC SSL Certificate"
-c.each do |k, v|
  -content_for k, c[k]
%h3#certificate_crumbs
  =certificate_crumbs
.center_product_desc
  %h1
    Cover multiple domains with one EV UCC SSL
  %h2.product_description
    Unlock the green address bar with the highest validation assurance
  .product_description_buy_certificate
    =link_to image_tag('buy_bl.gif', :title=>'click to buy this certificate'), buy_certificate_url(@certificate)
  =render :partial=>'big_pricing'
.bottom_product_desc
  %p
    The Enterprise EV Unified Communications Certificate (UCC) provides SSL security for
    Microsoft Exchange and Communications Server. Unlike standard or even
    wildcard ssl certificates, a single Enterprise EV UCC can provide SSL secured
    communications on a number of different domains, both internal and external,
    reducing server security administration complexity, and cost. In addition,
    Enterprise EV UCC supports the Microsoft Exchange Auto discover service, a
    feature of the Exchange platform which greatly eases client administration.
  %p
    Today's sophisticated browsers come with enhanced security features to
    improve the browsing experience and help build trust and confidence when
    viewing modern websites. Enterprise EV UC Certificates were developed to take
    advantage of these enhanced capabilities.
  %p
    Offering the highest validation level to your customers, Enterprise EV UC
    Certificates increase trust among visitors by displaying your website
    address in bold, bright green. This bright green display tells your
    visitors that your company has gone through a rigorous validation process,
    backed by SSL Corp and our auditors, and that your website is trustworthy
    and ready for business. If you're not using Enterprise EV UC Certificates for
    your SAN/UCC SSL needs, then you're not tapping into the full potential of
    today's advanced browsers.
  %p
    The Unified Communications Certificate (commonly known as UC certificate, UCC certificate or SANS certificate)
    is a multi-domain ssl certificate that can secure up to 2000 domains.
    This is accomplished through the
    =link_to "Subject Alternative Name (SAN) field,", san_path
    and browsers check this field for a matching
    domain or ip address to one in the address bar.
  =image_tag "ucc_cert_ssl_com.jpg"
  %p
    Since an ssl certificate binds to a single ip address, EV UCC is ideal for environments when multiple domain names,
    internal as well as global, need to be shared in a single ssl certificate such as Microsoft Exchange
    (OWA, Outlook Anywhere, ActiveSync, Autodiscovery, and SMTP) or Office Communications Server 2007.
    It also works great in virtual hosting environments or where multiple sites need to share a single ip address like
    in Amazon's EC2 cloud.
  %p
    Each #{Settings.community_name} Extended Validation UCC certificate comes with 99% browser acceptance,
    unlimited server licenses, the
    confidence building SSL Secure Smart SeaL, a $250,000 performance guarranty,
    24/7 telephone support staff, and unlimited reissues for the life of the
    certificate. We even offer a 30-day unconditional refund policy in the
    event you change your mind about UCC SSL on your website.
    Start building trust and secure your site today with a SAN/UC Certificate.
  %p
    For more information about how SAN/UC certificates work, please visit:
    =link_to "Subject Alternative Name / SAN Certificates / UC Certificate.", san_path
=render :partial=>'points_and_other_certs'
.product_description_buy_certificate
  =link_to image_tag('buy_bl.gif', :title=>'click to buy this certificate'), buy_certificate_url(@certificate)
=render :partial=>'big_pricing'
=render partial: 'bottom_info'