-c={}
-c[:description]="Create confidence on your site with High Assurance SSL Certificates from #{Settings.community_name}, a globally trusted SSL Certificate authority. With each High Assurance SSL Certificate, get extending industry level validation and encryption technology."
-c[:keywords]="High Assurance SSL Certificate, High Assurance SSL, Buy High Assurance SSL, SSL Certificates, Secure site , Web Server SSL"
-c[:title]="High Assurance SSL Certificate product overview"
-c.each do |k, v|
  -content_for k, c[k]
%h3#certificate_crumbs
  =certificate_crumbs
.leftcolb
  .digital_signature_image_container
    =image_tag "digital_signature.jpg"
.right_product_desc
  %h1
    High Assurance SSL creates confidence
  %h2.product_description
    Provide security through robust SSL encryption technology
  .product_description_buy_certificate
    =@certificate.buy_link(true)
  =render :partial=>'big_pricing'
.bottom_product_desc
  %p
    Looking to send sensitive information over the Internet? Then your
    customers need strong encryption technology, and they need assurance
    from a trusted Certificate Authority such as #{Settings.community_name}. The solution is High
    Assurance SSL encryption technology. We provide a high level of validation
    to your customers, and since we are globally accepted in 99.9% of browsers
    used on the Internet your website will not get confidence-killing popups
    that result from untrusted or invalid SSL certificates. These popups make
    customers reluctant to do business with your site and will hurt your bottom
    line. Our vetting process is simple, quick, and meets the recommended
    requirements of the United States Department of Defense. With each High
    Assurance SSL certificate, you are extending industry level validation and
    encryption technology to each customer and transaction.
  %p
    SSL is an essential part of almost all electronic transactions involved in
    transmitting sensitive data such as usernames and passwords, credit card
    information, patient data and many other types of private material, and
    SSL is also a key component of PCI-compliance which is mandated for
    organizations wanting to accept credit card information. High Assurance
    SSL certificates meet all the criteria above and even add more value.
  %p
    With each High Assurance SSL certificate you implement, you get the
    confidence building SSL Secure Smart SeaL, a $125,000 performance guarranty,
    24/7 telephone support staff, and unlimited reissues for the life of the
    certificate. We even offer a 30-day unconditional refund policy in the
    event you change your mind about High Assurance SSL on your website.
    Start building trust and secure your site today with a High Assurance SSL
    certificate.
=render :partial=>'points_and_other_certs'
.product_description_buy_certificate
  =@certificate.buy_link(true)
=render :partial=>'big_pricing'
=render partial: 'bottom_info'