-c={}
-c[:description]="Enterprise Extended Validation (EV) SSL Certificate offers the highest level of trust to your website by displaying your website address in bold, bright green. Unlock EV SSL Certificate, the green address bar on your site and retain more sales."
-c[:keywords]="EV SSL, Extended Validation SSL, EV Certificate, EV SSL Certificate, SSL EV, EV Certificates, SSL EV Certificates, Extended Validation Certificates, Extended SSL, EV SSL Certificate"
-c[:title]="Extended Validation (EV) SSL Certificates - Get the Green Bar display"
-c.each do |k, v|
  -content_for k, c[k]
-content_for :title, "About #{@certificate.title} Certificates"
%h3#certificate_crumbs
  =certificate_crumbs
.leftcolb
  .go_green_with_ev_image_container
    =image_tag "go_green_with_ev_ssl.jpg"
.right_product_desc
  %h1
    Enterprise EV SSL offers the highest level of trust
  %h2.product_description
    Unlock the green address bar on your site and retain more sales
  .product_description_buy_certificate
    =@certificate.buy_link
  =render :partial=>'big_pricing'
.bottom_product_desc
  %h3 Enhanced Capabilities
  %p
    Today's sophisticated browsers come with enhanced security features to
    improve the browsing experience and help build trust and confidence when
    viewing modern websites. EV SSL Certificates were developed to take
    advantage of these enhanced capabilities.
  %h3 High Assurance
  %p
    Offering the highest validation level to your customers, EV SSL
    Certificates increase trust among visitors by displaying your website
    address in bold, bright green. This bright green display tells your
    visitors that your company has gone through a rigorous validation process,
    backed by SSL Inc and our auditors, and that your website is trustworthy
    and ready for business. If you're not using EV SSL certificates on your
    websites, then you're not tapping into the full potential of today's
    advanced browsers.
  %h3 Essential Security
  %p
    SSL is an essential part of almost all electronic transactions involved in
    transmitting sensitive data such as usernames and passwords, credit card
    information, patient data and many other types of private material, and
    SSL is also a key component of PCI-compliance which is mandated for
    organizations wanting to accept credit card information. Enterprise EV
    SSL certificates meet all the criteria above and even add more value.
  %h3 Warranty and Support
  %p
    With each EV SSL certificate you implement, you get the
    confidence building SSL Secure Smart SeaL, a $250,000 performance guarranty,
    24/7 telephone support staff, and unlimited reissues for the life of the
    certificate. We even offer a 30-day unconditional refund policy in the
    event you change your mind about EV SSL on your website.
  %p
    Unlock the latest security features with EV SSL and let your visitors know
    that you really mean business.
=render :partial=>'points_and_other_certs'
.product_description_buy_certificate
  =@certificate.buy_link(true)
=render partial: 'big_pricing'
=render partial: 'bottom_info'