/*---global common definitions--- */
* {
  font-size: 100.01%; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: white; }

img {
  border: 0; }

p, em {
  margin: 0.4em 0 0; }

em {
  display: block; }

a {
  color: #6b9029;
  outline: none;
  text-decoration: none;
  border-bottom-style: none; }

a:hover {
  text-decoration: none; }

#wrapper {
  padding: 1em;
  overflow: hidden;
  font-size: 1.2em; }

/* header */
#header {
  background-color: black;
  padding-left: 0;
  padding-bottom: 12px;
  padding-right: 0;
  padding-top: 0;
  width: 100%;
  background-image: image-url("sitesprite2.png");
  background-position: 0px -10px;
  background-repeat: repeat-x;
  font-family: Helvetica, Arial, sans-serif; }

#header .logo {
  display: block;
  width: 300px;
  height: 47px;
  margin: 12px 0 0;
  overflow: hidden;
  text-indent: -9999px;
  background-image: image-url("sitesprite1.png");
  background-position: -10px -10px;
  background-repeat: no-repeat; }

#header .logo a {
  height: 100%;
  display: block; }

#site_report_title {
  font-size: 1.1em; }

.section_header {
  padding: 0em 0.4em 1px;
  background: #e0e0ff;
  border-top: 1px solid #aaaaff; }

dt {
  margin-bottom: 0.2em; }

.attention {
  background-color: #ffcccc;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding: 0 0.1em; }

.warning {
  background-color: lightyellow;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
  padding: 0 0.1em; }

.approved {
  border-left: 1px solid green;
  border-right: 1px solid green;
  background-color: #ccffcc;
  padding: 0 0.1em; }
