<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#ssl_account_ssl_slug').keyup(function(){
      var slug         = $(this).val().replace(/\#|\&|\+|\s/g, ''),
          render       = $('#slug_validator'),
          validate_url = render.data('validate-slug') + '?ssl_slug_name=' + slug;
      $.get(validate_url).always(function(data) {
        if (data.message || (!slug.length && $('#ssl_account_create_team').length)){
          render.text('VALID: ' + slug).css('color','#6b9029')
            .append(' &rarr; https://www.ssl.com/team/' + slug);
          $('#slug_submit, #ssl_account_create_team').prop('disabled', false);
        } else {
          render.text('INVALID: ' + slug).css('color','#f00');
          $('#slug_submit, #ssl_account_create_team').prop('disabled', true);
        }
      });
      $(this).val(slug);
    });

    var appId = <%= @app_id.to_json.html_safe %>
    var registerRequests = <%= @registration_requests.to_json.html_safe %>;
    var signRequests = <%= @sign_requests.as_json.to_json.html_safe %>;

    $('.edit_setting_btn').click(function() {
      if($('input[name*=processed_certificate_recipients]:checkbox').is(':checked'))
        $('input[name*=processed_certificate_recipients]:checkbox').val(
          $('#processed_email').val());
      if($('input[name*=reminder_notice_destinations]:checkbox').is(':checked'))
        $('input[name*=reminder_notice_destinations]:checkbox').val(
          $('#reminder_email').val());
      if($('input[name*=receipt_recipients]:checkbox').is(':checked'))
        $('input[name*=receipt_recipients]:checkbox').val(
          $('#receipt_email').val());
      if($('input[name*=confirmation_recipients]:checkbox').is(':checked'))
        $('input[name*=confirmation_recipients]:checkbox').val(
          $('#confirmation_email').val());

      if ($('#is_register_u2f').prop('checked')) {
        if (confirm("Insert your token and press the button or cancel. \n Are you going to proceed?")) {
          u2f.register(appId, registerRequests, signRequests, function(registerResponse) {
            if (registerResponse.errorCode) {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              message_element.append('U2F Registration Error: ' + registerResponse.errorCode);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }
              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            } else {
              $('.u2f_response').val(JSON.stringify(registerResponse));
              $('.edit_ssl_account').submit();
            }
          });

          return false;
        }
      }

    });
  });
});
</script>
