-last_sent = co.csr.domain_control_validations.last_sent
-if last_sent.is_eligible_to_resend?
  %li
    %em automatic verification email sent:
    %ul
      %li(class="#{satisfied(last_sent)}") on: #{last_sent.sent_at.strftime("%b %d, %Y %R")}
      %li(class="#{satisfied(last_sent)}") to: #{last_sent.email_address}
  %li.category_border=link_to 'resend verification email', edit_certificate_order_validation_url(co)
-else
  %li
    %em no verification email has been sent
  %li.category_border=link_to 'send verification email', edit_certificate_order_validation_url(co)
