-other_party_request = @other_party_validation_request
-checkout_in_progress=co.validation_stage_checkout_in_progress?
.subheading Request Validation From Other Parties
%p
  If you need to refer all or part of the validation for this order to other parties, you may
  email this page to those parties who can complete the following steps outlined below.
.clearfix
  %label
    *validation provider:
  .dcv_choices
    .choice_w_desc.clearfix
      =radio_button_tag :refer_to_others, "false", flash[:opvr].blank?
      %span.clickable_choice I can provide all validation
    .choice_w_desc.clearfix
      =radio_button_tag :refer_to_others, "true", !flash[:opvr].blank?
      %span.clickable_choice Email this page to someone else
#request_validation_from_others.clearfix
  %label
    *email request to:
    %span.label_desc multiple addresses are comma separated
  .dcv_choices
    -if checkout_in_progress #non ajax
      =hidden_field_tag :other_party_requestable_type, co.class.to_s
      =hidden_field_tag :other_party_requestable_id, co.id
      .choice_w_desc.clearfix
        -if flash[:opvr_error]
          .field_with_errors
            =text_field_tag :email_addresses, flash[:email_addresses], size: HTML_TEXT_FIELD_SIZE
        -else
          =text_field_tag :email_addresses, flash[:email_addresses], size: HTML_TEXT_FIELD_SIZE
      -unless co.certificate.is_dv? || local_assigns[:hide_options]
        .choice_w_desc.clearfix
          =radio_button_tag :preferred_sections, OtherPartyValidationRequest::BOTH_SECTIONS
          %span.clickable_choice request document(s) and proof of domain control
        .choice_w_desc.clearfix
          =radio_button_tag :preferred_sections, OtherPartyValidationRequest::DCV_SECTION
          %span.clickable_choice request only proof of domain control
        .choice_w_desc.clearfix
          =radio_button_tag :preferred_sections, OtherPartyValidationRequest::DOCUMENTS_SECTION
          %span.clickable_choice request only document(s)
      .choice_w_desc.clearfix
        =check_box_tag :preferred_show_order_number
        %span.clickable_choice allow the order number to be shown in the request
    -else
      =form_for co.other_party_validation_requests.build(other_party_requestable: co), id: 'request_from_others', remote: true, "data-type"=>"json"  do |f|
        =f.hidden_field :other_party_requestable_type
        =f.hidden_field :other_party_requestable_id
        .choice_w_desc.clearfix
          =f.text_field :email_addresses, size: HTML_TEXT_FIELD_SIZE
        -unless co.certificate.is_dv? || local_assigns[:hide_options] || hide_dcv? || hide_documents?
          .choice_w_desc.clearfix
            =f.radio_button :preferred_sections, OtherPartyValidationRequest::BOTH_SECTIONS
            %span.clickable_choice request document(s) and proof of domain control
          .choice_w_desc.clearfix
            =f.radio_button :preferred_sections, OtherPartyValidationRequest::DCV_SECTION
            %span.clickable_choice request only proof of domain control
          .choice_w_desc.clearfix
            =f.radio_button :preferred_sections, OtherPartyValidationRequest::DOCUMENTS_SECTION
            %span.clickable_choice request only document(s)
        -if @other_party_validation_request.blank? || @other_party_validation_request.preferred_show_order_number?
          .choice_w_desc.clearfix
            =f.check_box :preferred_show_order_number
            %span.clickable_choice allow the order number to be shown in the request
        -unless checkout_in_progress
          .choice_w_desc
            =submit_tag "send request", class: 'shiny_blue_button dcv_email_choices', disable_with: 'sending...'
      %span#busy_sending=image_tag 'waiting_dots.gif'
