-content_for :title, "Outstanding Validations for SSL Certificates"
=render :partial => 'index_scripts'

#search_bar
  =form_tag :search_validations, id: 'search_form', :method=>:get do
    subject or ref#
    =text_field_tag :search, @search
    =hidden_field_tag :per_page, @per_page
    =submit_tag 'search'
#validations
  %table(cellspacing="0")
    -unless @certificate_orders.empty?
      %tfoot
        %tr
          %td.wrap_number_rows(colspan='2')
            =select_tag :number_rows,
            options_for_select([[5, 5], [10, 10], [20, 20], [50, 50], [100, 100]], @per_page),
            :class=>'per_page'
          %td(colspan='2')
          %td(colspan='4')
            = render partial: 'shared/paginate', locals: { collection: @certificate_orders }
    %caption
      Outstanding Validations for SSL Certificates
      -# = render partial: 'shared/paginate', locals: { collection: @certificate_orders }
    %tr.heading_row
      %td
      %th.name(scope="col")Subject
      %th(scope="col" colspan="3") Validation Status
      %th(scope="col") Action
    -if @certificate_orders.size > 0
      -@certificate_orders.includes(:certificate_contents).each_with_index do |co, i|
        -@cert_order = co
        -#-cc = co.certificate_content
        -#-next if !co.is_unused_credit? && cc.csr.blank?
        -#-cn = (co.is_unused_credit? || cc.csr.blank?) ? nil : cc.csr.common_name
        -v = co.validation
        %tr
          %td.dropdown=image_tag 'expand.png'
          %td.name
            =render :partial=>'/certificate_orders/subject_column', :locals=>{:certificate_order=>co}
          -os, os_class=overall_status(v.validation_rulings)
          %td.validation_status_message(class="#{os_class} vs_message_#{i}" colspan="3")=os
          %td=action(co)
        =render :partial=>"entry", :locals=>{:co=>co, :i=>i}
    -else
      %tr
        %td(colspan="6")
          No pending validations found
-#-else
  #validations
    %table(cellspacing="0")
