-if permitted_to?(:show, @contact.becomes(Contact))
  #dashboard
    %table.saved_contact{cellspacing: '0', align: 'left'}
      -if permitted_to?(:edit, @contact.becomes(Contact))
        %br
        %tr
          %td{colspan: '2'}
            =link_to 'Delete', contact_path(@ssl_slug, @contact.id, saved_contact: true), |
            method: :delete, class: 'button_blue button_show', |
            data: {confirm: 'Are you sure you want to delete this contact?'}
            =link_to 'Edit', edit_contact_path(@ssl_slug, @contact.id, saved_contact: true), |
            class: 'button_blue button_show'
      %tr.heading_row
        %th{colspan: '2'}
          =@contact.type
      -@contact.attributes.delete_if{|k,v| Contact::EXCLUDED_SAVED.include? k}.each_with_index do |(k, v), i|
        %tr{class: (i.even? ? 'colored_row' : '')}
          %td
            %strong
              ="#{k.humanize}:"
          %td=(k=='registrant_type' && !v.blank? ? Registrant::registrant_types.key(v) : v)