-title = "SSL Secured Site Report"
-content_for :title, title
-ss = @site_seal
-co = ss.certificate_order
-vhs = co.validation.validation_histories
-r = co.certificate_content.registrant
#wrapper
  =render 'report_header'
  %div
    %dl
      %dt.section_header
        documents for site
      %dd=co.subject
  %div
    %dl
      %dt.section_header site report
      %dd=link_to image_tag('b_icon_report.gif', :class=>"report_icon")+'click here to view the SSL site report', site_report_site_seal_url(co.site_seal)
  -vhs.each do |vh|
    -if vh.can_publish_to_site_seal?
      %div.clearfix
        %dl
          %dt.section_header=vh.satisfies_validation_methods.join(", ") unless vh.satisfies_validation_methods.blank?
          %dd.img=link_to image_tag(vh.authenticated_s3_get_url(style: :thumb)), vh.authenticated_s3_get_url(style: :preview), :class=>'img_preview', :rel=>'prettyPhoto'
          -unless vh.validation_rules.empty?
            %dd.satisfies_requirements
              As part of the validation process to confirm the identity of the
              operator of this webite, this document has been verified by
              ssl.com as satisfying the validation requirement(s):
              %ul
                -vh.validation_rules.each do |vr|
                  %li.requirement=vr.description

