-title = request.subdomain==Reseller::SUBDOMAIN ? "Reseller login" : "Customer login"
-content_for :title, title
=javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'
=stylesheet_link_tag "bootstrap_fix", :media => 'all'
=render :partial => 'index_scripts'
= javascript_include_tag 'u2f-api'
-failed_count = @failed_count || 0
-limited_count = Settings.captcha_threshold
.reseller_registration_profile
  =form_for @user_session, :url => user_session_path do |f|
    =f.error_messages
    %h3=title
    %p
      Login to your #{community_name} account to manage your SSL products and services including certificates,
      links, and monitoring and scanning apps. If you currently do not have an account,
      #{link_to "register for a free #{community_name} account", new_user_url}.
    #stylized.default_form
      .subheading Credentials
      =render :partial => "form", :object => f
      =hidden_field_tag 'u2f_response', '', :class => 'u2f_response'
      =hidden_field_tag 'logout', 'false', :class => 'u2f_logout'
      =hidden_field_tag 'failed_count', failed_count, :class => 'failed_count'
      -if failed_count >= limited_count.to_i
        #recaptcha_container
          =recaptcha_tags(:callback => 'enableSubmitBtn', :expired_callback => 'disableSubmitBtn')
      #forgot_container
        %p#forgot_username_or_password
          Forgot username or password?
          =link_to 'Remind me.', new_password_reset_url
        %p#resend_activation
          Not registered yet?
          =link_to 'Create a new account.', new_user_url
        %p#resend_activation
          Experiencing account activation problems?
          =link_to 'Resend activation notice.', activation_notice_users_url
    #button_container
      -if failed_count >= limited_count
        #next_submit=image_submit_tag "next_bl.gif", alt: "submit", class: "btn_login hidden", id: "btn_login"
      -else
        #next_submit=image_submit_tag "next_bl.gif", alt: "submit", class: "btn_login", id: "btn_login"
