-title = current_subdomain==Reseller::SUBDOMAIN ? "Reseller login" : "Customer login"
-content_for :title, title
.reseller_registration_profile
  =form_for @user_session, :url => user_session_path do |f|
    =f.error_messages
    %h3=title
    %p
      Login to your SSL.com account to manage your SSL products and services including certificates,
      links, and monitoring and scanning apps. If you currently do not have an account,
      #{link_to "register for a free ssl.com account", new_user_url}.
    #stylized.default_form
      .subheading Credentials
      =render :partial => "form", :object => f
      #forgot_container
        %p#forgot_username_or_password
          Forgot username or password?
          =link_to 'Remind me.', new_password_reset_url
        %p#resend_activation
          Not registered yet?
          =link_to 'Create a new account.', new_password_reset_url
        %p#resend_activation
          Experiencing account activation problems?
          =link_to 'Resend activation notice.', activation_notice_users_url
    #button_container
      #next_submit=image_submit_tag "next_bl.gif", alt: "submit"
