#shorten_prompt.clearfix
  =f.url_field :original, placeholder: "url to be shortened", size: 30
  -submit_value = current_page?(controller: :surls, action: :edit) ? "update" : "shorten"
  =submit_tag submit_value, class: 'shiny_silver_button'
  %span#busy_sending
    processing...
    =image_tag 'waiting_dots.gif'
#advanced_options_container
  #advanced_options.clearfix
    %label
      advanced options:
    .surl_choices
      .choice_w_desc.clearfix
        =f.check_box :share
        %span.clickable_choice display trust seal and share buttons
      .choice_w_desc.clearfix
        =f.check_box :set_access_restrictions
        %span.clickable_choice set access restrictions
      .choice_w_desc.clearfix
        .clearfix#restriction_field
          %label user name
          =f.text_field :username
          %label.field_name password
          =f.password_field :password
      .choice_w_desc.clearfix
        =f.check_box :require_ssl
        %span.clickable_choice require ssl encryption (https://)
