<script type="text/javascript">
jQuery(function($) {
  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.every)
  {
    Array.prototype.every = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            !fun.call(thisp, this[i], i, this))
          return false;
      }

      return true;
    };
  }

  //This prototype is provided by the Mozilla foundation and
  //is distributed under the MIT license.
  //http://www.ibiblio.org/pub/Linux/LICENSES/mit.license

  if (!Array.prototype.some)
  {
    Array.prototype.some = function(fun /*, thisp*/)
    {
      var len = this.length;
      if (typeof fun != "function")
        throw new TypeError();

      var thisp = arguments[1];
      for (var i = 0; i < len; i++)
      {
        if (i in this &&
            fun.call(thisp, this[i], i, this))
          return true;
      }

      return false;
    };
  }
  $(document).ready(function() {
    var show_documents=true;
    $(':radio[name*=has_documents]').click(function(){
      if($(this).val()=="false"){
        show_documents=false;
        $('#documents_upload_instructions, #multi_upload').hide();
        //$('#button_container').fadeIn();
      }
      else{
        show_documents=true;
        $('#documents_upload_instructions, #multi_upload').show();
        //$('#button_container').fadeOut();
      }
    });
    $('.has_csr_container').click(function(){
      $(this).siblings().filter(':radio[name*=has_documents]').click();
    });
      $('.clickable_choice').click(function(e){
        $(this).siblings().filter(':input').click();
      });
      $(':radio[name*=refer_to_others]').click(function(e){
        if($(this).val()=="false"){
          $('#request_validation_from_others').hide();
          $('#proof_of_dcv_section').show();
          $('#documents_upload_section').show();
          $('#documents_upload_heading').show();
        }
        else{
          $('#request_validation_from_others').show();
          $('#proof_of_dcv_section').hide();
          $('#documents_upload_section').hide();
          $('#documents_upload_heading').hide();
        }
      });
    $(':radio[name*=refer][value=false]').click();
    $(':radio[name*=has_documents][value=true]').click();
    $('#new_surl').livequery(
      'ajax:beforeSend', function(){
        $('#busy_sending').show();
        $(':submit').hide();
      }).livequery(
      'ajax:success', function(event, data, status, xhr){
        if(data!="null"){
          var surl = $("<span id='surl_link'></span>");
          surl.hide();
          data=$.parseJSON(data);
          $('#surl_container').html(surl);
          if(typeof data.original=="undefined"){
            var new_link = "http://"+Surl::URL+"/"+data.surl.identifier;
            surl.append("&raquo;<input readonly='readonly' name='generated_surl' value='"+new_link+"' />");
            $('#surl_instructions .old_link').html(data.surl.original);
            $('#surl_instructions .click_to_visit').html('<a href="'+new_link+
              '">click here to visit '+new_link+'</a>');
          }
          else{
            //assume an error
            surl.addClass('error').append("<span>"+data.original+"</span>");
          }
          $('.listd').hide();
          surl.fadeIn();
          $('#surl_instructions').fadeIn();
        }
      }).livequery('ajax:failure', function(xhr, status, error) {alert("failure!");}).livequery(
      'ajax:complete', function(data, status, xhr){
        $('#busy_sending').hide();
        $(':submit').show();
      });
      $("input[name=generated_surl]").livequery('focus', function(){
          // Select input field contents
          this.select();
      });
  });
});
</script>
