-c={}
-c[:description]="The original link this ssl shortcut points to has been blacklisted and may contain malware or phishing scams. Continue at you own risk."
-c[:keywords]="blacklisted malware phishing viruses bad page discontinue"
-c[:title] = "The original link this ssl shortcut points to has been blacklisted"
-c.each do |k, v|
  -content_for k, c[k]
=link_to image_tag("http://#{Surl::URL}/images/sslscan.png"), "http://links.ssl.com"
%h1 Stop! The requested link #{@surl.original} has been backlisted and you are advised not to continue.
%h2 If you understand but want to continue at your own risk, #{link_to "click here", @surl.original}
-#%div
-#  Stop - there might be a problem with the requested link
-#
-#  The link you requested has been identified by bitly as being potentially problematic. This could be because a bitly user has reported a problem, a black-list service reported a problem, because the link has been shortened more than once, or because we have detected potentially malicious content. This may be a problem because:
-#
-#  Some URL-shorteners re-use their links, so bitly can't guarantee the validity of this link.
-#  Some URL-shorteners allow their links to be edited, so bitly can't tell where this link will lead you.
-#  Spam and malware is very often propagated by exploiting these loopholes, neither of which bitly allows for.
-#
-#  The link you requested may contain inappropriate content, or even spam or malicious code that could be downloaded to your computer without your consent, or may be a forgery or imitation of another website, designed to trick users into sharing personal or financial information.
-#  bitly suggests that you
-#
-#  Change the original link, and re-shorten with bitly
-#  Close your browser window
-#  Notify the sender of the URL
-#
-#  Or, continue at your own risk to
-#  http://myrindustry.com/
-#
-#  You can learn more about harmful content at www.StopBadware.org
-#  You can find out more about phishing from www.antiphishing.org
-#  For more information or to report a false positive please contact support+spam@bit.ly
-#
-#  Read more about bitly's spam and antiphishing partners here
-#
-#  Publish with bitly and protect your links
