%h1 Small Secure Links Disclaimer
%p
  Although our technical staff incorporates the latest in malware detection technology, SSL Corp,
  the parent company of SSL.com, makes no claims or warranties whatsoever as to the
  reliability of the Small Secure Links service. Use at your own discretion.