-content_for :header, 'public'
=render :partial => '/surls/index_scripts'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1
        Editing SSL link #{@surl.full_link}
      %h2
        change original link, access, ssl protocol, and/or sharing settings
      %section.search_container#surl_stylized
        =form_for @surl, id: "surl_form" , remote: true do |f|
          =render partial: "form", locals: {f: f}
