-content_for :header, 'public'
=render :partial => '/surls/index_scripts'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1
        Shrink Urls with Shortened Secure Links (SSL)
      %h2
        Share, track, protect, scan and analyze your links
      .leftcolb
        %section.search_container#surl_stylized
          -#%form#new_surl
          -#  #shorten_prompt
          -#    =text_field_tag :url, nil, placeholder: "url to be shortened", size: 30
          =form_for @surl, id: "surl_form" , remote: true do |f|
            #shorten_prompt
              =f.url_field :original, placeholder: "url to be shortened", size: 30
              =submit_tag "Shorten", class: 'shiny_silver_button'
              %span#busy_sending
                processing...
                =image_tag 'waiting_dots.gif'
            #advanced_options_container
              #advanced_options.clearfix
                %label
                  advanced options:
                .surl_choices
                  .choice_w_desc.clearfix
                    =f.check_box :share
                    %span.clickable_choice display social share buttons
                  .choice_w_desc.clearfix
                    =check_box_tag :set_access_restrictions, false
                    %span.clickable_choice set access restrictions
                  .choice_w_desc.clearfix
                    .clearfix#restriction_field
                      %label user name
                      =f.text_field :username
                      %label.field_name password
                      =f.text_field :username
                  .choice_w_desc.clearfix
                    =f.check_box :require_ssl
                    %span.clickable_choice require ssl encryption (https://)
      .rightcolc
        %ul.listd
          %li
            ssl.com links are small and secure
          %li
            links are scanned daily for malware
          %li
            restrict access with an optional password
          %li
            share links through twitter and facebook
          %li
            review the number of visits a link receives
          %li
            ssl.com links never expire
          %li
            it's FREE
        #surl_container
        #surl_instructions
          copy the ssl link above and paste it anywhere to substitute for the
          %span.old_link
          link or
          %span.click_to_visit
      %table#manage_current_links(cellspacing=0)
        %tr
          %th ssl link
          %th original link
          %th visits
          %th details
        -@surls.each_with_index do |surl, i|
          %tr(class="#{cycle('even', 'odd')}")
            %td http#{'s' if surl.require_ssl}://ssl.com/#{surl.identifier}
            %td=surl.original
            %td 0
            %td=link_to "details", surl
      -#%p
      -#  Let everyone know you are using secure links with the foremost name in security by using the ssl.com
      -#  domain name as your secure linking service. All links display an ssl daily scanned report near the top
      -#  to let people know the link is safe.

