#credit_card_owner
  .subheading Billing Information
  #billing_profile_details
    -for column in BillingProfile::BILLING_INFORMATION_COLUMNS
      -required = BillingProfile::REQUIRED_COLUMNS.include? column
      .clearfix
        -if column == "country"
          -country = params[:billing_profile][:country] if params[:billing_profile]
          =country_select_field_for form, column, BillingProfile::TOP_COUNTRIES, {format: "no_div", required: required, selected: (country || 'United States')}
        -else
          =text_field_for form, column, (BillingProfile::EXTENDED_FIELDS.include? column)? ADDRESS_FIELD_SIZE : nil, nil, :format=>"no_div", :required=>required
=render partial: 'billing_profiles/form_card', locals: {form: form, only_billing_profile: only_billing_profile}
#what_is_security_code
  %table#what_is_security_code_table{:align=>"center"}
    %tbody
      %tr
        %td{:colspan=>"2"} Security Code
      %tr
        %td{:colspan=>"2"}
          The card security code
          is a unique three or four-digit number printed on your
          debit/credit card. The number is not embossed on the card so
          that it cannot be printed on receipts - making it difficult
          for anyone other than the genuine cardholder to know it.
      %tr
        %td{:colspan=>"2"} &nbsp;
      %tr
        %td= image_tag 'card.gif'
        %td
          Some cards, many UK-issued
          cards for example, have a three-digit number printed at the
          top of the signature strip on the reverse of the card.
      %tr
        %td= image_tag 'amex.gif'
        %td
          Others, American Express
          cards for example, have a four-digit number printed on the
          front of the card, above the account number.
      %tr
        %td{:colspan=>"2"} &nbsp;
      %tr
        %td{:colspan=>"2"} Billing Address
      %tr
        %td{:colspan=>"2"}
          This should be the address
          to which your card statement is sent. It must match the
          address held by your card issuer exactly. If it does not,
          the retailer may decline your purchase, or defer acceptance
          of your payment and seek further proof of your address.
