-if BillingProfile.gateway_stripe?
  =javascript_include_tag 'https://js.stripe.com/v2/', 'https://js.stripe.com/v3/'
  :javascript
    setTimeout(function(){
      Stripe.setPublishableKey("#{Rails.application.secrets.stripe_publishable_key}");
    }, 1000);
-else
  -accept = in_production_mode? ? 'js' : 'jstest'
  =javascript_include_tag "https://#{accept}.authorize.net/v1/Accept.js"
    
-today_year = Date.today.year
-gateway    = BillingProfile::GATEWAY
-keys       = gateway=='stripe' ? {} : BillingProfile.anet_public_keys
#credit_card_details{data: {gateway: gateway}.merge(keys)}
  .subheading
    Credit Card Information
  .clearfix
    =form.label :credit_card, '*Credit Card:'
    =form.select :credit_card, BillingProfile::CREDIT_CARDS
    =form.label :credit_card, image_tag('logo_cards_150x26.gif', style: 'vertical-align: middle;float: left;margin-left:1rem')
  .clearfix
    =form.label :card_number, '*Card Number:'
    =form.text_field :card_number, {"data-private" => "redact"}
  .clearfix
    -if params[:billing_profile]
      -exp_month = params[:billing_profile][:expiration_month]
      -exp_year  = params[:billing_profile][:expiration_year]
    =form.label :expiration, '*Expiration:'
    =form.select :expiration_month, options_for_select((1..12).to_a, (exp_month || 1))
    =form.select :expiration_year, options_for_select((today_year..(today_year + 10)).to_a, (exp_year || today_year))
  .clearfix
    =form.label :security_code, '*Security Code:'
    =form.text_field :security_code, value: nil, size: 4, "data-private": "redact"
    =link_to image_tag('question_mark.png'), '#what_is_security_code', rel: 'prettyPhoto', id: 'what_is_security_code_link'
  -if only_billing_profile
    .clearfix
      #button_container
        =image_submit_tag('bl_submit_button.gif', class: 'center')

:javascript
  jQuery(function($) {
    // Require CC target fields if form is already expanded upon redirect or render
    setTimeout(function() {
      var new_user_card = $('#new_user_section').length && $('#payment_method_credit_card').is(':checked'),
          button = $('#toggle_billing_profile_form');
      if ((button.length && button.attr('src').includes('hide')) || new_user_card) {
        if (!new_user_card) {
          $("input[type='radio']").first().click();
          button.click();
        }
        $.profileRequiredToggle('enable');
      }
    }, 1000);
  });
