-title = 'Billing Profiles'
-content_for :title, title
=render partial: 'funded_accounts/index_scripts'
#search_bar
  =form_tag :billing_profiles, :method=>:get do
    =text_field_tag :search, @search
    =submit_tag 'search'
#validations
  %table(cellspacing='0')
    -if will_paginate @billing_profiles
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @billing_profiles
    %caption
      =title
    %tr.heading_row
      %th(scope='col')Method
      %th(scope='col')Card Number
      %th(scope='col')Expiry Date
      %th(scope='col')Added
      %th(scope='col')Default
      %th(scope='col')
    -@billing_profiles.reject{|bp|bp.expired?}.each do |profile|
      -if permitted_to?(:edit, profile) || current_user.is_system_admins?
        %tr[profile]
          %td#card-name
            =profile.credit_card
          %td
            =current_user.is_super_user? ? profile.card_number : profile.masked_card_number
          %td
            %strong
              ="%02d/%04d" % [profile.expiration_month, profile.expiration_year]
          %td
            =profile.created_at.strftime('%F')
          %td
            -if profile.default_profile
              ="&#10003;".html_safe
            -else
              =link_to "set default", billing_profile_path(@ssl_slug, profile.id, set_default: true),      |
              data: {confirm: "Change default billing profile to card ending in #{profile.last_digits}?"}, |
              method: :put, id: 'btn-bp-default'
          %td= destroy_credit_card_link(profile, id: 'btn-bp-delete')

-if permitted_to? :index, :billing_profiles
  %a#expand_register_card{href: 'javascript:void(0);'}
    =image_tag 'add_new_billing_profile.png', alt: 'click here to add a new credit card', id: 'toggle_billing_profile_form'
  #stylized.billing_index_form
    #register_card_form{initial_display?}
      =error_messages_for 'billing_profile'
      =form_for @billing_profile do |form|
        =hidden_field_tag :manage_billing_profiles, true
        =render partial: 'billing_profiles/form', locals: {form: form, only_billing_profile: true}
