#social_share
  -if in_production_mode?
    #twitter
      %a.twitter-share-button{"data-count" => "none", :href => "http://twitter.com/share?text=Have%20questions%20about%20SSL%20Certificates%3F%20%20Go%20to%20http%3A%2F%2Fssl.com%2FdM%20and%20post%20them%20on%20our%20Facebook%20page!%20%40sslcorp"} Tweet
      %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
    #google
      /Place this tag where you want the +1 button to render
      %g:plusone(size="medium")
      /Place this render call where appropriate
      :javascript
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    #facebook
      .fb-like(data-send="false" data-layout="button_count" data-width="450" data-show-faces="false")