#header
  .inner
    %table#at_a_glance_header
      %tbody
        %tr
          %th.validations=link_to "INCOMPLETE ORDERS", incomplete_certificate_orders_path
          %th.certificate_status=link_to "SSL CERTS PROCESSING", pending_certificate_orders_path
          -if current_user.ssl_account.has_credits?
            %th.certificate_status=link_to "AVAILABLE CREDITS", credits_certificate_orders_path
          %th.certificate_status=link_to "ITEMS IN CART", show_cart_orders_url
          -if show_short_links?
            %th.certificate_status=link_to "SHORTEN LINKS", root_url(subdomain: "links")
          %th=link_to 'Logout', logout_url
        %tr#info
          %td.validations=link_to current_user.ssl_account.certificate_orders.incomplete.count, incomplete_certificate_orders_path
          %td.certificate_status=link_to current_user.ssl_account.certificate_orders.pending.count, pending_certificate_orders_path
          -if current_user.ssl_account.has_credits?
            %td.certificate_status=link_to current_user.ssl_account.certificate_orders.unused_credits.count, credits_certificate_orders_path
          %td.certificate_status#cart_items_qty=link_to cart_items_count, show_cart_orders_url
          %td
    %span.logo=link_to "", root_url
#content
  .containerp
    =render :partial=>"layouts/standard_menu"
    .inner
      =render :partial => "shared/messages"
      =yield
