-show_teams = current_user.get_all_approved_accounts.length > SslAccount::SHOW_TEAMS_THRESHOLD
#header
  -unless is_new_order_page?
    .inner
      %table#at_a_glance_header
        %tbody
          %tr
            -funded_account = current_user.ssl_account.funded_account
            -if show_teams
              %th{colspan: 2} CURRENT TEAM
            -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
              %th.validations=link_to "INCOMPLETE", incomplete_certificate_orders_path
              %th.certificate_status=link_to "PROCESSING", filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
            -unless funded_account.blank? || !permitted_to?(:allocate_funds, funded_account)
              %th.certificate_status=link_to "AVAILABLE FUNDS", allocate_funds_url
            -if current_user.ssl_account.has_credits?
              %th.certificate_status=link_to "CREDITS", credits_certificate_orders_path
            -if permitted_to? :create, :orders
              %th.certificate_status=link_to "CART ITEMS", show_cart_orders_url
            %th
            %th.certificate_status=link_to 'Logout', logout_url
          %tr#info
            -if show_teams
              =render partial: 'shared/ssl_accounts'
              %td
            -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
              %td.validations=link_to current_user.ssl_account.certificate_orders.incomplete.count, incomplete_certificate_orders_path
              %td.certificate_status=link_to current_user.ssl_account.certificate_orders.pending.count, filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
            -unless funded_account.blank? || !permitted_to?(:allocate_funds, funded_account)
              %td.certificate_status=link_to funded_account.amount(true).format(:with_currency=>false), allocate_funds_url(ssl_slug: @ssl_slug)
            -if current_user.ssl_account.has_credits?
              %td.certificate_status=link_to current_user.ssl_account.certificate_orders.credits.count, credits_certificate_orders_path
            -if permitted_to? :create, :orders
              %td.certificate_status#cart_items_qty=link_to cart_items_count, show_cart_orders_url
            -unless @team_invites.nil?
              %td.notifications
                =render partial: 'shared/notifications'
            %td{colspan: 1}
      %span.logo=link_to("", root_url) unless is_new_order_page?
  -else
    .content
      .logo
      .navigation
        .top_navigation
          %ul{style: "float:left;"}
            %li
              %span.icn_live &nbsp;
              %a#live_chat{:href => "#"} Live Chat
#content
  .containerp
    -unless is_new_order_page?
      =render :partial=>"layouts/standard_menu"
    .inner
      =render :partial => "shared/messages"
      =yield
