-show_teams = current_user.get_all_approved_accounts.length > SslAccount::SHOW_TEAMS_THRESHOLD
#header
  -unless is_new_order_page?
    .inner
      %table#at_a_glance_header
        %tbody
          %tr
            -if show_teams
              %th{colspan: 2} CURRENT TEAM
            -unless is_sandbox? || current_user.role_symbols==[:individual_certificate]
              -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
                -permitted_to? :index, :certificate_orders do
                  %th.validations=link_to "INCOMPLETE", incomplete_certificate_orders_path
                  %th.certificate_status=link_to "PROCESSING", filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
              -if current_user.ssl_account.has_credits?
                %th.certificate_status=link_to "CREDITS", credits_certificate_orders_path
              -if permitted_to? :create, :orders
                %th.certificate_status=link_to "CART ITEMS", show_cart_orders_url
              %th
            %th.certificate_status=link_to 'Logout', logout_url
          %tr#info
            -if show_teams
              =render partial: 'shared/ssl_accounts'
              %td
            -unless is_sandbox? || current_user.role_symbols==[:individual_certificate]
              -if current_user.is_validations? || permitted_to?(:update, :certificate_orders)
                -permitted_to? :index, :certificate_orders do
                  %td.validations=link_to current_user.ssl_account.cached_certificate_orders_incomplete_count, incomplete_certificate_orders_path
                  %td.certificate_status=link_to current_user.ssl_account.cached_certificate_orders_pending_count, filter_by_scope_certificate_orders_path(@ssl_slug, "pending")
              -if current_user.ssl_account.has_credits?
                %td.certificate_status=link_to current_user.ssl_account.cached_certificate_orders_credits_count, credits_certificate_orders_path
              -if permitted_to? :create, :orders
                %td.certificate_status#cart_items_qty=link_to cart_items_count, show_cart_orders_url
              -unless @team_invites.nil?
                %td.notifications
                  =render partial: 'shared/notifications'
              %td{colspan: 1}
      %span.logo=link_to("", root_url) unless is_new_order_page?
  -else
    .content
      .logo
      .navigation
        .top_navigation
          %ul{style: "float:left;"}
            %li
              %span.icn_live &nbsp;
              %a#live_chat{:href => "#"} Live Chat
#content
  .containerp
    -unless is_new_order_page?
      =render :partial=>"layouts/standard_menu"
    .inner
      =render :partial => "shared/messages"
      =yield
