!!!
%html(xmlns:fb="facebook.com/2008/fbml" itemscope="" itemtype="http://schema.org/Organization")
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= h(yield(:title).or_else(Settings.meta_title)) + " | SSL.com"
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    /%meta{ :name => "keywords", :content => h(yield(:keywords).or_else(Settings.meta_keywords))}
    %meta{ :name => "description", :content => h(yield(:description).or_else(Settings.meta_description)) }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %meta(content="width=1115" name="viewport")
    -#the following metas are for google+ custom message
    %meta(itemprop="name" content="Educating the public about SSL Certificates | SSL.com")
    %meta(itemprop="description" content="Have questions about SSL Certificates? Post them on our Facebook wall at http://ssl.com/dM!")
    -#the following metas are for facebook custom message
    %meta(property="og:title" content="Educating the public about SSL Certificates | SSL.com")
    %meta(property="og:description" content="At SSL.com, our vision is to create public awareness on the importance of SSL Certificates.  Have questions?  Post them on our Facebook wall using the link above and we will do our best to respond to your comments as soon as possible.")
    %meta(property="og:type" content="product")
    %meta(property="og:image" content="/images/SSL.com-social_profile_pic.png")
    %meta(property="og:fb:app_id" content="175898732515690")
    =csrf_meta_tag
    =render :partial => "shared/scripts_and_styles"
  %body
    =render partial: "layouts/facebook"
    -#=render partial: "layouts/uservoice"
    -if show_short_links?
      #answers(style="text-align: center;width: 100%; background-color: orange; padding: 2px 0; font-family: sans-serif; font-size: 1.2em; font-weight: bold;")
        Have a question or solution?
        =link_to "Be sure to visit the SSL.com IT Security Q&A free community site.", "http://answers.ssl.com", style: "text-decoration: underline; color: #111"
    #wrapper
      -if (current_user.blank?) || yield(:header)=='public' || yield(:header)=='public_wo_container'
        -unless current_subdomain==Reseller::SUBDOMAIN
          -if current_page?(action: "buy_now")
            =render :partial => '/layouts/public_new'
          -else
            =render :partial => '/layouts/public'
        -else
          =render :partial => '/layouts/public_resellers'
      -elsif (permitted_to?(:delete, User.last))
        =yield(:header)
        =render :partial => '/layouts/admin'
      -elsif current_user.ssl_account.is_registered_reseller?
        =yield(:header)
        =render :partial => '/layouts/reseller'
      -else
        =yield(:header)
        =render :partial => '/layouts/standard'
      .push
    #footer
      -if current_page? action: "buy_now"
        =render partial: '/layouts/footer_new'
      -else
        =render partial: '/layouts/footer'
    #swifttagcontainerwoyxz3g3q4
      #proactivechatcontainerwoyxz3g3q4
      #swifttagdatacontainerwoyxz3g3q4(style="display: inline;")
    -if Rails.env=~/production/i
      :javascript
        var swiftscriptelemwoyxz3g3q4=document.createElement("script");swiftscriptelemwoyxz3g3q4.type="text/javascript";
        var swiftrandom = Math.floor(Math.random()*1001); var swiftuniqueid = "woyxz3g3q4";
        var swifttagurlwoyxz3g3q4="https://support.ssl.com/visitor/index.php?/Default/LiveChat/HTML/SiteBadge/cHJvbXB0dHlwZT1jaGF0JnVuaXF1ZWlkPXdveXh6M2czcTQmdmVyc2lvbj00LjAxLjMyNiZwcm9kdWN0PUZ1c2lvbiZzaXRlYmFkZ2Vjb2xvcj13aGl0ZSZiYWRnZWxhbmd1YWdlPWVuJmJhZGdldGV4dD1saXZlaGVscCZvbmxpbmVjb2xvcj0jMTk4YzE5Jm9ubGluZWNvbG9yaG92ZXI9IzVmYWY1ZiZvbmxpbmVjb2xvcmJvcmRlcj0jMTI2MjEyJm9mZmxpbmVjb2xvcj0jYTJhNGFjJm9mZmxpbmVjb2xvcmhvdmVyPSNiZWMwYzUmb2ZmbGluZWNvbG9yYm9yZGVyPSM3MTczNzgmYXdheWNvbG9yPSM3MzdjNGEmYXdheWNvbG9yaG92ZXI9IzllYTQ4MSZhd2F5Y29sb3Jib3JkZXI9IzUxNTczNCZiYWNrc2hvcnRseWNvbG9yPSM3ODhhMjMmYmFja3Nob3J0bHljb2xvcmhvdmVyPSNhMWFlNjYmYmFja3Nob3J0bHljb2xvcmJvcmRlcj0jNTQ2MTE5JmN1c3RvbW9ubGluZT0mY3VzdG9tb2ZmbGluZT0mY3VzdG9tYXdheT0mY3VzdG9tYmFja3Nob3J0bHk9CmFmZDI4OTJkNjk1NzZlZDdhMmQ0NmFlZGU3NzQzYzJkM2FkMTE0YzA=";setTimeout("swiftscriptelemwoyxz3g3q4.src=swifttagurlwoyxz3g3q4;document.getElementById('swifttagcontainerwoyxz3g3q4').appendChild(swiftscriptelemwoyxz3g3q4);",1);

