!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %title= h(yield(:title) || "SSL.com Certificates, SSL Certificates, EV Certificates, Wildcard Certificates, and Internet Security") + " | SSL.com"
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    %meta{ :name => "keywords", :content => "SSL.com Certificates, SSL Certificates, EV Certificates, Wildcard Certificates" }
    %meta{ :name => "description", :content => "SSL.com simplifies SSL certificate procurement and implementation. Integrate security into your websites and applications with SSL.com certificates." }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    =render :partial => "shared/scripts_and_styles"
  %body
    #wrapper
      -if (current_user.blank?) || yield(:header)=='public'
        -unless current_subdomain==Reseller::SUBDOMAIN
          =render :partial => '/layouts/public'
        -else
          =render :partial => '/layouts/public_resellers'
      -elsif (permitted_to?(:delete, User.last))
        =yield(:header)
        =render :partial => '/layouts/admin'
      -elsif current_user.ssl_account.is_registered_reseller?
        =yield(:header)
        =render :partial => '/layouts/reseller'
      -else
        =yield(:header)
        =render :partial => '/layouts/standard'
    #footer
      #global_footer.clearfix
        #logo_box
        %ul.section_box
          %h4 Products
          -Certificate.root_products.each do |c|
            %li=link_to c.title, certificate_url(:id=>c.product_root)
          %li=link_to "Secured Site Seal", details_site_seals_path
          %li=link_to "Site Seal Artifacts", details_site_seals_path
        %ul.section_box
          %h4 Programs
          %li=link_to "Resellers", root_url(:subdomain=>'reseller')
          %li=link_to "RESTful API", restful_api_path
          -Reseller::TARGETED.each do |t|
            %li=send :link_to, t.titleize, "#{t}".to_sym
        %ul.section_box
          %h4 Support
          %li=link_to "Resources", "http://support.ssl.com/"
          %li=link_to "FAQ", "http://faq.ssl.com/"
          %li=link_to "Forum", "http://forums.ssltools.com"
          %li=link_to "Open Ticket", "http://support.ssl.com/index.php?_m=tickets&_a=submit"
          %li=link_to "SSL Tools", "http://www.ssltools.com"
          %li Chat
        %ul.section_box
          %h4 More from SSL.com
          %li News
          %li Blog
          %li SSL.com on Twitter
          %li SSL.com on Facebook
        %ul.section_box
          %h4 Company
          %li About SSL.com
          %li=link_to "Contact Us", :controller=>'site', :action=>'contact_us'
          %li CA Repository
          %li Webtrust Audit
          %li Help
          %li Press Room
          %li Careers
          %li Sitemap
      #copyright_statement
        &copy;2010 SSL.COM CORP ALL RIGHTS RESERVED.
        %a.footer_link{ :href => "/privacy-policy/" } Privacy Policy
        %a.footer_link{ :href => "/terms_service/" } Terms of Service

    -#
      #footer
        .inner
          %ul.nav
            %li=link_to "Home", root_url
            %li=link_to "Resellers", root_url(:subdomain=>'reseller')
            %li=link_to "Products", certificates_path
            %li=link_to "Pricing & Sign Up", reseller_tiers_path
            %li
              %a{ :href => "/about-us/" }
                About Us
            %li
              %a{ :href => "/news/" }
                News
            %li=link_to "Support", "http://support.ssl.com/"
            %li
              %a{ :href => "/contact-us/" }
                Contact Us
          %p
            © Copyright 2010 SSL. All rights reserved.
            %a{ :href => "/terms-conditions/" }
              Terms &amp; Conditions
            \.
            %a{ :href => "/privacy-policy/" }
              Privacy Policy
            \.
            %span
              %a{ :href => "http://support.ssl.com/faqs/api" }
                API Documentation.
            %span
              %a{ :href => "/sitemap/" }
                Sitemap.
