!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

    %title= h(yield(:title) || "SSL Certificates, EV Certificates, Wildcard Certificates, and Internet Security") + " | SSL.com"
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    %meta{ :name => "keywords", :content => "recurring billing, subscription billing, saas billing, recurring billing API, credit card recurring billing, payment processing, subscription management, automated billing, recurring credit card billing, web 2.0 billing" }
    %meta{ :name => "description", :content => "Chargify simplifies recurring billing for Web 2.0 and SaaS companies. Build innovative web applications without worrying how to bill your customers." }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    =render :partial => "shared/scripts_and_styles"
  %body
    #cboxOverlay{ :style => "display: none;" }
    #colorbox{ :style => "padding-bottom: 42px; padding-right: 42px; display: none;" }
      #cboxWrapper
        %div
          #cboxTopLeft{ :style => "float: left;" }
          #cboxTopCenter{ :style => "float: left;" }
          #cboxTopRight{ :style => "float: left;" }
        %div
          #cboxMiddleLeft{ :style => "float: left;" }
          #cboxContent{ :style => "float: left;" }
            #cboxLoadedContent{ :style => "width: 0px; height: 0px; display: none;" }
            #cboxLoadingOverlay{ :style => "display: none;" }
            #cboxLoadingGraphic{ :style => "display: none;" }
            #cboxTitle{ :style => "display: none;" }
            #cboxCurrent{ :style => "display: none;" }
            #cboxSlideshow{ :style => "display: none;" }
            #cboxNext{ :style => "display: none;" }
            #cboxPrevious{ :style => "display: none;" }
            #cboxClose{ :style => "display: none;" }
          #cboxMiddleRight{ :style => "float: left;" }
        %div
          #cboxBottomLeft{ :style => "float: left;" }
          #cboxBottomCenter{ :style => "float: left;" }
          #cboxBottomRight{ :style => "float: left;" }
    #wrapper
      #header
        .inner
          %ul.nav
            %li
              %a{ :href => "http://chargify.com/blog/" }
                Blog
            %li
              %a{ :href => "http://chargify.com/about-us/" }
                About Us
            %li
              %a{ :href => "http://support.chargify.com/" }
                Support
            %li=link_to "Login", new_user_session_url
          %ul#menu
            %li.active
              =link_to "Home", root_url
            %li
              %a{ :href => "http://chargify.com/how-it-works/" }
                How It Works
            %li
              %a{ :href => "http://chargify.com/features/recurring-billing-system/" }
                Features
            %li
              %a{ :href => "http://chargify.com/pricing-and-signup/" }
                Pricing &amp; Sign Up
          %span.logo
            %a{ :href => "http://www.ssl.com/" }
              %span SSL
      #content
        -if current_page?(:controller=>:site)

          =yield
        -else
          =yield
      #footer
        .inner
          %ul.nav
            %li
              %a{ :href => "http://chargify.com/" }
                Home
            %li
              %a{ :href => "http://chargify.com/how-it-works/" }
                How It Works
            %li
              %a{ :href => "http://chargify.com/features/recurring-billing-system/" }
                Features
            %li
              %a{ :href => "http://chargify.com/pricing-and-signup/" }
                Pricing &amp; Sign Up
            %li
              %a{ :href => "http://chargify.com/about-us/" }
                About Us
            %li
              %a{ :href => "http://chargify.com/news/" }
                News
            %li
              %a{ :href => "http://chargify.com/careers/" }
                Careers
            %li
              %a{ :href => "http://support.chargify.com/" }
                Support
            %li
              %a{ :href => "http://chargify.com/contact-us/" }
                Contact Us
          %p
            © Copyright 2010 SSL. All rights reserved.
            %a{ :href => "http://chargify.com/terms-conditions/" }
              Terms &amp; Conditions
            \.
            %a{ :href => "http://chargify.com/privacy-policy/" }
              Privacy Policy
            \.
            %span
              %a{ :href => "http://support.chargify.com/faqs/api" }
                API Documentation.
            %span
              %a{ :href => "http://chargify.com/sitemap/" }
                Sitemap.
    #preload
    #preloadb
